{% extends "account/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div class="page-header">
    <p><a class="link--breadcrumb" href="{% url 'index' %}">{% trans "Home" %}</a></p>
    <h1>{% trans "Log in" %}</h1>
</div>
<div class="stack">
  <p>{% trans 'Please sign in with your email address and password.' %}</p>
  <form class="login form" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <div class="spacer"></div>
      <button id="button" type="submit" class="button">
          <span class="button__label">{% trans "Log in" %}</span>
      </button>
  </form>
  <p><a href="{% url 'account_reset_password' %}">Lost password?</a></p>
  <p><a href="{{ signup_url }}">Create an account</a></p>
</div>
{% endblock %}
