{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="page-header">
    <p><a class="link--inverse" href="{% url 'index' %}">Home</a></p>
    <h1>{% trans "Change Password" %}</h1>
</div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="spacer"></div>
        <button id="button" type="submit" class="button">
            <span class="button__label">{% trans "Change Password" %}</span>
        </button>
    </form>
{% endblock %}
