{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Set password" %}{% endblock %}
{% block content %}
<div class="page-header">
    <p><a class="link--breadcrumb" href="{% url 'index' %}">{% trans "Home" %}</a></p>
    <h1>{% trans "Set password" %}</h1>
</div>
<div class="stack">
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set form">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set password' %}"/>
    </form>
</div>
{% endblock %}
