{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="page-header">
    <p><a class="link--breadcrumb" href="{% url 'index' %}">{% trans "Home" %}</a></p>
    <h1>{% trans "Password reset" %}</h1>
</div>
<div class="stack">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <form method="POST" action="{% url 'account_reset_password' %}" class="form password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="spacer"></div>
        <button id="button" type="submit" class="button">
            <span class="button__label">{% trans "Reset my password" %}</span>
        </button>
    </form>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}
