{% extends "account/base.html" %}
{% load i18n %}
{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}
<div class="page-header">
    <p><a class="link--breadcrumb" href="{% url 'index' %}">{% trans "Home" %}</a></p>
    <h1>{% trans "Change password" %}</h1>
</div>
<div class="stack">
    <form method="POST" action="{% url 'account_change_password' %}" class="form password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="spacer"></div>
        <button id="button" type="submit" class="button">
            <span class="button__label">{% trans "Change password" %}</span>
        </button>
    </form>
</div>
{% endblock %}
