{% extends "maps/base.html" %}
{% load static %}
{% load i18n %}
{% load maps_extras %}
{% block bodyclass %}form-wizard{% endblock %}
{% block title %}{{ 'Basic information'|titlify }}{% endblock %}}

{% block content %}
    <form id="basic-info" class="form" action="" method="post" novalidate>
        <div class="page-header">
            {% include 'maps/profiles/back.html' %}
            <h1>Create a profile: {% if is_coop %}cooperative{% else %}organization{% endif %}</h1>
            {% include 'maps/profiles/steps.html' %}
        </div>
        <div class="form__content">
        {% if form.errors  %}
        {% include 'maps/profiles/errors.html' %}
        {% endif %}
        <h2>Basic information</h2>
        {{ wizard.management_form }}
        {% csrf_token %}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            <label for="{{ wizard.form.name.id_for_label }}" class="required">
                {% if is_coop %}
                    {{ wizard.form.name.label }}
                {% else %}
                    {% trans 'Name of organization' %}
                {% endif %}
            </label>
            {{ wizard.form.name }}
            {% if wizard.form.name.help_text %}
            <span class="helptext">{{ wizard.form.name.help_text | safe }}</span>
            {% endif %}
            {{ wizard.form.languages.label_tag }}
            {{ wizard.form.languages }}
            {% if wizard.form.languages.help_text %}
            <span class="helptext">{{ wizard.form.languages.help_text | safe }}</span>
            {% endif %}
            <p class="h4">{% trans 'Date founded' %}</p>
            {{ wizard.form.year_founded.label_tag }}
            {{ wizard.form.year_founded }}
            {{ wizard.form.month_founded.label_tag }}
            {{ wizard.form.month_founded }}
            {{ wizard.form.day_founded.label_tag }}
            {{ wizard.form.day_founded }}
            {{ wizard.form.founded }}
            {{ wizard.form.founded_min_date }}
            {{ wizard.form.founded_max_date }}
            {{ wizard.form.url.label_tag }}
            {{ wizard.form.url }}
            {% if wizard.form.url.help_text %}
            <span class="helptext">{{ wizard.form.url.help_text | safe }}</span>
            {% endif %}
        {% endif %}
        {% include 'maps/profiles/footer.html' %}
        </div>
    </form>
    {% include 'maps/profiles/cancel.html' %}
{% endblock %}
