{% extends "maps/base.html" %}
{% load i18n %}
{% load maps_extras %}
{% block bodyclass %}form-wizard{% endblock %}
{% block title %}{{ 'Contact information'|titlify }}{% endblock %}}

{% block content %}
    <form class="form" action="" method="post" novalidate>
        <div class="page-header">
            {% include 'maps/profiles/back.html' %}
            <h1>{% trans 'Create a profile: organization' %}</h1>
            {% include 'maps/profiles/steps.html' %}
        </div>
        <div class="form__content">
        {% if form.errors  %}
        {% include 'maps/profiles/errors.html' %}
        {% endif %}
        <h2>{% trans 'Contact information' %}</h2>
        {{ wizard.management_form }}
        {% csrf_token %}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
        {% include 'maps/profiles/footer.html' %}
        </div>
    </form>
    {% include 'maps/profiles/cancel.html' %}
{% endblock %}
