{% extends "maps/base.html" %}
{% load static %}
{% load i18n %}
{% load maps_extras %}
{% block bodyclass %}form-wizard{% endblock %}
{% block title %}{{ 'Map location'|titlify }}{% endblock %}}

{% block content %}
  <form class="form" action="" method="post" novalidate>
    <div class="page-header">
      {% include 'maps/profiles/back.html' %}
      <h1>{% trans 'Create a profile: organization' %}</h1>
      {% include 'maps/profiles/steps.html' %}
    </div>
    <div class="form__content">
      {% if form.errors %}
        {% include 'maps/profiles/errors.html' %}
      {% endif %}
      <h2>{% trans 'Map location' %}</h2>
      <p>{% trans 'Changing the map location will not modify your business address.' %}</p>
      <div id="geolocation-map">
        <canvas id="crosshairs"></canvas>
      </div>
      <span class="helptext">{% trans 'Drag the map until the desired location is centered within the crosshairs. If you are using a keyboard, you can also click the map and use arrow keys to reposition the map.' %}</span>
      {{ wizard.management_form }}
      {% csrf_token %}
      {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          {{ form }}
        {% endfor %}
      {% else %}
        {{ wizard.form }}
      {% endif %}

      {% include 'maps/profiles/footer.html' %}
    </div>
  </form>
  {% include 'maps/profiles/cancel.html' %}
{% endblock %}
