{% extends "maps/base.html" %}
{% load static %}
{% load i18n %}
{% load maps_extras %}
{% block bodyclass %}form-wizard{% endblock %}
{% block title %}{{ 'More information'|titlify }}{% endblock %}}

{% block content %}
    <div class="page-header">
        {% include 'maps/profiles/back.html' %}
        <h1>Create a profile: Cooperative</h1>
        {% include 'maps/profiles/steps.html' %}
    </div>
    {% if form.errors  %}
    {{ form.errors }}
    {% endif %}
    <form class="form" action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
        <div class="input-group">
            {{ wizard.form }}
        </div>
        {% endif %}
        {% include 'maps/profiles/footer.html' %}
    </form>
    {% include 'maps/profiles/cancel.html' %}
{% endblock %}
