{% extends "maps/base.html" %}
{% load i18n %}
{% load maps_extras %}
{% block bodyclass %}form-wizard{% endblock %}
{% block title %}{{ 'Edit organization'|titlify }}{% endblock %}}

{% block content %}
    <form class="form" action="" method="post" novalidate>
        {% csrf_token %}
        <div class="page-header">
            <h1>{% trans 'Edit organization' %}</h1>
        </div>
        <div class="form__content">
        {% if form.errors  %}
        {% include 'maps/profiles/errors.html' %}
        {% endif %}
        <h2>{% trans 'Contact information' %}</h2>
        <h3>{% trans 'Email and phone' %}</h3>
        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.help_text %}
        <span class="helptext">{{ form.email.help_text | safe }}</span>
        {% endif %}
        {{ form.phone.label_tag }}
        {{ form.phone }}
        {% if form.phone.help_text %}
        <span class="helptext">{{ form.phone.help_text | safe }}</span>
        {% endif %}
        <h3>{% trans 'Business address' %}</h3>
        {{ form.address.label_tag }}
        {{ form.address }}
        {% if form.address.help_text %}
        <span class="helptext">{{ form.address.help_text | safe }}</span>
        {% endif %}
        {{ form.city.label_tag }}
        {{ form.city }}
        {% if form.city.help_text %}
        <span class="helptext">{{ form.city.help_text | safe }}</span>
        {% endif %}
        {{ form.state.label_tag }}
        {{ form.state }}
        {% if form.state.help_text %}
        <span class="helptext">{{ form.state.help_text | safe }}</span>
        {% endif %}
        {{ form.country.label_tag }}
        {{ form.country }}
        {% if form.country.help_text %}
        <span class="helptext">{{ form.country.help_text | safe }}</span>
        {% endif %}
        {{ form.postal_code.label_tag }}
        {{ form.postal_code }}
        {% if form.postal_code.help_text %}
        <span class="helptext">{{ form.postal_code.help_text | safe }}</span>
        {% endif %}
        <h3>{% trans 'Map location' %}</h3>
        <div id="geolocation-map">
            <canvas id="crosshairs"></canvas>
        </div>
        {{ form.lat }}
        {{ form.lng }}
        <h3>{% trans 'Social media' %}</h3>
        {{ social_network_form.management_form }}
        {% for sn in social_network_form.forms %}
            {{ sn.id }}
            {{ sn.identifier.label_tag }}
            {{ sn.identifier }}
            {{ sn.socialnetwork }}
        {% endfor %}
        <div class="spacer"></div>
        <button class="button" type="submit">{% trans 'Save' %}</button>
        </div>
    </form>
{% endblock %}
