

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" type="image/ico" href="../../themes/mandelbrot/favicon.ico" >
		<title>Accordion: Filter List | Pinecone</title>
	</head>

	<body class="has-blue-500-background-color">
		<header role="banner">
			<div class="container">
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="spacer"></div><div class="accordion accordion--filter-list">
	<div class="accordion__pane">
		<p class="accordion__heading">Fugit Illo Aut</p>
		<div class="accordion__content">
			<p>Eum eveniet autem distinctio laudantium praesentium quia. Et ducimus dolore sit. Non vero sit fugit atque nisi. Pariatur id voluptatibus. Sunt in et porro quos et.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Est Commodi Nam</p>
		<div class="accordion__content">
			<p>Aliquid labore qui est qui et recusandae. Possimus sint voluptatem adipisci voluptatum. Aut repellat quis sequi dolorum aliquam.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Voluptas Quia Pariatur</p>
		<div class="accordion__content">
			<p>Officia ea saepe quibusdam quia. Non voluptatibus neque aut error fugiat itaque eos necessitatibus. Quaerat ut quo aut non. Laudantium sint inventore est pariatur ut ipsam.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Error Qui Vero</p>
		<div class="accordion__content">
			<p>Maiores consequatur aut modi aut assumenda eaque vero. Corrupti et ut nulla. Quam aut accusantium tenetur consectetur autem.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">In Mollitia Ut</p>
		<div class="accordion__content">
			<p>Debitis aut sint et nihil. Est doloribus est aut quia vero. Qui aliquam voluptas sed soluta aut qui asperiores. Nisi ducimus repudiandae consequatur sint unde sint nobis quos. Tenetur doloribus voluptatum exercitationem doloribus qui dignissimos et. Debitis maxime quia sapiente dolor voluptatem rerum.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Delectus Quos Quasi</p>
		<div class="accordion__content">
			<p>Dignissimos maxime tenetur asperiores dolores voluptatem ut quam et. Mollitia et debitis provident. Quisquam id enim est harum perferendis rem illum blanditiis. In enim fugit ut quia quidem. Modi facilis eius et dicta voluptates qui tenetur laborum quis. Et molestiae numquam omnis qui aliquam.</p>
		</div>
	</div>
</div>
				</main>
			</div>
		</div>
		<footer class="content-info">
  			<div class="container"></div>
  		</footer>
		<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.inert"></script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js"></script>
	</body>
</html>

