

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" type="image/ico" href="../../themes/mandelbrot/favicon.ico" >
		<title>Archive: Unfiltered | Pinecone</title>
	</head>

	<body class="archive post-type-archive">
		<header role="banner">
			<div class="container">
				
<nav aria-labelledby="menu-primary-label">
	<button class="menu-toggle" aria-expanded="false">
<svg
	class="icon icon--open"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
		<span id="menu-primary-label" class="menu-toggle__label">Menu</span>
	</button>
	<ul class="menu">
		<li>
			<a class="menu__item" aria-current="page" href="#menu-item-1">Menu Item One</a>
		</li>
		<li>
			<a class="menu__item" href="#menu-item-2">Menu Item Two</a>
		</li>
		<li>
			<a class="menu__item" href="#menu-item-3">Menu Item Three</a>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#menu-item-4">Menu Item Four</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#submenu-item-1">Submenu Item One</a></li>
				<li><a class="menu__item" href="#submenu-item-2">Submenu Item Two</a></li>
				<li><a class="menu__item" href="#submenu-item-3">Submenu Item Three</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#menu-item-5">Menu Item Five</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#submenu-item-1">Submenu Item One</a></li>
				<li><a class="menu__item" href="#submenu-item-2">Submenu Item Two</a></li>
				<li><a class="menu__item" href="#submenu-item-3">Submenu Item Three</a></li>
			</ul>
		</li>
		<li class="menu-item menu-item--languages menu__submenu-wrapper">
			<a class="menu__item" href="/en/settings/language/">
				<span class="menu__label">Language</span>
<svg
	class="icon icon--language icon--lg"
	aria-hidden="true"
	viewBox="0 0 30 30"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
			</a>
			<ul class="menu__submenu">
				<li class="menu-item"><a aria-current="true" href="/en/" class="menu__item">English</a></li>
				<li class="menu-item"><a href="/pt/" class="menu__item">Português</a></li>
				<li class="menu-item"><a href="/sv/" class="menu__item">Svenska</a></li>
				<li class="menu-item"><a href="/it/" class="menu__item">Italiano</a></li>
				<li class="menu-item"><a href="/es/" class="menu__item">Español</a></li>
				<li class="menu-item"><a href="/fr/" class="menu__item">Français</a></li>
				<li class="menu-item"><a href="/de/" class="menu__item">Deutsch</a></li>
			</ul>
		</li>
	</ul>
</nav>
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="page-header">
<p class="breadcrumb"><a href="/home">Home</a></p>
	<h1>Browse all</h1>
</div>
<div class="filter-wrapper">
<button id="show-filters" type="button" class="button">
<svg
	class="icon icon--filter"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/filter.svg#filter"/>
</svg>
<span class="button__label">Filter</span></button>
	<form class="filters" action="/">
<button id="hide-filters" type="button" class="button">
<span class="button__label">Close</span><svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
</button>
		<h2 class="h1 screen-reader-text" tabindex="-1">Filters</h2>
		<div class="accordion accordion--filter-list">
		<div class="accordion__pane">
			<p class="accordion__heading">Locations of relevance</p>
			<div class="accordion__content">
<button id="deselect-locations-of-relevance" type="button" class="button">
<span class="button__label">Deselect All<span class="screen-reader-text"> Locations of relevance</span></span></button>
				<ul id="locations-of-relevance" class="input-group input-group__parent locations-of-relevance">
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-bangladesh" value="bangladesh"><label for="locations-of-relevance-bangladesh">Bangladesh</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-brazil" value="brazil"><label for="locations-of-relevance-brazil">Brazil</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-canada" value="canada"><label for="locations-of-relevance-canada">Canada</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-france" value="france"><label for="locations-of-relevance-france">France</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-germany" value="germany"><label for="locations-of-relevance-germany">Germany</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-hong-kong" value="hong-kong"><label for="locations-of-relevance-hong-kong">Hong Kong</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-india" value="india"><label for="locations-of-relevance-india">India</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-indonesia" value="indonesia"><label for="locations-of-relevance-indonesia">Indonesia</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-italy" value="italy"><label for="locations-of-relevance-italy">Italy</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-japan" value="japan"><label for="locations-of-relevance-japan">Japan</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-netherlands" value="netherlands"><label for="locations-of-relevance-netherlands">Netherlands</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-south-africa" value="south-africa"><label for="locations-of-relevance-south-africa">South Africa</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-spain" value="spain"><label for="locations-of-relevance-spain">Spain</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-sweden" value="sweden"><label for="locations-of-relevance-sweden">Sweden</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-united-kingdom" value="united-kingdom"><label for="locations-of-relevance-united-kingdom">United Kingdom</label>
					</li>
					<li>
							<input type="checkbox" name="locations-of-relevance[]" id="locations-of-relevance-united-states" value="united-states"><label for="locations-of-relevance-united-states">United States</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="accordion__pane">
			<p class="accordion__heading">Goals</p>
			<div class="accordion__content">
<button id="deselect-goals" type="button" class="button">
<span class="button__label">Deselect All<span class="screen-reader-text"> Goals</span></span></button>
				<ul id="goals" class="input-group input-group__parent goals">
					<li>
							<input type="checkbox" name="goals[]" id="goals-learn-the-basics-of-platform-cooperativism" value="learn-the-basics-of-platform-cooperativism"><label for="goals-learn-the-basics-of-platform-cooperativism">Learn the basics of platform cooperativism</label>
					</li>
					<li>
<input id="build-a-co-op" type="checkbox" name="goals[]" value="build-a-co-op"  /><label for="build-a-co-op">Build a co-op</label>							<span id="build-a-co-op-disclosure-label" hidden>show 7 subtopics for "Build a co-op"</span>
							<span hidden> (and 7 subtopics)</span>
							<ul class="input-group input-group__descendant">
								<li><input id="write-bylaws" type="checkbox" name="goals[]" value="write-bylaws"  /><label for="write-bylaws">Write bylaws</label></li>
								<li><input id="build-a-business-model" type="checkbox" name="goals[]" value="build-a-business-model"  /><label for="build-a-business-model">Build a business model</label></li>
								<li><input id="establish-a-governance-structure" type="checkbox" name="goals[]" value="establish-a-governance-structure"  /><label for="establish-a-governance-structure">Establish a governance structure</label></li>
								<li><input id="incorporate-a-co-op" type="checkbox" name="goals[]" value="incorporate-a-co-op"  /><label for="incorporate-a-co-op">Incorporate a co-op</label></li>
								<li><input id="build-a-marketing-plan" type="checkbox" name="goals[]" value="build-a-marketing-plan"  /><label for="build-a-marketing-plan">Build a marketing plan</label></li>
								<li><input id="pick-a-co-op-type" type="checkbox" name="goals[]" value="pick-a-co-op-type"  /><label for="pick-a-co-op-type">Pick a co-op type</label></li>
								<li><input id="make-decisions-collaboratively" type="checkbox" name="goals[]" value="make-decisions-collaboratively"  /><label for="make-decisions-collaboratively">Make decisions collaboratively</label></li>
							</ul>
					</li>
					<li>
<input id="build-a-platform" type="checkbox" name="goals[]" value="build-a-platform"  /><label for="build-a-platform">Build a platform</label>							<span id="build-a-platform-disclosure-label" hidden>show 5 subtopics for "Build a platform"</span>
							<span hidden> (and 5 subtopics)</span>
							<ul class="input-group input-group__descendant">
								<li><input id="understand-the-design-process" type="checkbox" name="goals[]" value="understand-the-design-process"  /><label for="understand-the-design-process">Understand the design process</label></li>
								<li><input id="design-for-privacy" type="checkbox" name="goals[]" value="design-for-privacy"  /><label for="design-for-privacy">Design for privacy</label></li>
								<li><input id="design-for-inclusion" type="checkbox" name="goals[]" value="design-for-inclusion"  /><label for="design-for-inclusion">Design for inclusion</label></li>
								<li><input id="build-accessible-digital-tools" type="checkbox" name="goals[]" value="build-accessible-digital-tools"  /><label for="build-accessible-digital-tools">Build accessible digital tools</label></li>
								<li><input id="build-open-source-software" type="checkbox" name="goals[]" value="build-open-source-software"  /><label for="build-open-source-software">Build open source software</label></li>
							</ul>
					</li>
					<li>
							<input type="checkbox" name="goals[]" id="goals-transition-to-a-co-op" value="transition-to-a-co-op"><label for="goals-transition-to-a-co-op">Transition to a co-op</label>
					</li>
					<li>
							<input type="checkbox" name="goals[]" id="goals-advocate-for-policy-change" value="advocate-for-policy-change"><label for="goals-advocate-for-policy-change">Advocate for policy change</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="accordion__pane">
			<p class="accordion__heading">Topics</p>
			<div class="accordion__content">
<button id="deselect-topics" type="button" class="button">
<span class="button__label">Deselect All<span class="screen-reader-text"> Topics</span></span></button>
				<ul id="topics" class="input-group input-group__parent topics">
					<li>
<input id="cooperative-essentials" type="checkbox" name="topics[]" value="cooperative-essentials"  /><label for="cooperative-essentials">Cooperative essentials</label>							<span id="cooperative-essentials-disclosure-label" hidden>show 5 subtopics for "Cooperative essentials"</span>
							<span hidden> (and 5 subtopics)</span>
							<ul class="input-group input-group__descendant">
								<li><input id="governance" type="checkbox" name="topics[]" value="governance"  /><label for="governance">Governance</label></li>
								<li><input id="ownership" type="checkbox" name="topics[]" value="ownership"  /><label for="ownership">Ownership</label></li>
								<li><input id="cooperative-best-practices" type="checkbox" name="topics[]" value="cooperative-best-practices"  /><label for="cooperative-best-practices">Cooperative best practices</label></li>
								<li><input id="diversity-and-inclusion" type="checkbox" name="topics[]" value="diversity-and-inclusion"  /><label for="diversity-and-inclusion">Diversity and inclusion</label></li>
								<li><input id="bylaws" type="checkbox" name="topics[]" value="bylaws"  /><label for="bylaws">Bylaws</label></li>
							</ul>
					</li>
					<li>
<input id="business-operations" type="checkbox" name="topics[]" value="business-operations"  /><label for="business-operations">Business operations</label>							<span id="business-operations-disclosure-label" hidden>show 6 subtopics for "Business operations"</span>
							<span hidden> (and 6 subtopics)</span>
							<ul class="input-group input-group__descendant">
								<li><input id="human-resources" type="checkbox" name="topics[]" value="human-resources"  /><label for="human-resources">Human resources</label></li>
								<li><input id="marketing" type="checkbox" name="topics[]" value="marketing"  /><label for="marketing">Marketing</label></li>
								<li><input id="social-media" type="checkbox" name="topics[]" value="social-media"  /><label for="social-media">Social media</label></li>
								<li><input id="incorporation" type="checkbox" name="topics[]" value="incorporation"  /><label for="incorporation">Incorporation</label></li>
								<li><input id="business-model" type="checkbox" name="topics[]" value="business-model"  /><label for="business-model">Business model</label></li>
								<li><input id="income-benefits-and-compensation" type="checkbox" name="topics[]" value="income-benefits-and-compensation"  /><label for="income-benefits-and-compensation">Income, benefits, and compensation</label></li>
							</ul>
					</li>
					<li>
<input id="technology-and-platforms" type="checkbox" name="topics[]" value="technology-and-platforms"  /><label for="technology-and-platforms">Technology &amp; Platforms</label>							<span id="technology-and-platforms-disclosure-label" hidden>show 9 subtopics for "Technology &amp; Platforms"</span>
							<span hidden> (and 9 subtopics)</span>
							<ul class="input-group input-group__descendant">
								<li><input id="software-development" type="checkbox" name="topics[]" value="software-development"  /><label for="software-development">Software development</label></li>
								<li><input id="platforms" type="checkbox" name="topics[]" value="platforms"  /><label for="platforms">Platforms</label></li>
								<li><input id="design" type="checkbox" name="topics[]" value="design"  /><label for="design">Design</label></li>
								<li><input id="free-software" type="checkbox" name="topics[]" value="free-software"  /><label for="free-software">Free software</label></li>
								<li><input id="data" type="checkbox" name="topics[]" value="data"  /><label for="data">Data</label></li>
								<li><input id="algorithms" type="checkbox" name="topics[]" value="algorithms"  /><label for="algorithms">Algorithms</label></li>
								<li><input id="automation" type="checkbox" name="topics[]" value="automation"  /><label for="automation">Automation</label></li>
								<li><input id="blockchain" type="checkbox" name="topics[]" value="blockchain"  /><label for="blockchain">Blockchain</label></li>
								<li><input id="search-engines" type="checkbox" name="topics[]" value="search-engines"  /><label for="search-engines">Search engines</label></li>
							</ul>
					</li>
					<li>
<input id="law-and-policy" type="checkbox" name="topics[]" value="law-and-policy"  /><label for="law-and-policy">Law &amp; Policy</label>							<span id="law-and-policy-disclosure-label" hidden>show 4 subtopics for "Law &amp; Policy"</span>
							<span hidden> (and 4 subtopics)</span>
							<ul class="input-group input-group__descendant">
								<li><input id="anti-trust" type="checkbox" name="topics[]" value="anti-trust"  /><label for="anti-trust">Anti-trust</label></li>
								<li><input id="labor-law" type="checkbox" name="topics[]" value="labor-law"  /><label for="labor-law">Labor law</label></li>
								<li><input id="policy" type="checkbox" name="topics[]" value="policy"  /><label for="policy">Policy</label></li>
								<li><input id="co-op-law" type="checkbox" name="topics[]" value="co-op-law"  /><label for="co-op-law">Co-op law</label></li>
							</ul>
					</li>
					<li>
<input id="fair-labour" type="checkbox" name="topics[]" value="fair-labour"  /><label for="fair-labour">Fair labour</label>							<span id="fair-labour-disclosure-label" hidden>show 3 subtopics for "Fair labour"</span>
							<span hidden> (and 3 subtopics)</span>
							<ul class="input-group input-group__descendant">
								<li><input id="unions" type="checkbox" name="topics[]" value="unions"  /><label for="unions">Unions</label></li>
								<li><input id="workplace-safety" type="checkbox" name="topics[]" value="workplace-safety"  /><label for="workplace-safety">Workplace safety</label></li>
								<li><input id="social-security" type="checkbox" name="topics[]" value="social-security"  /><label for="social-security">Social security</label></li>
							</ul>
					</li>
					<li>
<input id="platform-co-op-theory" type="checkbox" name="topics[]" value="platform-co-op-theory"  /><label for="platform-co-op-theory">Platform co-op theory</label>							<span id="platform-co-op-theory-disclosure-label" hidden>show 7 subtopics for "Platform co-op theory"</span>
							<span hidden> (and 7 subtopics)</span>
							<ul class="input-group input-group__descendant">
								<li><input id="platform-cooperativism" type="checkbox" name="topics[]" value="platform-cooperativism"  /><label for="platform-cooperativism">Platform cooperativism</label></li>
								<li><input id="platform-capitalism" type="checkbox" name="topics[]" value="platform-capitalism"  /><label for="platform-capitalism">Platform capitalism</label></li>
								<li><input id="gig-economy" type="checkbox" name="topics[]" value="gig-economy"  /><label for="gig-economy">Gig economy</label></li>
								<li><input id="sharing-economy" type="checkbox" name="topics[]" value="sharing-economy"  /><label for="sharing-economy">Sharing economy</label></li>
								<li><input id="solidarity-economy" type="checkbox" name="topics[]" value="solidarity-economy"  /><label for="solidarity-economy">Solidarity economy</label></li>
								<li><input id="information-economy" type="checkbox" name="topics[]" value="information-economy"  /><label for="information-economy">Information economy</label></li>
								<li><input id="peer-to-peer" type="checkbox" name="topics[]" value="peer-to-peer"  /><label for="peer-to-peer">Peer-to-peer</label></li>
							</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="accordion__pane">
			<p class="accordion__heading">Formats</p>
			<div class="accordion__content">
<button id="deselect-formats" type="button" class="button">
<span class="button__label">Deselect All<span class="screen-reader-text"> Formats</span></span></button>
				<ul id="formats" class="input-group input-group__parent formats">
					<li>
							<input type="checkbox" name="formats[]" id="formats-academic-paper" value="academic-paper"><label for="formats-academic-paper">Academic Paper</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-article" value="article"><label for="formats-article">Article</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-audio" value="audio"><label for="formats-audio">Audio</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-book" value="book"><label for="formats-book">Book</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-case-study" value="case-study"><label for="formats-case-study">Case Study</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-educational-curriculum" value="educational-curriculum"><label for="formats-educational-curriculum">Educational Curriculum</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-online-training" value="online-training"><label for="formats-online-training">Online Training</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-podcast" value="podcast"><label for="formats-podcast">Podcast</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-presentation-slides" value="presentation-slides"><label for="formats-presentation-slides">Presentation Slides</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-report" value="report"><label for="formats-report">Report</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-toolkit" value="toolkit"><label for="formats-toolkit">Toolkit</label>
					</li>
					<li>
							<input type="checkbox" name="formats[]" id="formats-video" value="video"><label for="formats-video">Video</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="accordion__pane">
			<p class="accordion__heading">Sectors</p>
			<div class="accordion__content">
<button id="deselect-sectors" type="button" class="button">
<span class="button__label">Deselect All<span class="screen-reader-text"> Sectors</span></span></button>
				<ul id="sectors" class="input-group input-group__parent sectors">
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-agriculture" value="agriculture"><label for="sectors-agriculture">Agriculture</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-art-fashion-design" value="art-fashion-design"><label for="sectors-art-fashion-design">Art, fashion, design</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-accounting-and-finance" value="accounting-and-finance"><label for="sectors-accounting-and-finance">Accounting and Finance</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-advertising-and-marketing" value="advertising-and-marketing"><label for="sectors-advertising-and-marketing">Advertising and marketing</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-consulting" value="consulting"><label for="sectors-consulting">Consulting</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-co-op-development" value="co-op-development"><label for="sectors-co-op-development">Co-op development</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-community-organizing" value="community-organizing"><label for="sectors-community-organizing">Community organizing</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-construction" value="construction"><label for="sectors-construction">Construction</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-environment" value="environment"><label for="sectors-environment">Environment</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-education" value="education"><label for="sectors-education">Education</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-energy-and-mining" value="energy-and-mining"><label for="sectors-energy-and-mining">Energy and mining</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-entertainment" value="entertainment"><label for="sectors-entertainment">Entertainment</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-food" value="food"><label for="sectors-food">Food</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-healthcare" value="healthcare"><label for="sectors-healthcare">Healthcare</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-hospitality-and-tourism" value="hospitality-and-tourism"><label for="sectors-hospitality-and-tourism">Hospitality and tourism</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-legal" value="legal"><label for="sectors-legal">Legal</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-manufacturing" value="manufacturing"><label for="sectors-manufacturing">Manufacturing</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-media-and-communications" value="media-and-communications"><label for="sectors-media-and-communications">Media and communications</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-maintenance-and-repair" value="maintenance-and-repair"><label for="sectors-maintenance-and-repair">Maintenance and repair</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-protective-services-and-defense" value="protective-services-and-defense"><label for="sectors-protective-services-and-defense">Protective services and defense</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-personal-care-and-services" value="personal-care-and-services"><label for="sectors-personal-care-and-services">Personal care and services</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-public-and-social-services" value="public-and-social-services"><label for="sectors-public-and-social-services">Public and social services</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-property-and-real-estate" value="property-and-real-estate"><label for="sectors-property-and-real-estate">Property and real estate</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-recycling-and-waste-management" value="recycling-and-waste-management"><label for="sectors-recycling-and-waste-management">Recycling and waste management</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-sales-and-retail" value="sales-and-retail"><label for="sectors-sales-and-retail">Sales and retail</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-science-and-engineering" value="science-and-engineering"><label for="sectors-science-and-engineering">Science and engineering</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-sports-fitness-and-recreation" value="sports-fitness-and-recreation"><label for="sectors-sports-fitness-and-recreation">Sports fitness and recreation</label>
					</li>
					<li>
<input id="technology" type="checkbox" name="sectors[]" value="technology"  /><label for="technology">Technology</label>							<span id="technology-disclosure-label" hidden>show 5 subtopics for "Technology"</span>
							<span hidden> (and 5 subtopics)</span>
							<ul class="input-group input-group__descendant">
								<li><input id="electronics-and-computer-manufacturing" type="checkbox" name="sectors[]" value="electronics-and-computer-manufacturing"  /><label for="electronics-and-computer-manufacturing">Electronics and computer manufacturing</label></li>
								<li><input id="software-and-hardware-enginereeing" type="checkbox" name="sectors[]" value="software-and-hardware-enginereeing"  /><label for="software-and-hardware-enginereeing">Software and hardware enginereeing</label></li>
								<li><input id="web-service-providers" type="checkbox" name="sectors[]" value="web-service-providers"  /><label for="web-service-providers">Web service providers</label></li>
								<li><input id="data-processing" type="checkbox" name="sectors[]" value="data-processing"  /><label for="data-processing">Data processing</label></li>
								<li><input id="misc-technology" type="checkbox" name="sectors[]" value="misc-technology"  /><label for="misc-technology">Misc technology</label></li>
							</ul>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-transportation-and-logistics" value="transportation-and-logistics"><label for="sectors-transportation-and-logistics">Transportation and logistics</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-translation" value="translation"><label for="sectors-translation">Translation</label>
					</li>
					<li>
							<input type="checkbox" name="sectors[]" id="sectors-utilities" value="utilities"><label for="sectors-utilities">Utilities</label>
					</li>
				</ul>
			</div>
		</div>
		</div>
<div class="input-group">
	<input type="submit" name="submit" id="apply-filters" value="Apply filters" />
</div>
	</form>
</div>
<div class="sort-wrapper">
	<div class="sort">
<div class="menu-button">
	<h2 class="h3 menu-button__label"><svg
	class="icon icon--sort"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/sort.svg#sort"/>
</svg>
Sort by</h2>
<ul class="link-list">
	<li class="link-list__item"><a href="/?date-added" aria-current=true>Date added</a></li>
	<li class="link-list__item"><a href="/?date-published">Date published</a></li>
	<li class="link-list__item"><a href="/?most-favorited">Most favorited</a></li>
</ul>
</div>
	</div>
</div>
<div class="resource-list">
<ul class="cards">
	<li class="card card--resource" data-format="audio">
		<header>
				<span class="card__format">
<svg
	class="icon icon--audio"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/audio.svg#audio"/>
</svg>
Audio</span>				<h2 class="card__title" >
					<a href="resource">Labore Perspiciatis Odit Et Et</a>
				</h2>
		</header>
			<p class="card__byline">By Enim Ullam Et</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
French Guiana</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Budgetary Management
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Process Improvement
							</li>
					</ul>
					<p>+5 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="case-study">
		<header>
				<span class="card__format">
<svg
	class="icon icon--case-study"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
Case Study</span>				<h2 class="card__title" >
					<a href="resource">Quis Impedit Eum Voluptate</a>
				</h2>
		</header>
			<p class="card__byline">By Accusamus Consequatur Ipsam Temporibus</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
British Indian Ocean Territory (Chagos Archipelago)</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Forecast
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Instruction Set
							</li>
					</ul>
					<p>+3 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="toolkit">
		<header>
				<span class="card__format">
<svg
	class="icon icon--toolkit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
Toolkit</span>				<h2 class="card__title" >
					<a href="resource">Quo Sit Numquam Labore Cumque Repellat Quibusdam Occaecati Magni Ut Ut</a>
				</h2>
		</header>
			<p class="card__byline">By Qui Autem Deserunt Nostrum</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Guyana</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Project
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Frame
							</li>
					</ul>
					<p>+4 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="educational-curriculum">
		<header>
				<span class="card__format">
<svg
	class="icon icon--educational-curriculum"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/educational-curriculum.svg#educational-curriculum"/>
</svg>
Educational Curriculum</span>				<h2 class="card__title" >
					<a href="resource">Rerum Est Tempora Voluptate Rerum Autem</a>
				</h2>
		</header>
			<p class="card__byline">By Et Corporis Fuga Aspernatur</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Saudi Arabia</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Open System
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Alliance
							</li>
					</ul>
					<p>+5 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="video">
		<header>
				<span class="card__format">
<svg
	class="icon icon--video"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/video.svg#video"/>
</svg>
Video</span>				<h2 class="card__title" >
					<a href="resource">Sint Autem Aliquid Totam</a>
				</h2>
		</header>
			<p class="card__byline">By Soluta Non Doloribus Pariatur</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Hong Kong</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Analyzer
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Encryption
							</li>
					</ul>
					<p>+1 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="article">
		<header>
				<span class="card__format">
<svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>				<h2 class="card__title" >
					<a href="resource">Est Quia Quasi Saepe Quas</a>
				</h2>
		</header>
			<p class="card__byline">By Sequi Ratione Tempore Quo</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Sao Tome and Principe</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Moratorium
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Array
							</li>
					</ul>
					<p>+4 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="book">
		<header>
				<span class="card__format">
<svg
	class="icon icon--book"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/book.svg#book"/>
</svg>
Book</span>				<h2 class="card__title" >
					<a href="resource">Molestiae Porro Dolor Quisquam Fugit minus</a>
				</h2>
		</header>
			<p class="card__byline">By Natus Minima Nulla</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
United Kingdom</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Encoding
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Artificial Intelligence
							</li>
					</ul>
					<p>+3 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="academic-paper">
		<header>
				<span class="card__format">
<svg
	class="icon icon--academic-paper"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/academic-paper.svg#academic-paper"/>
</svg>
Academic Paper</span>				<h2 class="card__title" >
					<a href="resource">Eos Quibusdam Sint Sed Est</a>
				</h2>
		</header>
			<p class="card__byline">By Est Necessitatibus Autem</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Djibouti</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Graphical User Interface
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Matrix
							</li>
					</ul>
					<p>+1 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="report">
		<header>
				<span class="card__format">
<svg
	class="icon icon--report"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/report.svg#report"/>
</svg>
Report</span>				<h2 class="card__title" >
					<a href="resource">Ipsa Quas Omnis Quos Sit Cumque Quisquam</a>
				</h2>
		</header>
			<p class="card__byline">By Reiciendis Nesciunt Quae Aut</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Svalbard &amp; Jan Mayen Islands</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Concept
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Framework
							</li>
					</ul>
					<p>+4 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="presentation-slides">
		<header>
				<span class="card__format">
<svg
	class="icon icon--presentation"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/presentation.svg#presentation"/>
</svg>
Presentation Slides</span>				<h2 class="card__title" >
					<a href="resource">Sit Omnis Rem Tempore Vel Aut Vero Tenetur</a>
				</h2>
		</header>
			<p class="card__byline">By Blanditiis Ea Et Maxime</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Saint Barthelemy</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Internet Solution
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Database
							</li>
					</ul>
					<p>+1 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="online-training">
		<header>
				<span class="card__format">
<svg
	class="icon icon--online-training"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/online-training.svg#online-training"/>
</svg>
Online Training</span>				<h2 class="card__title" >
					<a href="resource">Dolor Quis Consequatur Est Impedit Doloremque Harum Praesentium Corrupti Ipsam</a>
				</h2>
		</header>
			<p class="card__byline">By Qui Quasi Omnis Consequatur</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Nicaragua</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Firmware
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Neural Net
							</li>
					</ul>
					<p>+5 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="audio">
		<header>
				<span class="card__format">
<svg
	class="icon icon--audio"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/audio.svg#audio"/>
</svg>
Audio</span>				<h2 class="card__title" >
					<a href="resource">Repellendus Et Cupiditate Sequi Aut in Consectetur Quia Aut Accusantium Autem Velit</a>
				</h2>
		</header>
			<p class="card__byline">By Sequi a Soluta Molestiae</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Palau</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Secured Line
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Project
							</li>
					</ul>
					<p>+4 more</p>
				</div>
		</li>
</ul>
</div>
<nav class="navigation pagination" role="navigation" aria-label="Posts">
	<h2 class="screen-reader-text">Posts navigation</h2>
	<div class="nav-links">
		<a class="previous page-numbers" href="1"><span class="screen-reader-text">Previous posts</span><svg
	class="icon icon--chevron-left"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/chevron-left.svg#chevron-left"/>
</svg>
</a><span aria-current="page" class="page-numbers current">2</span><a class="page-numbers" href="3">3</a><span class="page-numbers dots">…</span><a class="page-numbers" href="61">61</a><a class="next page-numbers" href="3"><span class="screen-reader-text">Next posts</span><svg
	class="icon icon--chevron-right"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/chevron-right.svg#chevron-right"/>
</svg>
</a>
	</div>
</nav>
				</main>
			</div>
		</div>
		<footer class="content-info">
  			<div class="container"></div>
  		</footer>
		<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.inert"></script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js"></script>
	</body>
</html>

