

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Card: Blog | Pinecone</title>
	</head>

	<body>
		<header role="banner">
			<div class="container">
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<ul class="cards">
	<li class="card card--blog" data-format="blog">
		<header>
				<span class="card__format">
Blog</span>				<h2 class="card__title" >
					<a href="blog">Researching Worker-Owned Platforms</a>
				</h2>
		</header>
			<p class="card__date">
					Apr 13, 2019
			</p>
		</li>
	</ul>
				</main>
			</div>
		</div>
		<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.inert"></script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js"></script>
	</body>
</html>

