

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js" defer></script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Dialog: Dialog With Input | Pinecone</title>
	</head>

	<body>
		<header role="banner">
			<div class="container">
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="spacer"></div><button id="invoke-dialog" type="button" class="button button--borderless">
<svg
	class="icon icon--save"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/save.svg#save"/>
</svg>
<span class="button__label">Save search</span></button>
<script defer>
	const dialogBtn = document.getElementById( 'invoke-dialog' );
	if ( dialogBtn ) {
		new Pinecone.Dialog( dialogBtn, {
			title: "Save search",
			question: "Do you want to add these search results to your saved searches?",
			input: "label",
			inputLabel: "Saved Search Label",
			inputDescription: "Enter a label for these search results so you can identify them later.",
			confirm: "Yes, save",
			dismiss: "No, don&rsquo;t save"
		} );
	}
</script>
				</main>
			</div>
		</div>
	</body>
</html>

