

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js" defer></script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Favorites: Default | Pinecone</title>
	</head>

	<body class="page page-template-page-favorites">
		<header role="banner">
			<div class="container">
<nav class="global-nav" aria-labelledby="global-nav-label">
	<span id="global-nav-label" class="screen-reader-text">global navigation</span>
	<ul class="global-nav__list">
		<li class="global-nav__list-item global-nav__list-item--first">
			<a class="global-nav__link" rel="external" href="https://platform.coop"><svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
 Platform Cooperativism Consortium</a>
		</li>
		<li class="global-nav__list-item">
			<a class="global-nav__link" aria-current="true" rel="home" href="https://resources.platform.coop/">Resource Library</a>
		</li>
	</ul>
</nav>
<a href="/" class="link link--brand">
<svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
	<span class="brand__title screen-reader-text">Platform Cooperativism Consortium</span>
</a>
<div class="inner">
<button class="button button--borderless search-toggle" aria-expanded="false"><span class="screen-reader-text">Search </span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
<form role="search" method="get" class="search-form" action="/">
	<label>
		<span class="screen-reader-text">search</span>
		<input id="s" name="s"  type="search" />
	</label>
	<button type="submit" class="button button--search"><span class="screen-reader-text">submit search</span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
</form>
<nav class="nav" aria-labelledby="menu-primary-label">
	<button class="button button--borderless menu-toggle" aria-expanded="false">
<svg
	class="icon icon--open"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
		<span id="menu-primary-label" class="menu-toggle__label">Menu</span>
	</button>
	<ul class="menu">
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#explore">Explore</a>
			<ul class="menu__submenu">
				<li><a aria-current="page"class="menu__item" href="#browse-all">Browse all</a></li>
				<li><a class="menu__item" href="#topics">Topics</a></li>
				<li><a class="menu__item" href="#goals">Goals</a></li>
				<li><a class="menu__item" href="#formats">Formats</a></li>
				<li><a class="menu__item" href="#sectors">Sectors</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#getting-started">Getting Started</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#how-to">How to use your library</a></li>
				<li><a class="menu__item" href="#glossary">Glossary</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#my-resources">My Resources</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#favorites">Favorites</a></li>
				<li><a class="menu__item" href="#saved-searches">Saved searches</a></li>
			</ul>
		</li>
		<li>
			<a class="menu__item" aria-current="page" href="#about">About</a>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#settings">Settings</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#language">Language</a></li>
				<li><a class="menu__item" href="#privacy">Privacy</a></li>
			</ul>
		</li>
		<li class="menu-item menu-item--languages menu__submenu-wrapper">
			<a class="menu__item" href="/en/settings/language/">
				<span class="menu__label">Language</span>
<svg
	class="icon icon--language icon--lg"
	aria-hidden="true"
	viewBox="0 0 30 30"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
			</a>
			<ul class="menu__submenu">
				<li class="menu-item"><a aria-current="true" href="/en/" class="menu__item">English</a></li>
				<li class="menu-item"><a href="/pt/" class="menu__item">Português</a></li>
				<li class="menu-item"><a href="/sv/" class="menu__item">Svenska</a></li>
				<li class="menu-item"><a href="/it/" class="menu__item">Italiano</a></li>
				<li class="menu-item"><a href="/es/" class="menu__item">Español</a></li>
				<li class="menu-item"><a href="/fr/" class="menu__item">Français</a></li>
				<li class="menu-item"><a href="/de/" class="menu__item">Deutsch</a></li>
			</ul>
		</li>
	</ul>
</nav>
</div>
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="page-header">
	<div class="inside">
		<p><a class="link--breadcrumb" href="/">Home</a>
</p>
		<h1>Favorites</h1>
	</div>
</div>
<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-all-favorites">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove all</span></button>
</div>
<div class="resource-list">
	<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Expedita Dolorem Molestiae Culpa Est Nihil Sed Fugiat Iste Ea Dolor Nostrum</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Quidem Nisi Eius Tempora</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--audio"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/audio.svg#audio"/>
</svg>
Audio</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Georgia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Service Desk
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Paradigm
					</div>
					<span class="overflow">
						+2 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Deserunt Voluptatem Amet Maiores Non Sequi Fuga Qui Ut Sint</a>
				</h3>
				<p class="card__meta card__subscription"><svg
	class="icon icon--lock"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/lock.svg#lock"/>
</svg>
 <span aria-hidden="true">Subscription required</span><span class="screen-reader-text">Subscription required to access this resource</span></p>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Alias Natus Ratione</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--case-study"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
Case Study</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Christmas Island</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Standardization
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Capacity
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Vel Assumenda Nesciunt Repudiandae</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Qui Asperiores Est</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--toolkit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
Toolkit</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Ethiopia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Parallelism
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Support
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Aut Deleniti Cupiditate Omnis Ut Doloremque Est Architecto</a>
				</h3>
				<p class="card__meta card__subscription"><svg
	class="icon icon--lock"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/lock.svg#lock"/>
</svg>
 <span aria-hidden="true">Subscription required</span><span class="screen-reader-text">Subscription required to access this resource</span></p>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Dolor Repellendus</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--curriculum"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/curriculum.svg#curriculum"/>
</svg>
Educational Curriculum</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Chad</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Concept
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Instruction Set
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Delectus Omnis Rerum Vitae Esse Aliquid Eligendi</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Labore Deleniti Ducimus Aut</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--video"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/video.svg#video"/>
</svg>
Video</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Slovakia (Slovak Republic)</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Graphic Interface
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Artificial Intelligence
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Laboriosam Veritatis Consequatur Hic Eos Et Natus Qui Est Eum Dolor</a>
				</h3>
				<p class="card__meta card__subscription"><svg
	class="icon icon--lock"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/lock.svg#lock"/>
</svg>
 <span aria-hidden="true">Subscription required</span><span class="screen-reader-text">Subscription required to access this resource</span></p>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Quo Velit Accusantium Odit</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Kyrgyz Republic</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Extranet
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Concept
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Repudiandae Eum Est Voluptates Dolores Maiores Ut Quos Aut</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Libero Molestiae Iste Et</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--book"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/book.svg#book"/>
</svg>
Book</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Montserrat</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Knowledge User
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>System Engine
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Iure Deleniti Delectus Nihil Tempora</a>
				</h3>
				<p class="card__meta card__subscription"><svg
	class="icon icon--lock"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/lock.svg#lock"/>
</svg>
 <span aria-hidden="true">Subscription required</span><span class="screen-reader-text">Subscription required to access this resource</span></p>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Aut Nostrum Quibusdam</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--academic"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/academic.svg#academic"/>
</svg>
Academic Paper</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Pakistan</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Hub
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Definition
					</div>
					<span class="overflow">
						+5 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	</ul>
</div>
				</main>
			</div>
		</div>
		<footer class="content-info">
  			<div class="container"><div class="columns">
	<div class="column">
		<a class="logo link--inverse" rel="external" href="https://platform.coop">
<svg
	class="logo__image"
	aria-hidden="true"
	viewBox="0 0 282.08 78.75"
	focusable="false"
>
	<use href="/images/logo.svg#logo"/>
</svg>
			<span class="screen-reader-text">Platform Cooperativism Consortium</span>
		</a>
		<div class="nav">
			<p><a class="link--inverse" rel="external" href="https://platform.coop/open-access-and-privacy-policy/">Our open access &amp; privacy policy</a></p>
			<p><a class="link--inverse" rel="external" href="https://platform.coop/diversity-inclusion/">Our commitment to diversity &amp; inclusion</a></p>
		</div>
	</div>
	<div class="column">
		<div class="h4"><a rel="external" class="link--inverse" href="https://platform.coop/contact-us/">Contact us</a></div>
		<div>
			<strong>Email</strong><br />
			<a class="link--inverse" href="mailto:pcc@newschool.edu" rel="external">pcc@newschool.edu</a>
		</div>
	</div>
</div>
</div>
  		</footer>
	</body>
</html>

