

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js" defer></script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Home: Default | Pinecone</title>
	</head>

	<body class="page home">
		<header role="banner">
			<div class="container">
<nav class="global-nav" aria-labelledby="global-nav-label">
	<span id="global-nav-label" class="screen-reader-text">global navigation</span>
	<ul class="global-nav__list">
		<li class="global-nav__list-item global-nav__list-item--first">
			<a class="global-nav__link" rel="external" href="https://platform.coop"><svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
 Platform Cooperativism Consortium</a>
		</li>
		<li class="global-nav__list-item">
			<a class="global-nav__link" aria-current="true" rel="home" href="https://resources.platform.coop/">Resource Library</a>
		</li>
	</ul class="global-nav__list">
</nav>
<a href="/" class="link link--brand">
<svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
	<span class="brand__title screen-reader-text">Platform Cooperativism Consortium</span>
</a>
<div class="inner">
<nav class="nav" aria-labelledby="menu-primary-label">
	<button class="button button--borderless menu-toggle" aria-expanded="false">
<svg
	class="icon icon--open"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
		<span id="menu-primary-label" class="menu-toggle__label">Menu</span>
	</button>
	<ul class="menu">
		<li class="menu__submenu-wrapper current_page_ancestor current-menu-ancestor">
			<a class="menu__item" aria-current="page" href="#explore">Explore</a>
			<ul class="menu__submenu">
				<li><a aria-current="page"class="menu__item" href="#browse-all">Browse all</a></li>
				<li><a class="menu__item" href="#topics">Topics</a></li>
				<li><a class="menu__item" href="#goals">Goals</a></li>
				<li><a class="menu__item" href="#formats">Formats</a></li>
				<li><a class="menu__item" href="#sectors">Sectors</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#getting-started">Getting Started</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#how-to">How to use your library</a></li>
				<li><a class="menu__item" href="#glossary">Glossary</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#my-resources">My Resources</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#favorites">Favorites</a></li>
				<li><a class="menu__item" href="#saved-searches">Saved searches</a></li>
			</ul>
		</li>
		<li>
			<a class="menu__item" href="#about">About</a>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#settings">Settings</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#language">Language</a></li>
				<li><a class="menu__item" href="#privacy">Privacy</a></li>
			</ul>
		</li>
		<li class="menu-item menu-item--languages menu__submenu-wrapper">
			<a class="menu__item" href="/en/settings/language/">
				<span class="menu__label">Language</span>
<svg
	class="icon icon--language icon--lg"
	aria-hidden="true"
	viewBox="0 0 30 30"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
			</a>
			<ul class="menu__submenu">
				<li class="menu-item"><a aria-current="true" href="/en/" class="menu__item">English</a></li>
				<li class="menu-item"><a href="/pt/" class="menu__item">Português</a></li>
				<li class="menu-item"><a href="/sv/" class="menu__item">Svenska</a></li>
				<li class="menu-item"><a href="/it/" class="menu__item">Italiano</a></li>
				<li class="menu-item"><a href="/es/" class="menu__item">Español</a></li>
				<li class="menu-item"><a href="/fr/" class="menu__item">Français</a></li>
				<li class="menu-item"><a href="/de/" class="menu__item">Deutsch</a></li>
			</ul>
		</li>
	</ul>
</nav>
</div>
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="banner-pattern"></div>
<div class="page-header">
	<div class="inside">
		<h1><span class="pc-ff--sans pc-fw--normal">Platform Co-op</span><br /> Resource Library</h1>
		<p class="subhead">A place where you can learn and share knowledge about co-ops, platform co-ops, the digital economy, and more.</p>
	</div>
</div>
<section class="home__search">
<form role="search" method="get" class="search-form search-form--inverse" action="/">
	<label>
		<span class="screen-reader-text">search</span>
		<input id="s" name="s" placeholder="Search resource name, publisher, or topic…"  type="search" />
	</label>
	<button type="submit" class="button button--search"><span class="screen-reader-text">submit search</span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
</form>
	
</section>
<section class="home__browse">
	<h2>Browse by</h2>
<ul class="link-list link-list--inverse">
	<li class="link-list__item"><a href="/topics"><svg
	class="icon icon--topic"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/topic.svg#topic"/>
</svg>
Topics</a></li>
	<li class="link-list__item"><a href="/goals"><svg
	class="icon icon--goal"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/goal.svg#goal"/>
</svg>
Goals</a></li>
	<li class="link-list__item"><a href="/formats"><svg
	class="icon icon--format"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/format.svg#format"/>
</svg>
Formats</a></li>
	<li class="link-list__item"><a href="/sectors"><svg
	class="icon icon--sector"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/sector.svg#sector"/>
</svg>
Sectors</a></li>
</ul>
	<p>
<a class="link--inverse" href="/browse-all">Browse all resources</a>
	</p>
</section>
<section class="home__feed">
	<header>
		<h2>My feed</h2>
		<a href="/customize">Customize feed</a>
	</header>
	<h3><a href="/most-viewed">Most viewed</a></h3>
	<div class="meta-card-wrapper">
		<div class="card-wrapper">
			<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Tempora Est minus Dignissimos Fuga Qui Ut Quasi Accusamus Vel</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Veniam Quis</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--audio"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/audio.svg#audio"/>
</svg>
Audio</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Japan</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Definition
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Installation
					</div>
					<span class="overflow">
						+1 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Qui Fuga Rerum Beatae Ipsam Maxime Ipsum Deleniti Iste Aut Similique Corporis</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Et Distinctio Ex Tenetur</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--case-study"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
Case Study</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Wallis and Futuna</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Encoding
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Synergy
					</div>
					<span class="overflow">
						+3 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Accusantium Quod Dolores Quaerat Repudiandae Et Dignissimos Reiciendis Repellat</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Suscipit Ipsam</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--toolkit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
Toolkit</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Indonesia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Migration
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Concept
					</div>
					<span class="overflow">
						+3 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Dolore Autem Eaque Quisquam Fugit Fuga Est Aperiam Pariatur Modi</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Minus Id</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--educational-curriculum"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/educational-curriculum.svg#educational-curriculum"/>
</svg>
Educational Curriculum</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Portugal</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Ability
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Software
					</div>
					<span class="overflow">
						+2 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
			</ul>
		</div>
		<aside class="info-cards">
<div class="info-card">
<button id="button" type="button" class="button button--borderless">
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
<span class="button__label screen-reader-text">Close</span></button>
	<p class="info-card__title">
<svg
	class="icon icon--language"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
		Change language
	</p>
	<p class="info-card__description">Want to see resources in another language?</p>
	<p class="info-card__action">
		<a href="/settings/language">Add or change language</a>
	</p>
</div>
<div class="info-card">
<button id="button" type="button" class="button button--borderless">
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
<span class="button__label screen-reader-text">Close</span></button>
	<p class="info-card__title">
		Not sure how to use the library?
	</p>
	<p class="info-card__action">
		<a href="/settings/language">Learn how</a>
	</p>
</div>
		</aside>
	</div>
	<h3><a href="/most-recent">Recently published</a></h3>
	<div class="card-wrapper">
		<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Dolorum Sit Et Dolorem Et Libero Autem Et</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Placeat Harum Maxime Et</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--video"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/video.svg#video"/>
</svg>
Video</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Bahamas</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Middleware
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Array
					</div>
					<span class="overflow">
						+5 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Quo Est Distinctio Quaerat Praesentium Magni Voluptatem</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Aut Quae Odio</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Burkina Faso</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Core
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Secured Line
					</div>
					<span class="overflow">
						+5 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Ratione Est Quae Id Doloremque Id Impedit</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Numquam Praesentium</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--book"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/book.svg#book"/>
</svg>
Book</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Macedonia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Support
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Superstructure
					</div>
					<span class="overflow">
						+5 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Et Molestiae Quas Rerum Alias</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Dolorum Laborum</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--academic-paper"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/academic-paper.svg#academic-paper"/>
</svg>
Academic Paper</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Slovenia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Access
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Moderator
					</div>
					<span class="overflow">
						+2 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
		</ul>
	</div>
</section>
				</main>
			</div>
		</div>
		<footer class="content-info">
  			<div class="container"><div class="columns">
	<div class="column">
		<a class="logo link--inverse" rel="external" href="https://platform.coop">
<svg
	class="logo__image"
	aria-hidden="true"
	viewBox="0 0 282.08 78.75"
	focusable="false"
>
	<use href="/images/logo.svg#logo"/>
</svg>
			<span class="screen-reader-text">Platform Cooperativism Consortium</span>
		</a>
		<div class="nav">
			<p><a class="link--inverse" rel="external" href="https://platform.coop/open-access-and-privacy-policy/">Our open access &amp; privacy policy</a></p>
			<p><a class="link--inverse" rel="external" href="https://platform.coop/diversity-inclusion/">Our commitment to diversity &amp; inclusion</a></p>
		</div>
	</div>
	<div class="column">
		<div class="h4"><a rel="external" class="link--inverse" href="https://platform.coop/contact-us/">Contact us</a></div>
		<div>
			<strong>Email</strong><br />
			<a class="link--inverse" href="mailto:info@platform.coop" rel="external">info@platform.coop</a>
		</div>
	</div>
</div>
</div>
  		</footer>
	</body>
</html>

