

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Home: Default | Pinecone</title>
	</head>

	<body class="page home">
		<header role="banner">
			<div class="container">
<a href="/" class="brand">
<svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
	<span class="brand__title screen-reader-text">Platform Cooperativism Consortium</span>
</a>
<div class="inner">
	<nav aria-labelledby="menu-primary-label">
		<button class="button menu-toggle" aria-expanded="false">
<svg
	class="icon icon--open"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
			<span id="menu-primary-label" class="menu-toggle__label">Menu</span>
		</button>
		<ul class="menu menu--home">
			<li class="menu__submenu-wrapper current_page_ancestor current-menu-ancestor">
				<a class="menu__item" aria-current="page" href="#explore">Explore</a>
				<ul class="menu__submenu">
					<li><a aria-current="page"class="menu__item" href="#browse-all">Browse all</a></li>
					<li><a class="menu__item" href="#topics">Topics</a></li>
					<li><a class="menu__item" href="#goals">Goals</a></li>
					<li><a class="menu__item" href="#formats">Formats</a></li>
					<li><a class="menu__item" href="#sectors">Sectors</a></li>
				</ul>
			</li>
			<li class="menu__submenu-wrapper">
				<a class="menu__item" href="#getting-started">Getting Started</a>
				<ul class="menu__submenu">
					<li><a class="menu__item" href="#how-to">How to use your library</a></li>
					<li><a class="menu__item" href="#glossary">Glossary</a></li>
				</ul>
			</li>
			<li class="menu__submenu-wrapper">
				<a class="menu__item" href="#my-resources">My Resources</a>
				<ul class="menu__submenu">
					<li><a class="menu__item" href="#favorites">Favorites</a></li>
					<li><a class="menu__item" href="#saved-searches">Saved searches</a></li>
				</ul>
			</li>
			<li>
				<a class="menu__item" href="#about">About</a>
			</li>
			<li class="menu__submenu-wrapper">
				<a class="menu__item" href="#settings">Settings</a>
				<ul class="menu__submenu">
					<li><a class="menu__item" href="#language">Language</a></li>
					<li><a class="menu__item" href="#privacy">Privacy</a></li>
				</ul>
			</li>
			<li class="menu-item menu-item--languages menu__submenu-wrapper">
				<a class="menu__item" href="/en/settings/language/">
					<span class="menu__label">Language</span>
<svg
	class="icon icon--language icon--lg"
	aria-hidden="true"
	viewBox="0 0 30 30"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
				</a>
				<ul class="menu__submenu">
					<li class="menu-item"><a aria-current="true" href="/en/" class="menu__item">English</a></li>
					<li class="menu-item"><a href="/pt/" class="menu__item">Português</a></li>
					<li class="menu-item"><a href="/sv/" class="menu__item">Svenska</a></li>
					<li class="menu-item"><a href="/it/" class="menu__item">Italiano</a></li>
					<li class="menu-item"><a href="/es/" class="menu__item">Español</a></li>
					<li class="menu-item"><a href="/fr/" class="menu__item">Français</a></li>
					<li class="menu-item"><a href="/de/" class="menu__item">Deutsch</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="page-header">
	<h1><span class="pc-ff--sans pc-fw--normal">Platform Co-op</span><br /> Resource Library</h1>
	<p class="subhead">A place where you can learn and share knowledge about co-ops, platform co-ops, the digital economy, and more.</p>
</div>
<section class="home__search">
<form role="search" method="get" class="search-form search-form--inverse" action="/">
	<label>
		<span class="screen-reader-text">search</span>
		<input id="s" name="s" placeholder="Search resource name, publisher, or topic…"  type="search" />
	</label>
	<button type="submit" class="search-submit"><span class="screen-reader-text">submit search</span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
</form>
	
</section>
<section class="home__browse">
	<h2>Browse by</h2>
<ul class="link-list link-list--inverse">
	<li class="link-list__item"><a href="/topics"><svg
	class="icon icon--topic"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/topic.svg#topic"/>
</svg>
Topics</a></li>
	<li class="link-list__item"><a href="/goals"><svg
	class="icon icon--goal"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/goal.svg#goal"/>
</svg>
Goals</a></li>
	<li class="link-list__item"><a href="/formats"><svg
	class="icon icon--format"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/format.svg#format"/>
</svg>
Formats</a></li>
	<li class="link-list__item"><a href="/sectors"><svg
	class="icon icon--sector"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/sector.svg#sector"/>
</svg>
Sectors</a></li>
</ul>
<p class="wp-block-button wp-block-button--inverse">
	<a href="/browse-all" class="wp-block-button__link">Browse all resources
	</a>
</p>
</section>
<section class="home__feed">
	<header>
		<h2>My feed</h2>
		<a href="/customize">Customize feed</a>
	</header>
	<h3><a href="/most-viewed">Most viewed</a></h3>
	<div class="meta-card-wrapper">
		<div class="card-wrapper">
			<ul class="cards">
	<li class="card card--resource" data-format="audio">
		<header>
				<span class="card__format">
<svg
	class="icon icon--audio"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/audio.svg#audio"/>
</svg>
Audio</span>				<h2 class="card__title" >
					<a href="resource">Porro Rerum Beatae Perspiciatis Consequatur Aliquid Dicta Nesciunt Ut Facere Unde</a>
				</h2>
		</header>
			<p class="card__byline">By Amet Sit Sunt</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Montenegro</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Utilisation
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Projection
							</li>
					</ul>
					<p>+2 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="case-study">
		<header>
				<span class="card__format">
<svg
	class="icon icon--case-study"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
Case Study</span>				<h2 class="card__title" >
					<a href="resource">Ipsam Quae Ut Enim Optio Quam Architecto Magnam Est Delectus Mollitia</a>
				</h2>
		</header>
			<p class="card__byline">By Quos Aliquid</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Guinea</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Hardware
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Definition
							</li>
					</ul>
					<p>+3 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="toolkit">
		<header>
				<span class="card__format">
<svg
	class="icon icon--toolkit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
Toolkit</span>				<h2 class="card__title" >
					<a href="resource">Architecto Error Et Quia Rerum Ea Et</a>
				</h2>
		</header>
			<p class="card__byline">By Aliquid Facilis</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Luxembourg</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Conglomeration
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Encoding
							</li>
					</ul>
					<p>+3 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="educational-curriculum">
		<header>
				<span class="card__format">
<svg
	class="icon icon--educational-curriculum"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/educational-curriculum.svg#educational-curriculum"/>
</svg>
Educational Curriculum</span>				<h2 class="card__title" >
					<a href="resource">Quis Et Deserunt Aut Nihil Sed Deleniti Est Tempore Voluptatem Consequatur Animi</a>
				</h2>
		</header>
			<p class="card__byline">By Sequi Debitis</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Anguilla</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Productivity
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Complexity
							</li>
					</ul>
					<p>+4 more</p>
				</div>
		</li>
			</ul>
		</div>
		<aside class="info-cards">
<div class="info-card">
<button id="button" type="button" class="button">
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
<span class="button__label screen-reader-text">Close</span></button>
	<p class="info-card__title">
<svg
	class="icon icon--language"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
		Change language
	</p>
	<p class="info-card__description">Want to see resources in another language?</p>
	<p class="info-card__action">
		<a href="/settings/language">Add or change language</a>
	</p>
</div>
<div class="info-card">
<button id="button" type="button" class="button">
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
<span class="button__label screen-reader-text">Close</span></button>
	<p class="info-card__title">
		Not sure how to use the library?
	</p>
	<p class="info-card__action">
		<a href="/settings/language">Learn how</a>
	</p>
</div>
		</aside>
	</div>
	<h3><a href="/most-recent">Recently published</a></h3>
	<div class="card-wrapper">
		<ul class="cards">
	<li class="card card--resource" data-format="video">
		<header>
				<span class="card__format">
<svg
	class="icon icon--video"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/video.svg#video"/>
</svg>
Video</span>				<h2 class="card__title" >
					<a href="resource">Voluptas Libero Magnam Aliquam Id Debitis Et Eos Animi Cum Aliquam Quod</a>
				</h2>
		</header>
			<p class="card__byline">By Et Rem Sed Nisi</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Chad</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Matrix
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Benchmark
							</li>
					</ul>
					<p>+4 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="article">
		<header>
				<span class="card__format">
<svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>				<h2 class="card__title" >
					<a href="resource">Dolor Sapiente Ullam Consequatur Cumque Quae Repellendus Libero Non Molestiae Occaecati Ut</a>
				</h2>
		</header>
			<p class="card__byline">By Odio Voluptatibus Laboriosam</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Togo</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Support
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Adapter
							</li>
					</ul>
					<p>+1 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="book">
		<header>
				<span class="card__format">
<svg
	class="icon icon--book"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/book.svg#book"/>
</svg>
Book</span>				<h2 class="card__title" >
					<a href="resource">Odio Rerum Tempore Aspernatur Qui Earum Id Totam Nisi Enim Neque</a>
				</h2>
		</header>
			<p class="card__byline">By Deleniti Et Cupiditate Aut</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Singapore</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Interface
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Synergy
							</li>
					</ul>
					<p>+5 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="academic-paper">
		<header>
				<span class="card__format">
<svg
	class="icon icon--academic-paper"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/academic-paper.svg#academic-paper"/>
</svg>
Academic Paper</span>				<h2 class="card__title" >
					<a href="resource">Quaerat Hic Omnis Magnam Esse Non</a>
				</h2>
		</header>
			<p class="card__byline">By Id Ullam</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Gabon</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Matrices
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Ability
							</li>
					</ul>
					<p>+5 more</p>
				</div>
		</li>
		</ul>
	</div>
</section>
				</main>
			</div>
		</div>
		<footer class="content-info">
  			<div class="container"><div class="columns">
	<div class="column">
		<a class="logo link--inverse" rel="external" href="https://platform.coop">
<svg
	class="logo__image"
	aria-hidden="true"
	viewBox="0 0 282.08 78.75"
	focusable="false"
>
	<use href="/images/logo.svg#logo"/>
</svg>
			<span class="screen-reader-text">Platform Cooperativism Consortium</span>
		</a>
		<div class="nav">
			<p><a class="link--inverse" rel="external" href="https://platform.coop/open-access-and-privacy-policy/">Our open access &amp; privacy policy</a></p>
			<p><a class="link--inverse" rel="external" href="https://platform.coop/diversity-inclusion/">Our commitment to diversity &amp; inclusion</a></p>
		</div>
	</div>
	<div class="column">
		<div class="h4"><a rel="external" class="link--inverse" href="https://platform.coop/contact-us/">Contact us</a></div>
		<div>
			<strong>Email</strong><br />
			<a class="link--inverse" href="mailto:info@platform.coop" rel="external">info@platform.coop</a>
		</div>
	</div>
</div>
</div>
  		</footer>
		<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.inert"></script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js"></script>
	</body>
</html>

