

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js" defer></script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Icons: Default | Pinecone</title>
	</head>

	<body>
		<header role="banner">
			<div class="container">
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<style>
	.icons {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0.75rem;
	}

	.row {
		width: 100%;
	}

	.row + .row {
		margin-top: 1rem;
	}

	.icon + .icon {
		margin-left: 0.5rem;
	}
</style>
<h1>Icons</h1>
<div class="icons">
	<div class="row">
<svg
	class="icon icon--favorite"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/favorite.svg#favorite"/>
</svg>
<svg
	class="icon icon--favorite-filled"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/favorite-filled.svg#favorite-filled"/>
</svg>
<svg
	class="icon icon--share"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/share.svg#share"/>
</svg>
<svg
	class="icon icon--author"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/author.svg#author"/>
</svg>
<svg
	class="icon icon--edit"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/edit.svg#edit"/>
</svg>
<svg
	class="icon icon--save"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/save.svg#save"/>
</svg>
<svg
	class="icon icon--info"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/info.svg#info"/>
</svg>
<svg
	class="icon icon--success"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/success.svg#success"/>
</svg>
<svg
	class="icon icon--warning"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/warning.svg#warning"/>
</svg>
<svg
	class="icon icon--error"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/error.svg#error"/>
</svg>
<svg
	class="icon icon--location"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/location.svg#location"/>
</svg>
<svg
	class="icon icon--broken-link"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/broken-link.svg#broken-link"/>
</svg>
<svg
	class="icon icon--menu"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--filter"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/filter.svg#filter"/>
</svg>
<svg
	class="icon icon--sort"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/sort.svg#sort"/>
</svg>
<svg
	class="icon icon--tag"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/tag.svg#tag"/>
</svg>
<svg
	class="icon icon--delete"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/delete.svg#delete"/>
</svg>
<svg
	class="icon icon--settings"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/settings.svg#settings"/>
</svg>
<svg
	class="icon icon--customize"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/customize.svg#customize"/>
</svg>
<svg
	class="icon icon--export"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/export.svg#export"/>
</svg>
<svg
	class="icon icon--external"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/external.svg#external"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--chevron-left"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-left.svg#chevron-left"/>
</svg>
<svg
	class="icon icon--chevron-right"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-right.svg#chevron-right"/>
</svg>
<svg
	class="icon icon--chevron-up"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-up.svg#chevron-up"/>
</svg>
<svg
	class="icon icon--chevron-down"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-down.svg#chevron-down"/>
</svg>
<svg
	class="icon icon--scroll-up"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/scroll-up.svg#scroll-up"/>
</svg>
<svg
	class="icon icon--scroll-down"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/scroll-down.svg#scroll-down"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/close.svg#close"/>
</svg>
<svg
	class="icon icon--add"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/add.svg#add"/>
</svg>
<svg
	class="icon icon--calendar"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/calendar.svg#calendar"/>
</svg>
<svg
	class="icon icon--search"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/search.svg#search"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--academic"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/academic.svg#academic"/>
</svg>
<svg
	class="icon icon--article"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/article.svg#article"/>
</svg>
<svg
	class="icon icon--audio"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/audio.svg#audio"/>
</svg>
<svg
	class="icon icon--blog"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/blog.svg#blog"/>
</svg>
<svg
	class="icon icon--book"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/book.svg#book"/>
</svg>
<svg
	class="icon icon--case-study"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
<svg
	class="icon icon--curriculum"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/curriculum.svg#curriculum"/>
</svg>
<svg
	class="icon icon--document"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/document.svg#document"/>
</svg>
<svg
	class="icon icon--online-training"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/online-training.svg#online-training"/>
</svg>
<svg
	class="icon icon--presentation"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/presentation.svg#presentation"/>
</svg>
<svg
	class="icon icon--report"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/report.svg#report"/>
</svg>
<svg
	class="icon icon--template"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/template.svg#template"/>
</svg>
<svg
	class="icon icon--toolkit"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
<svg
	class="icon icon--video"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/video.svg#video"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--topic icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/topic.svg#topic"/>
</svg>
<svg
	class="icon icon--goal icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/goal.svg#goal"/>
</svg>
<svg
	class="icon icon--sector icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/sector.svg#sector"/>
</svg>
<svg
	class="icon icon--format icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/format.svg#format"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--language icon--lg"
	aria-hidden=""
	viewBox="0 0 32 32"
	focusable=""
>
	<use href="/images/language.svg#language"/>
</svg>
<svg
	class="icon icon--pcc icon--lg"
	aria-hidden=""
	viewBox="0 0 32 32"
	focusable=""
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--browse icon--xl"
	aria-hidden=""
	viewBox="0 0 40 40"
	focusable=""
>
	<use href="/images/browse.svg#browse"/>
</svg>
	</div>
</div>
<div class="icons has-blue-500-color">
	<div class="row">
<svg
	class="icon icon--favorite"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/favorite.svg#favorite"/>
</svg>
<svg
	class="icon icon--favorite-filled"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/favorite-filled.svg#favorite-filled"/>
</svg>
<svg
	class="icon icon--share"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/share.svg#share"/>
</svg>
<svg
	class="icon icon--author"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/author.svg#author"/>
</svg>
<svg
	class="icon icon--edit"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/edit.svg#edit"/>
</svg>
<svg
	class="icon icon--save"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/save.svg#save"/>
</svg>
<svg
	class="icon icon--info"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/info.svg#info"/>
</svg>
<svg
	class="icon icon--success"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/success.svg#success"/>
</svg>
<svg
	class="icon icon--warning"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/warning.svg#warning"/>
</svg>
<svg
	class="icon icon--error"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/error.svg#error"/>
</svg>
<svg
	class="icon icon--location"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/location.svg#location"/>
</svg>
<svg
	class="icon icon--broken-link"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/broken-link.svg#broken-link"/>
</svg>
<svg
	class="icon icon--menu"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--filter"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/filter.svg#filter"/>
</svg>
<svg
	class="icon icon--sort"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/sort.svg#sort"/>
</svg>
<svg
	class="icon icon--tag"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/tag.svg#tag"/>
</svg>
<svg
	class="icon icon--delete"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/delete.svg#delete"/>
</svg>
<svg
	class="icon icon--settings"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/settings.svg#settings"/>
</svg>
<svg
	class="icon icon--customize"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/customize.svg#customize"/>
</svg>
<svg
	class="icon icon--export"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/export.svg#export"/>
</svg>
<svg
	class="icon icon--external"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/external.svg#external"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--chevron-left"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-left.svg#chevron-left"/>
</svg>
<svg
	class="icon icon--chevron-right"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-right.svg#chevron-right"/>
</svg>
<svg
	class="icon icon--chevron-up"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-up.svg#chevron-up"/>
</svg>
<svg
	class="icon icon--chevron-down"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-down.svg#chevron-down"/>
</svg>
<svg
	class="icon icon--scroll-up"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/scroll-up.svg#scroll-up"/>
</svg>
<svg
	class="icon icon--scroll-down"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/scroll-down.svg#scroll-down"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/close.svg#close"/>
</svg>
<svg
	class="icon icon--add"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/add.svg#add"/>
</svg>
<svg
	class="icon icon--calendar"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/calendar.svg#calendar"/>
</svg>
<svg
	class="icon icon--search"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/search.svg#search"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--academic"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/academic.svg#academic"/>
</svg>
<svg
	class="icon icon--article"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/article.svg#article"/>
</svg>
<svg
	class="icon icon--audio"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/audio.svg#audio"/>
</svg>
<svg
	class="icon icon--blog"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/blog.svg#blog"/>
</svg>
<svg
	class="icon icon--book"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/book.svg#book"/>
</svg>
<svg
	class="icon icon--case-study"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
<svg
	class="icon icon--curriculum"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/curriculum.svg#curriculum"/>
</svg>
<svg
	class="icon icon--document"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/document.svg#document"/>
</svg>
<svg
	class="icon icon--online-training"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/online-training.svg#online-training"/>
</svg>
<svg
	class="icon icon--presentation"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/presentation.svg#presentation"/>
</svg>
<svg
	class="icon icon--report"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/report.svg#report"/>
</svg>
<svg
	class="icon icon--template"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/template.svg#template"/>
</svg>
<svg
	class="icon icon--toolkit"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
<svg
	class="icon icon--video"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/video.svg#video"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--topic icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/topic.svg#topic"/>
</svg>
<svg
	class="icon icon--goal icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/goal.svg#goal"/>
</svg>
<svg
	class="icon icon--sector icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/sector.svg#sector"/>
</svg>
<svg
	class="icon icon--format icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/format.svg#format"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--language icon--lg"
	aria-hidden=""
	viewBox="0 0 32 32"
	focusable=""
>
	<use href="/images/language.svg#language"/>
</svg>
<svg
	class="icon icon--pcc icon--lg"
	aria-hidden=""
	viewBox="0 0 32 32"
	focusable=""
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--browse icon--xl"
	aria-hidden=""
	viewBox="0 0 40 40"
	focusable=""
>
	<use href="/images/browse.svg#browse"/>
</svg>
	</div>
</div>

<div class="icons has-dark-mint-500-background-color">
	<div class="row">
<svg
	class="icon icon--favorite"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/favorite.svg#favorite"/>
</svg>
<svg
	class="icon icon--favorite-filled"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/favorite-filled.svg#favorite-filled"/>
</svg>
<svg
	class="icon icon--share"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/share.svg#share"/>
</svg>
<svg
	class="icon icon--author"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/author.svg#author"/>
</svg>
<svg
	class="icon icon--edit"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/edit.svg#edit"/>
</svg>
<svg
	class="icon icon--save"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/save.svg#save"/>
</svg>
<svg
	class="icon icon--info"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/info.svg#info"/>
</svg>
<svg
	class="icon icon--success"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/success.svg#success"/>
</svg>
<svg
	class="icon icon--warning"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/warning.svg#warning"/>
</svg>
<svg
	class="icon icon--error"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/error.svg#error"/>
</svg>
<svg
	class="icon icon--location"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/location.svg#location"/>
</svg>
<svg
	class="icon icon--broken-link"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/broken-link.svg#broken-link"/>
</svg>
<svg
	class="icon icon--menu"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--filter"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/filter.svg#filter"/>
</svg>
<svg
	class="icon icon--sort"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/sort.svg#sort"/>
</svg>
<svg
	class="icon icon--tag"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/tag.svg#tag"/>
</svg>
<svg
	class="icon icon--delete"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/delete.svg#delete"/>
</svg>
<svg
	class="icon icon--settings"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/settings.svg#settings"/>
</svg>
<svg
	class="icon icon--customize"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/customize.svg#customize"/>
</svg>
<svg
	class="icon icon--export"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/export.svg#export"/>
</svg>
<svg
	class="icon icon--external"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/external.svg#external"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--chevron-left"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-left.svg#chevron-left"/>
</svg>
<svg
	class="icon icon--chevron-right"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-right.svg#chevron-right"/>
</svg>
<svg
	class="icon icon--chevron-up"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-up.svg#chevron-up"/>
</svg>
<svg
	class="icon icon--chevron-down"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/chevron-down.svg#chevron-down"/>
</svg>
<svg
	class="icon icon--scroll-up"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/scroll-up.svg#scroll-up"/>
</svg>
<svg
	class="icon icon--scroll-down"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/scroll-down.svg#scroll-down"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/close.svg#close"/>
</svg>
<svg
	class="icon icon--add"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/add.svg#add"/>
</svg>
<svg
	class="icon icon--calendar"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/calendar.svg#calendar"/>
</svg>
<svg
	class="icon icon--search"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/search.svg#search"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--academic"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/academic.svg#academic"/>
</svg>
<svg
	class="icon icon--article"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/article.svg#article"/>
</svg>
<svg
	class="icon icon--audio"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/audio.svg#audio"/>
</svg>
<svg
	class="icon icon--blog"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/blog.svg#blog"/>
</svg>
<svg
	class="icon icon--book"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/book.svg#book"/>
</svg>
<svg
	class="icon icon--case-study"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
<svg
	class="icon icon--curriculum"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/curriculum.svg#curriculum"/>
</svg>
<svg
	class="icon icon--document"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/document.svg#document"/>
</svg>
<svg
	class="icon icon--online-training"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/online-training.svg#online-training"/>
</svg>
<svg
	class="icon icon--presentation"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/presentation.svg#presentation"/>
</svg>
<svg
	class="icon icon--report"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/report.svg#report"/>
</svg>
<svg
	class="icon icon--template"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/template.svg#template"/>
</svg>
<svg
	class="icon icon--toolkit"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
<svg
	class="icon icon--video"
	aria-hidden=""
	viewBox=""
	focusable=""
>
	<use href="/images/video.svg#video"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--topic icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/topic.svg#topic"/>
</svg>
<svg
	class="icon icon--goal icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/goal.svg#goal"/>
</svg>
<svg
	class="icon icon--sector icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/sector.svg#sector"/>
</svg>
<svg
	class="icon icon--format icon--md"
	aria-hidden=""
	viewBox="0 0 24 24"
	focusable=""
>
	<use href="/images/format.svg#format"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--language icon--lg"
	aria-hidden=""
	viewBox="0 0 32 32"
	focusable=""
>
	<use href="/images/language.svg#language"/>
</svg>
<svg
	class="icon icon--pcc icon--lg"
	aria-hidden=""
	viewBox="0 0 32 32"
	focusable=""
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
	</div>
	<div class="row">
<svg
	class="icon icon--browse icon--xl"
	aria-hidden=""
	viewBox="0 0 40 40"
	focusable=""
>
	<use href="/images/browse.svg#browse"/>
</svg>
	</div>
</div>
				</main>
			</div>
		</div>
	</body>
</html>

