

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" type="image/ico" href="../../themes/mandelbrot/favicon.ico" >
		<title>Text Input: Error (Light on Dark) | Pinecone</title>
	</head>

	<body class="has-dark-mint-500-background-color">
		<header role="banner">
			<div class="container">
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="input-group input-group--error">
	<label for="text">Text Input (Error)</label>
	<input id="text" name="text" placeholder="Example input" type="text" value="Incorrect input" />
<p class="input-group__error"><svg
	class="icon icon--error"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/error.svg#error"/>
</svg>
Sorry, that appears to be incorrect.</p>	<p class="input-group__description">Description for this text input.</p>
</div>
				</main>
			</div>
		</div>
		<footer class="content-info">
  			<div class="container"></div>
  		</footer>
		<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Element.prototype.inert"></script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js"></script>
	</body>
</html>

