

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Link: Relative (Inverse) | Pinecone</title>
	</head>

	<body class="has-blue-500-background-color">
		<header role="banner">
			<div class="container">
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="spacer"></div><a class="link--inverse" href="#inverse">Link</a>
				</main>
			</div>
		</div>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js"></script>
	</body>
</html>

