

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js" defer></script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Page: Default | Pinecone</title>
	</head>

	<body class="page">
		<header role="banner">
			<div class="container">
<nav class="global-nav" aria-labelledby="global-nav-label">
	<span id="global-nav-label" class="screen-reader-text">global navigation</span>
	<ul class="global-nav__list">
		<li class="global-nav__list-item global-nav__list-item--first">
			<a class="global-nav__link" rel="external" href="https://platform.coop"><svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
 Platform Cooperativism Consortium</a>
		</li>
		<li class="global-nav__list-item">
			<a class="global-nav__link" aria-current="true" rel="home" href="https://resources.platform.coop/">Resource Library</a>
		</li>
	</ul class="global-nav__list">
</nav>
<a href="/" class="link link--brand">
<svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
	<span class="brand__title screen-reader-text">Platform Cooperativism Consortium</span>
</a>
<div class="inner">
<button class="button button--borderless search-toggle" aria-expanded="false"><span class="screen-reader-text">Search </span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
<form role="search" method="get" class="search-form" action="/">
	<label>
		<span class="screen-reader-text">search</span>
		<input id="s" name="s"  type="search" />
	</label>
	<button type="submit" class="button button--search"><span class="screen-reader-text">submit search</span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
</form>
<nav class="nav" aria-labelledby="menu-primary-label">
	<button class="button button--borderless menu-toggle" aria-expanded="false">
<svg
	class="icon icon--open"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
		<span id="menu-primary-label" class="menu-toggle__label">Menu</span>
	</button>
	<ul class="menu">
		<li class="menu__submenu-wrapper current_page_ancestor current-menu-ancestor">
			<a class="menu__item" aria-current="page" href="#explore">Explore</a>
			<ul class="menu__submenu">
				<li><a aria-current="page"class="menu__item" href="#browse-all">Browse all</a></li>
				<li><a class="menu__item" href="#topics">Topics</a></li>
				<li><a class="menu__item" href="#goals">Goals</a></li>
				<li><a class="menu__item" href="#formats">Formats</a></li>
				<li><a class="menu__item" href="#sectors">Sectors</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#getting-started">Getting Started</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#how-to">How to use your library</a></li>
				<li><a class="menu__item" href="#glossary">Glossary</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#my-resources">My Resources</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#favorites">Favorites</a></li>
				<li><a class="menu__item" href="#saved-searches">Saved searches</a></li>
			</ul>
		</li>
		<li>
			<a class="menu__item" href="#about">About</a>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#settings">Settings</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#language">Language</a></li>
				<li><a class="menu__item" href="#privacy">Privacy</a></li>
			</ul>
		</li>
		<li class="menu-item menu-item--languages menu__submenu-wrapper">
			<a class="menu__item" href="/en/settings/language/">
				<span class="menu__label">Language</span>
<svg
	class="icon icon--language icon--lg"
	aria-hidden="true"
	viewBox="0 0 30 30"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
			</a>
			<ul class="menu__submenu">
				<li class="menu-item"><a aria-current="true" href="/en/" class="menu__item">English</a></li>
				<li class="menu-item"><a href="/pt/" class="menu__item">Português</a></li>
				<li class="menu-item"><a href="/sv/" class="menu__item">Svenska</a></li>
				<li class="menu-item"><a href="/it/" class="menu__item">Italiano</a></li>
				<li class="menu-item"><a href="/es/" class="menu__item">Español</a></li>
				<li class="menu-item"><a href="/fr/" class="menu__item">Français</a></li>
				<li class="menu-item"><a href="/de/" class="menu__item">Deutsch</a></li>
			</ul>
		</li>
	</ul>
</nav>
</div>
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="page-header">
	<div class="inside">
		<p><a class="link--breadcrumb" href="/">Home</a>
</p>
		<h1>Page Title</h1>
		<p class="subhead">This is the subhead of this page.</p>
	</div>
</div>
<h1>Repertoire</h1>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<blockquote>
<p>The problems of labor abuse and surveillance that have arisen with the “sharing economy”… have much in common with struggles on nineteenth-century factory floors. By considering the emerging platforms in light of well-hewn cooperative principles and practices, we find an optimistic vision for the future of work and life.</p>
</blockquote>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<ul>
	<li>Higher quality jobs</li>
	<li>Productivity benefits</li>
	<li>More resiliency than other business forms</li>
</ul>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<h2>How platform co-ops benefit you</h2>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<blockquote>
<p>The problems of labor abuse and surveillance that have arisen with the “sharing economy”… have much in common with struggles on nineteenth-century factory floors. By considering the emerging platforms in light of well-hewn cooperative principles and practices, we find an optimistic vision for the future of work and life.</p>
	<cite>Trebor Scholz</cite>
</blockquote>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<ol>
	<li>Higher quality jobs</li>
	<li>Productivity benefits</li>
	<li>More resiliency than other business forms</li>
</ol>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<h3>What is a platform co-op?</h3>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<h4>A tangible alternative</h4>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<p class="p--small">In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
				</main>
			</div>
		</div>
		<footer class="content-info">
  			<div class="container"><div class="columns">
	<div class="column">
		<a class="logo link--inverse" rel="external" href="https://platform.coop">
<svg
	class="logo__image"
	aria-hidden="true"
	viewBox="0 0 282.08 78.75"
	focusable="false"
>
	<use href="/images/logo.svg#logo"/>
</svg>
			<span class="screen-reader-text">Platform Cooperativism Consortium</span>
		</a>
		<div class="nav">
			<p><a class="link--inverse" rel="external" href="https://platform.coop/open-access-and-privacy-policy/">Our open access &amp; privacy policy</a></p>
			<p><a class="link--inverse" rel="external" href="https://platform.coop/diversity-inclusion/">Our commitment to diversity &amp; inclusion</a></p>
		</div>
	</div>
	<div class="column">
		<div class="h4"><a rel="external" class="link--inverse" href="https://platform.coop/contact-us/">Contact us</a></div>
		<div>
			<strong>Email</strong><br />
			<a class="link--inverse" href="mailto:info@platform.coop" rel="external">info@platform.coop</a>
		</div>
	</div>
</div>
</div>
  		</footer>
	</body>
</html>

