

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js" defer></script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Repertoire: Default | Pinecone</title>
	</head>

	<body>
		<header role="banner">
			<div class="container">
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<h1>h1. Platform Co-ops</h1><p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<blockquote>
	<p>The problems of labor abuse and surveillance that have arisen with the “sharing economy”… have much in common with struggles on nineteenth-century factory floors. By considering the emerging platforms in light of well-hewn cooperative principles and practices, we find an optimistic vision for the future of work and life.</p>
	<cite>Trebor Scholz</cite>
</blockquote>
<p>Instead of optimizing the online economy for growth and short-term profits for the few, we need to optimize the digital economy for all people. Platform co-ops offer a near-future, alternative to platform capitalism based on cooperative principles such as democratic ownership and governance.</p>
<p>Platform co-ops are advantageous because they offer:</p>
<ol>
		<li>Higher quality jobs</li>
		<li>Productivity benefits</li>
		<li>More resiliency than other business forms</li>
</ol>
<p>Given that many gigs are performed by people who are invisible to customers in sectors such as home cleaning, especially women of color are seeing fewer benefits, lower pay, and hardly any opportunity for meaningful on-the-job skills training. Their rights as workers have stalled. Especially non-white workers remain unprotected against discrimination. The inequalities created by the gig economy are magnifying existing systemic injustice based on gender, ability, and race.</p>
<h2>h2. How platform co-ops benefit you</h2>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<blockquote>
	<p>The problems of labor abuse and surveillance that have arisen with the “sharing economy”… have much in common with struggles on nineteenth-century factory floors. By considering the emerging platforms in light of well-hewn cooperative principles and practices, we find an optimistic vision for the future of work and life.</p>
</blockquote>
<p>Instead of optimizing the online economy for growth and short-term profits for the few, we need to optimize the digital economy for all people. Platform co-ops offer a near-future, alternative to platform capitalism based on cooperative principles such as democratic ownership and governance.</p>
<p>Platform co-ops are advantageous because they offer:</p>
<ul>
		<li>Higher quality jobs</li>
		<li>Productivity benefits</li>
		<li>More resiliency than other business forms</li>
</ul>
<p>Given that many gigs are performed by people who are invisible to customers in sectors such as home cleaning, especially women of color are seeing fewer benefits, lower pay, and hardly any opportunity for meaningful on-the-job skills training. Their rights as workers have stalled. Especially non-white workers remain unprotected against discrimination. The inequalities created by the gig economy are magnifying existing systemic injustice based on gender, ability, and race.</p>
<h3>h3. What is a platform co-op?</h3>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<p>Instead of optimizing the online economy for growth and short-term profits for the few, we need to optimize the digital economy for all people. Platform co-ops offer a near-future, alternative to platform capitalism based on cooperative principles such as democratic ownership and governance.</p>
<h4>h4. A tangible alternative</h4>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<p>Instead of optimizing the online economy for growth and short-term profits for the few, we need to optimize the digital economy for all people. Platform co-ops offer a near-future, alternative to platform capitalism based on cooperative principles such as democratic ownership and governance.</p>
				</main>
			</div>
		</div>
	</body>
</html>

