

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Saved Search: Default | Pinecone</title>
	</head>

	<body>
		<header role="banner">
			<div class="container">
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="spacer"></div><div class="saved-search">
	<h4><a href="/?s=Cooperative%20Economy">Cooperative economy paper</a></h4>
	<span class="disclosure-label" hidden>Show details</span>
	<div class="saved-search__details">
		<p><strong>Search term</strong><br />
		&ldquo;Cooperative Economy&rdquo;</p>
		<p><strong>Tags</strong></p>
		<div class="tags">
	<span class="badge">Lots of things to see here, probably will need to wrap</span>
	<span class="badge">Cooperative economy</span>
	<span class="badge">Cooperative economy</span>
	<span class="badge">Lots of things to see here, probably will need to wrap</span>
	<span class="badge">Australia</span>
	<span class="badge">Australia</span>
	<span class="badge">Lots of things to see here, probably will need to wrap</span>
	<span class="badge">Academic paper</span>
	<span class="badge">Academic paper</span>
		</div>
	</div>
</div>
				</main>
			</div>
		</div>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js"></script>
	</body>
</html>

