

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js" defer></script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Term List: Co-op Types | Pinecone</title>
	</head>

	<body class="page term-list coop-types">
		<header role="banner">
			<div class="container">
<nav class="global-nav" aria-labelledby="global-nav-label">
	<span id="global-nav-label" class="screen-reader-text">global navigation</span>
	<ul class="global-nav__list">
		<li class="global-nav__list-item global-nav__list-item--first">
			<a class="global-nav__link" rel="external" href="https://platform.coop"><svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
 Platform Cooperativism Consortium</a>
		</li>
		<li class="global-nav__list-item">
			<a class="global-nav__link" aria-current="true" rel="home" href="https://resources.platform.coop/">Resource Library</a>
		</li>
	</ul class="global-nav__list">
</nav>
<a href="/" class="link link--brand">
<svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
	<span class="brand__title screen-reader-text">Platform Cooperativism Consortium</span>
</a>
<div class="inner">
<button class="button button--borderless search-toggle" aria-expanded="false"><span class="screen-reader-text">Search </span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
<form role="search" method="get" class="search-form" action="/">
	<label>
		<span class="screen-reader-text">search</span>
		<input id="s" name="s"  type="search" />
	</label>
	<button type="submit" class="button button--search"><span class="screen-reader-text">submit search</span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
</form>
<nav class="nav" aria-labelledby="menu-primary-label">
	<button class="button button--borderless menu-toggle" aria-expanded="false">
<svg
	class="icon icon--open"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
		<span id="menu-primary-label" class="menu-toggle__label">Menu</span>
	</button>
	<ul class="menu">
		<li class="menu__submenu-wrapper current_page_ancestor current-menu-ancestor">
			<a class="menu__item" aria-current="page" href="#explore">Explore</a>
			<ul class="menu__submenu">
				<li><a aria-current="page"class="menu__item" href="#browse-all">Browse all</a></li>
				<li><a class="menu__item" href="#topics">Topics</a></li>
				<li><a class="menu__item" href="#goals">Goals</a></li>
				<li><a class="menu__item" href="#formats">Formats</a></li>
				<li><a class="menu__item" href="#sectors">Sectors</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#getting-started">Getting Started</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#how-to">How to use your library</a></li>
				<li><a class="menu__item" href="#glossary">Glossary</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#my-resources">My Resources</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#favorites">Favorites</a></li>
				<li><a class="menu__item" href="#saved-searches">Saved searches</a></li>
			</ul>
		</li>
		<li>
			<a class="menu__item" href="#about">About</a>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#settings">Settings</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#language">Language</a></li>
				<li><a class="menu__item" href="#privacy">Privacy</a></li>
			</ul>
		</li>
		<li class="menu-item menu-item--languages menu__submenu-wrapper">
			<a class="menu__item" href="/en/settings/language/">
				<span class="menu__label">Language</span>
<svg
	class="icon icon--language icon--lg"
	aria-hidden="true"
	viewBox="0 0 30 30"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
			</a>
			<ul class="menu__submenu">
				<li class="menu-item"><a aria-current="true" href="/en/" class="menu__item">English</a></li>
				<li class="menu-item"><a href="/pt/" class="menu__item">Português</a></li>
				<li class="menu-item"><a href="/sv/" class="menu__item">Svenska</a></li>
				<li class="menu-item"><a href="/it/" class="menu__item">Italiano</a></li>
				<li class="menu-item"><a href="/es/" class="menu__item">Español</a></li>
				<li class="menu-item"><a href="/fr/" class="menu__item">Français</a></li>
				<li class="menu-item"><a href="/de/" class="menu__item">Deutsch</a></li>
			</ul>
		</li>
	</ul>
</nav>
</div>
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="page-header">
	<div class="inside">
		<p><a class="link--breadcrumb" href="/">Home</a>
</p>
		<h1>Co-op Types</h1>
	</div>
</div>
<ul class="link-list">
	<li class="link-list__item"><a href="agriculture">Agriculture</a></li>
	<li class="link-list__item"><a href="art-fashion-design">Art, fashion, design</a></li>
	<li class="link-list__item"><a href="accounting-and-finance">Accounting and Finance</a></li>
	<li class="link-list__item"><a href="advertising-and-marketing">Advertising and marketing</a></li>
	<li class="link-list__item"><a href="consulting">Consulting</a></li>
	<li class="link-list__item"><a href="co-op-development">Co-op development</a></li>
	<li class="link-list__item"><a href="community-organizing">Community organizing</a></li>
	<li class="link-list__item"><a href="construction">Construction</a></li>
	<li class="link-list__item"><a href="environment">Environment</a></li>
	<li class="link-list__item"><a href="education">Education</a></li>
	<li class="link-list__item"><a href="energy-and-mining">Energy and mining</a></li>
	<li class="link-list__item"><a href="entertainment">Entertainment</a></li>
	<li class="link-list__item"><a href="food">Food</a></li>
	<li class="link-list__item"><a href="healthcare">Healthcare</a></li>
	<li class="link-list__item"><a href="hospitality-and-tourism">Hospitality and tourism</a></li>
	<li class="link-list__item"><a href="legal">Legal</a></li>
	<li class="link-list__item"><a href="manufacturing">Manufacturing</a></li>
	<li class="link-list__item"><a href="media-and-communications">Media and communications</a></li>
	<li class="link-list__item"><a href="maintenance-and-repair">Maintenance and repair</a></li>
	<li class="link-list__item"><a href="protective-services-and-defense">Protective services and defense</a></li>
	<li class="link-list__item"><a href="personal-care-and-services">Personal care and services</a></li>
	<li class="link-list__item"><a href="public-and-social-services">Public and social services</a></li>
	<li class="link-list__item"><a href="property-and-real-estate">Property and real estate</a></li>
	<li class="link-list__item"><a href="recycling-and-waste-management">Recycling and waste management</a></li>
	<li class="link-list__item"><a href="sales-and-retail">Sales and retail</a></li>
	<li class="link-list__item"><a href="science-and-engineering">Science and engineering</a></li>
	<li class="link-list__item"><a href="sports-fitness-and-recreation">Sports fitness and recreation</a></li>
	<li><h2>Technology</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="technology">Technology</a></li>
	<li class="link-list__item"><a href="electronics-and-computer-manufacturing">Electronics and computer manufacturing</a></li>
	<li class="link-list__item"><a href="software-and-hardware-enginereeing">Software and hardware enginereeing</a></li>
	<li class="link-list__item"><a href="web-service-providers">Web service providers</a></li>
	<li class="link-list__item"><a href="data-processing">Data processing</a></li>
	<li class="link-list__item"><a href="misc-technology">Misc technology</a></li>
	</ul></li>
	<li class="link-list__item"><a href="transportation-and-logistics">Transportation and logistics</a></li>
	<li class="link-list__item"><a href="translation">Translation</a></li>
	<li class="link-list__item"><a href="utilities">Utilities</a></li>
</ul>
				</main>
			</div>
		</div>
		<footer class="content-info">
  			<div class="container"><div class="columns">
	<div class="column">
		<a class="logo link--inverse" rel="external" href="https://platform.coop">
<svg
	class="logo__image"
	aria-hidden="true"
	viewBox="0 0 282.08 78.75"
	focusable="false"
>
	<use href="/images/logo.svg#logo"/>
</svg>
			<span class="screen-reader-text">Platform Cooperativism Consortium</span>
		</a>
		<div class="nav">
			<p><a class="link--inverse" rel="external" href="https://platform.coop/open-access-and-privacy-policy/">Our open access &amp; privacy policy</a></p>
			<p><a class="link--inverse" rel="external" href="https://platform.coop/diversity-inclusion/">Our commitment to diversity &amp; inclusion</a></p>
		</div>
	</div>
	<div class="column">
		<div class="h4"><a rel="external" class="link--inverse" href="https://platform.coop/contact-us/">Contact us</a></div>
		<div>
			<strong>Email</strong><br />
			<a class="link--inverse" href="mailto:pcc@newschool.edu" rel="external">pcc@newschool.edu</a>
		</div>
	</div>
</div>
</div>
  		</footer>
	</body>
</html>

