

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js" defer></script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Term List: Topics | Pinecone</title>
	</head>

	<body class="page term-list topics">
		<header role="banner">
			<div class="container">
<nav class="global-nav" aria-labelledby="global-nav-label">
	<span id="global-nav-label" class="screen-reader-text">global navigation</span>
	<ul class="global-nav__list">
		<li class="global-nav__list-item global-nav__list-item--first">
			<a class="global-nav__link" rel="external" href="https://platform.coop"><svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
 Platform Cooperativism Consortium</a>
		</li>
		<li class="global-nav__list-item">
			<a class="global-nav__link" aria-current="true" rel="home" href="https://resources.platform.coop/">Resource Library</a>
		</li>
	</ul>
</nav>
<a href="/" class="link link--brand">
<svg
	class="icon icon--pcc"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/pcc.svg#pcc"/>
</svg>
	<span class="brand__title screen-reader-text">Platform Cooperativism Consortium</span>
</a>
<div class="inner">
<button class="button button--borderless search-toggle" aria-expanded="false"><span class="screen-reader-text">Search </span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
<form role="search" method="get" class="search-form" action="/">
	<label>
		<span class="screen-reader-text">search</span>
		<input id="s" name="s"  type="search" />
	</label>
	<button type="submit" class="button button--search"><span class="screen-reader-text">submit search</span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
</form>
<nav class="nav" aria-labelledby="menu-primary-label">
	<button class="button button--borderless menu-toggle" aria-expanded="false">
<svg
	class="icon icon--open"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/menu.svg#menu"/>
</svg>
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
		<span id="menu-primary-label" class="menu-toggle__label">Menu</span>
	</button>
	<ul class="menu">
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#explore">Explore</a>
			<ul class="menu__submenu">
				<li><a aria-current="page"class="menu__item" href="#browse-all">Browse all</a></li>
				<li><a class="menu__item" href="#topics">Topics</a></li>
				<li><a class="menu__item" href="#goals">Goals</a></li>
				<li><a class="menu__item" href="#formats">Formats</a></li>
				<li><a class="menu__item" href="#sectors">Sectors</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#getting-started">Getting Started</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#how-to">How to use your library</a></li>
				<li><a class="menu__item" href="#glossary">Glossary</a></li>
			</ul>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#my-resources">My Resources</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#favorites">Favorites</a></li>
				<li><a class="menu__item" href="#saved-searches">Saved searches</a></li>
			</ul>
		</li>
		<li>
			<a class="menu__item" aria-current="page" href="#about">About</a>
		</li>
		<li class="menu__submenu-wrapper">
			<a class="menu__item" href="#settings">Settings</a>
			<ul class="menu__submenu">
				<li><a class="menu__item" href="#language">Language</a></li>
				<li><a class="menu__item" href="#privacy">Privacy</a></li>
			</ul>
		</li>
		<li class="menu-item menu-item--languages menu__submenu-wrapper">
			<a class="menu__item" href="/en/settings/language/">
				<span class="menu__label">Language</span>
<svg
	class="icon icon--language icon--lg"
	aria-hidden="true"
	viewBox="0 0 30 30"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
			</a>
			<ul class="menu__submenu">
				<li class="menu-item"><a aria-current="true" href="/en/" class="menu__item">English</a></li>
				<li class="menu-item"><a href="/pt/" class="menu__item">Português</a></li>
				<li class="menu-item"><a href="/sv/" class="menu__item">Svenska</a></li>
				<li class="menu-item"><a href="/it/" class="menu__item">Italiano</a></li>
				<li class="menu-item"><a href="/es/" class="menu__item">Español</a></li>
				<li class="menu-item"><a href="/fr/" class="menu__item">Français</a></li>
				<li class="menu-item"><a href="/de/" class="menu__item">Deutsch</a></li>
			</ul>
		</li>
	</ul>
</nav>
</div>
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="page-header">
	<div class="inside">
		<p><a class="link--breadcrumb" href="/">Home</a>
</p>
		<h1>Topics</h1>
	</div>
</div>
<ul class="link-list">
	<li><h2>Cooperative essentials</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="cooperative-essentials">Cooperative essentials</a></li>
	<li class="link-list__item"><a href="governance">Governance</a></li>
	<li class="link-list__item"><a href="ownership">Ownership</a></li>
	<li class="link-list__item"><a href="cooperative-best-practices">Cooperative best practices</a></li>
	<li class="link-list__item"><a href="diversity-and-inclusion">Diversity and inclusion</a></li>
	<li class="link-list__item"><a href="bylaws">Bylaws</a></li>
	</ul></li>
	<li><h2>Business operations</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="business-operations">Business operations</a></li>
	<li class="link-list__item"><a href="human-resources">Human resources</a></li>
	<li class="link-list__item"><a href="marketing">Marketing</a></li>
	<li class="link-list__item"><a href="social-media">Social media</a></li>
	<li class="link-list__item"><a href="incorporation">Incorporation</a></li>
	<li class="link-list__item"><a href="business-model">Business model</a></li>
	<li class="link-list__item"><a href="income-benefits-and-compensation">Income, benefits, and compensation</a></li>
	</ul></li>
	<li><h2>Technology &amp; Platforms</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="technology-and-platforms">Technology &amp; Platforms</a></li>
	<li class="link-list__item"><a href="software-development">Software development</a></li>
	<li class="link-list__item"><a href="platforms">Platforms</a></li>
	<li class="link-list__item"><a href="design">Design</a></li>
	<li class="link-list__item"><a href="free-software">Free software</a></li>
	<li class="link-list__item"><a href="data">Data</a></li>
	<li class="link-list__item"><a href="algorithms">Algorithms</a></li>
	<li class="link-list__item"><a href="automation">Automation</a></li>
	<li class="link-list__item"><a href="blockchain">Blockchain</a></li>
	<li class="link-list__item"><a href="search-engines">Search engines</a></li>
	</ul></li>
	<li><h2>Law &amp; Policy</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="law-and-policy">Law &amp; Policy</a></li>
	<li class="link-list__item"><a href="anti-trust">Anti-trust</a></li>
	<li class="link-list__item"><a href="labor-law">Labor law</a></li>
	<li class="link-list__item"><a href="policy">Policy</a></li>
	<li class="link-list__item"><a href="co-op-law">Co-op law</a></li>
	</ul></li>
	<li><h2>Fair labour</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="fair-labour">Fair labour</a></li>
	<li class="link-list__item"><a href="unions">Unions</a></li>
	<li class="link-list__item"><a href="workplace-safety">Workplace safety</a></li>
	<li class="link-list__item"><a href="social-security">Social security</a></li>
	</ul></li>
	<li><h2>Platform co-op theory</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="platform-co-op-theory">Platform co-op theory</a></li>
	<li class="link-list__item"><a href="platform-cooperativism">Platform cooperativism</a></li>
	<li class="link-list__item"><a href="platform-capitalism">Platform capitalism</a></li>
	<li class="link-list__item"><a href="gig-economy">Gig economy</a></li>
	<li class="link-list__item"><a href="sharing-economy">Sharing economy</a></li>
	<li class="link-list__item"><a href="solidarity-economy">Solidarity economy</a></li>
	<li class="link-list__item"><a href="information-economy">Information economy</a></li>
	<li class="link-list__item"><a href="peer-to-peer">Peer-to-peer</a></li>
	</ul></li>
</ul>
				</main>
			</div>
		</div>
		<footer class="content-info">
  			<div class="container"><div class="columns">
	<div class="column">
		<a class="logo link--inverse" rel="external" href="https://platform.coop">
<svg
	class="logo__image"
	aria-hidden="true"
	viewBox="0 0 282.08 78.75"
	focusable="false"
>
	<use href="/images/logo.svg#logo"/>
</svg>
			<span class="screen-reader-text">Platform Cooperativism Consortium</span>
		</a>
		<div class="nav">
			<p><a class="link--inverse" rel="external" href="https://platform.coop/open-access-and-privacy-policy/">Our open access &amp; privacy policy</a></p>
			<p><a class="link--inverse" rel="external" href="https://platform.coop/diversity-inclusion/">Our commitment to diversity &amp; inclusion</a></p>
		</div>
	</div>
	<div class="column">
		<div class="h4"><a rel="external" class="link--inverse" href="https://platform.coop/contact-us/">Contact us</a></div>
		<div>
			<strong>Email</strong><br />
			<a class="link--inverse" href="mailto:pcc@newschool.edu" rel="external">pcc@newschool.edu</a>
		</div>
	</div>
</div>
</div>
  		</footer>
	</body>
</html>

