

<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<script src="../../scripts/pinecone.umd.js"></script>
		<script src="../../scripts/pinecone.js" defer></script>
		<link rel="stylesheet" href="../../styles/pinecone.css">
		<link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png">
		<link rel="icon" href="../../images/favicon.png" >
		<title>Text Areas: Default (Inverse) | Pinecone</title>
	</head>

	<body class="has-blue-500-background-color">
		<header role="banner">
			<div class="container">
			</div>
		</header>
		<div class="wrap container" role="document">
      		<div class="content">
				<main>
<div class="spacer"></div><div class="input-group ">
	<label for="textarea">Text Area</label>
	<textarea id="textarea" name="textarea" placeholder="Content goes here."></textarea>
	<p class="input-group__description">Description for this text area.</p>
</div>
<div class="input-group  input-group--error">
	<label for="error">Text Area (Error)</label>
	<textarea id="error" name="error" placeholder="Content goes here.">Incorrect input</textarea>
<p class="input-group__error"><svg
	class="icon icon--error"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/error.svg#error"/>
</svg>
Sorry, that appears to be incorrect.</p>	<p class="input-group__description">Description for this text area.</p>
</div>
<div class="input-group ">
	<label for="disabled">Text Area (Disabled)</label>
	<textarea id="disabled" name="disabled" placeholder="Content goes here." disabled></textarea>
	<p class="input-group__description">Description for this text area.</p>
</div>
				</main>
			</div>
		</div>
	</body>
</html>

