# Copy this file to .env and fill in the appropriate credentials for your installation.

# You should generate your own secret key using the Django console.
#
# >>> from django.core.management.utils import get_random_secret_key
# >>> get_random_secret_key()
# 't=g!+^o^5)ey7n2rz&0b)(z(98++cmsu(sg*w*-*z(li=#us8%'
#
# >>>

SECRET_KEY="t=g!+^o^5)ey7n2rz&0b)(z(98++cmsu(sg*w*-*z(li=#us8%"

# In development
DEBUG=True
# In production
# DEBUG=False

# Database connection string used by dj_database_url.
DATABASE_URL=postgis://USER:PASSWORD@localhost:5432/cmdi

# ALLOWED_HOSTS
#   not needed in development:
ALLOWED_HOSTS=
#   needed in some production settings:
# ALLOWED_HOSTS='192.168.0.0 server.example.com'

# Here API key for geocoding. Request one at https://developer.here.com/
HERE_API_KEY=

# Map style and assets.
MAP_STYLE=pcc
MAP_ASSETS_BASE_URL=https://server.example.com
