@import "~@platform-coop-toolkit/pinecone";

#main-map {
  bottom: 0;
  color: #203131;
  font-family: 'Noto Sans', sans-serif;
  height: 580px;
  margin-top: $gutter;
  top: 0;
  width: 100%;
}

#main-map.organization {
  font-family: 'Noto Serif', serif;
}

#geolocation-map {
  border: solid 1px var(--dark-mint-500);
  bottom: 0;
  color: var(--dark-mint-500);
  font-family: $font-family-sans;
  height: rem(476);
  margin-top: $gutter;
  top: 0;
  width: 100%;
}

#crosshairs {
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 1;
}

li.no-bullet {
  list-style: none;
}

select.multiple {
  height: 10rem;
  overflow-y: auto;
}

.blocks {
  justify-content: center;
}

.align-center .button {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
}

.form-wizard {
  .wrap.container {
    background: $off-white;
  }

  .page-header {
    padding-bottom: rem(50);
    position: relative;
    z-index: 0;

    @include full-width-background();

    @include breakpoint-up(md) {
      padding-bottom: rem(65);
    }
  }

  .form__content,
  .page-header {
    @include breakpoint-up(md) {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  .form__content {
    padding-top: rem(50);

    @include breakpoint-up(md) {
      padding-top: rem(65);
    }

    .role-1,
    .role-2,
    .role-3,
    .role-4,
    .role-5,
    .role-6,
    .role-7,
    .role-8 {
      display: none;
    }

    &.role-1 .role-1,
    &.role-2 .role-2,
    &.role-3 .role-3,
    &.role-4 .role-4,
    &.role-5 .role-5,
    &.role-6 .role-6,
    &.role-7 .role-7,
    &.role-8 .role-8 {
      display: block;
    }
  }

  .form__content .errorlist {
    color: var(--input-group--error-color);
    font-family: $font-family-sans;
    font-size: rem(14);
    font-weight: $font-weight-semibold;
    line-height: (20 / 14);
    list-style: none;
    margin-top: rem(12);

    li::before {
      background-color: var(--input-group--error-color);
      content: "";
      display: inline-block;
      height: 1.25em;
      margin-bottom: -0.25em;
      margin-right: 0.25em;
      mask-image: url(../images/error.svg);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: 100%;
      width: 1.25em;
    }
  }

  .errorlist + input,
  .errorlist + textarea,
  .errorlist + select {
    --text-border-color-default: var(--text-border-color-error);
    --text-border-color-hover: var(--text-border-color-error-hover);
    --text-border-color-focus: var(--text-border-color-error-focus);
    --text-default-box-shadow: var(--text-error-box-shadow);
    --text-focus-box-shadow: var(--text-error-focus-box-shadow);
    --text-hover-box-shadow: var(--text-error-hover-box-shadow);

    color: var(--text-value-color-error);
    margin-top: rem(6);
  }

  .errorlist + select {
    background-image: url(../images/chevron-down--error.svg);
  }

  label.required::after {
    content: " (required)";
  }

  input + label,
  textarea + label,
  select + label,
  div + label,
  .helptext + label,
  .input-group + label,
  ul.checkbox + label,
  ul.radio + label {
    margin-top: rem(45);
  }

  input + br,
  textarea + br,
  select + br,
  ul.checkbox + br,
  ul.radio + br {
    display: none;
  }
}

select[multiple] {
  width: 100%;
}

.button--auto {
  width: auto;
}

#scope-and-impact {
  [for="id_scope_and_impact-geo_scope_city"],
  #id_scope_and_impact-geo_scope_city,
  [for="id_scope_and_impact-geo_scope_region"],
  #id_scope_and_impact-geo_scope_region,
  [for="id_scope_and_impact-geo_scope_country"],
  #id_scope_and_impact-geo_scope_country {
    display: none;
  }
}

#scope-and-impact.show-city {
  [for="id_scope_and_impact-geo_scope_city"],
  #id_scope_and_impact-geo_scope_city {
    display: block;
  }
}

#scope-and-impact.show-region {
  [for="id_scope_and_impact-geo_scope_region"],
  #id_scope_and_impact-geo_scope_region {
    display: block;
  }
}

#scope-and-impact.show-country {
  [for="id_scope_and_impact-geo_scope_country"],
  #id_scope_and_impact-geo_scope_country {
    display: block;
  }
}

.my-profiles .cards .card__wrapper {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3rem;
}

@media (min-width: 37.5rem) {
  .my-profiles .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @supports (display:grid) {
    .my-profiles .cards {
      display: grid;
      gap: 1.875rem;
      grid-template-columns: 100%;
    }
  }

  .my-profiles .cards .card__wrapper {
    margin-bottom: 1.875rem;
    width: 100%;
  }

  @supports (display:grid) {
    .my-profiles .cards .card__wrapper {
      margin-bottom: 0;
    }
  }

  .my-profiles .card:nth-child(2n) {
    margin-left: 0;
  }
}

@media (min-width: 60rem) {
  .menu li:last-child {
    &.menu__submenu-wrapper .menu__submenu {
      min-width: unset;
      right: 0;
      width: auto;
    }
  }

  @supports (display:grid) {
    .my-profiles .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .my-profiles .cards .card__wrapper {
    width: calc(50% - 0.9375rem);
  }

  @supports (display:grid) {
    .my-profiles .cards .card__wrapper {
      width: 100%;
    }
  }

  .my-profiles .card:nth-child(2n) {
    margin-left: 1.875rem;
  }

  @supports (display:grid) {
    .my-profiles .card:nth-child(2n) {
      margin-left: 0;
    }
  }

  .my-profiles .cards .card__wrapper + .card__wrapper {
    margin-top: 0;
  }
}

@media (min-width: 80rem) {
  .my-profiles main {
    width: calc(66.66667% - 0.625rem);
  }

  @supports (display:grid) {
    .my-profiles main {
      grid-column: 3/11;
      width: 100%;
    }
  }
}

@media (min-width: 120rem) {
  .my-profiles main {
    width: calc(50% - 0.9375rem);
  }

  @supports (display:grid) {
    .my-profiles main {
      grid-column: 4/12;
      width: 100%;
    }
  }
}

.card--organization .card__type,
.card--individual .card__roles {
  color: var(--dark-mint-500);
  font-weight: $font-weight-bold;
}

.card__role + .card__role {
  margin-top: rem(9);
}

.box {
  border: dashed rem(1) var(--grey-500);
  padding: var(--gutter);
}

.account {
  background: $off-white;

  .page-header {
    padding-bottom: rem(50);
    position: relative;
    z-index: 0;

    @include breakpoint-up(md) {
      padding-bottom: rem(65);
    }
  }

  .stack,
  .page-header {
    @include breakpoint-up(md) {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }
}

.input-group + .buttons {
  margin-top: 1.5rem;
}

.buttons .button + .button {
  margin-top: 1.5rem;
}

.radio label.primary {
  font-weight: $font-weight-bold;

  .badge {
    font-weight: $font-weight-normal;
  }
}

.card--individual {
  @include card($green-300, $white, false);
}

.card--tool {
  @include card($yellow-500, $white, false);
}

.card__niche {
  font-weight: $font-weight-bold;
}

.stack > * + .h4 {
  margin-top: 3rem;
}

.profile__meta {
  font-size: 0.875rem;
  line-height: (20 / 14);
}

.profile__meta--empty,
.--empty {
  font-style: italic;
}

h1 + .profile__meta {
  margin-top: 1.5rem;
}

.profile__meta + .profile__meta {
  margin-top: 0.75rem;
}

.profile__meta svg {
  color: var(--grey-500);
}

.panel__content * + h2::before {
  background-color: var(--grey-400);
  content: "";
  display: block;
  height: rem(1);
  margin-bottom: rem(48);
  margin-top: rem(-16);
  width: 100%;
}

.panel__content h3 + h2::before {
  margin-top: rem(48);
}

.panel__content .cards + h2::before {
  margin-top: 0;
}

.tabs [role="tablist"] {
  border-top: solid rem(1) var(--grey-400);
  margin-bottom: 0;

  &::before {
    background-color: var(--grey-200);
    border-top: solid rem(1) var(--grey-400);
    content: "";
    display: block;
    height: rem(16);
    left: 0;
    position: absolute;
    top: rem(-18);
    width: inherit;
  }
}

.tabs [role="tabpanel"] {
  @include full-width-background($off-white);

  --parent-background-color: var(--off-white);

  background-color: var(--off-white);
  padding-bottom: rem(100);
  padding-top: rem(54);
  position: relative;

  @include breakpoint-up(md) {
    padding-bottom: rem(130);
  }
}

.profile .page-header {
  @include full-width-background($white);

  background-color: var(--white);
}

.profile main {
  padding-bottom: 0;
}

.panel__sidebar {
  margin-bottom: $gutter;
}

@include breakpoint-up(md) {
  .profile [role="tabpanel"] > .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include breakpoint-up(lg) {
  .profile [role="tabpanel"]#overview {
    grid-gap: $gutter;
    grid-template-columns: repeat(12, 1fr);

    &:not([hidden]) {
      display: grid;
    }

    .edit {
      grid-column: 1 / 13;
    }

    .panel__sidebar {
      grid-column: 1 / 4;
    }

    .panel__content {
      grid-column: 4 / 13;
    }
  }
}

@include breakpoint-up(xl) {
  .profile [role="tabpanel"]#overview {
    grid-template-columns: repeat(16, 1fr);

    .edit {
      grid-column: 1 / 17;
    }

    .panel__sidebar {
      grid-column: 1 / 4;
    }

    .panel__content {
      grid-column: 5 / 17;
    }
  }
}

.profile__meta a,
.no-bullet a {
  line-height: inherit;
}

.profile__roles {
  font-weight: $font-weight-bold;

  svg {
    color: inherit;
  }
}

.h4 + .profile__meta {
  margin-top: 1rem;
}

.h4 + .tags {
  margin-top: 0;
}

.columns {
  .column + .column {
    margin-top: rem(56);
  }

  @include breakpoint-up(lg) {
    column-gap: $gutter;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .column + .column {
      margin-top: 0;
    }
  }
}

.niches > li {
  padding: rem(8) 0 rem(6);
  position: relative;
}

.niches button {
  position: absolute;
  right: 0;
  top: 0;
}

[for="id_detailed_info-license"],
#id_detailed_info-license,
.form-wizard--tool [for="id_detailed_info-sectors"],
.form-wizard--tool #id_detailed_info-sectors {
  display: none;
}

.form__content > * + div {
  margin-top: rem(45);
}
