@import "~@platform-coop-toolkit/pinecone";

#map {
  bottom: 0;
  color: #203131;
  font-family: 'Noto Sans', sans-serif;
  height: 580px;
  margin-top: $gutter;
  top: 0;
  width: 100%;
}

#map.organization {
  font-family: 'Noto Serif', serif;
}

li.no-bullet {
  list-style: none;
}

select.multiple {
  height: 10rem;
  overflow-y: auto;
}

.blocks {
  justify-content: center;
}

.form-wizard {
  form {
    @include breakpoint-up(lg) {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
  }

  [type="submit"] {
    max-width: 100%;
  }
}
