{% load maps_extras %}
<li class="card__wrapper">
    <div class="card card--organization">
        <header>
            <h3 class="card__title">
                <a class="card__link" href="/organizations/{{ organization.id }}">{{ organization.name }}</a>
            </h3>
        </header>
        <p class="card__meta card__type">
            <span class="screen-reader-text">type: </span>
            {% if organization.type.icon %}{% icon organization.type.icon %}{% endif %}
            {{ organization.type }}
        </p>
        <div class="card__aside">
            {% if organization.city or organization.state or organization.country %}
            <div class="card__meta">
                <span class="card__locality">
                    <span class="screen-reader-text">location: </span>
                    {% icon 'location' %}
                        {% if organization.city %}{{ organization.city }}, {% endif %}
                        {% if organization.state %}{{ organization.state }}{% if organization.country %},{% endif %} {% endif %}
                        {% if organization.country %}{{ organization.country.name }}{% endif %}
                </span>
            </div>
            {% endif %}
            {% if organization.working_languages %}
            <div class="card__meta">
                <span class="card__languages">
                    <span class="screen-reader-text">working languages: </span>
                    {% icon 'language-small' %}
                    {% for language in organization.languages %}{{ language }}{% endfor %}
                </span>
            </div>
            {% endif %}
            {% if organization.categories.all %}
            <div class="card__meta">
                <span class="card__subtypes">
                    <span class="screen-reader-text">{% if organization.type == 'Cooperative' %}cooperative{% else %}organization{% endif %} types: </span>
                    {% icon 'coop-type' %}
                    {% for type in organization.categories.all %}
                        {{ type }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}
            {% if organization.sectors.all %}
            <div class="card__meta">
                <span class="card__subtypes">
                    <span class="screen-reader-text">sectors: </span>
                    {% icon 'sector-small' %}
                    {% for sector in organization.sectors.all %}
                        {{ sector }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    {% url 'my-profiles' as my_profiles_url %}
    {% if request.get_full_path == my_profiles_url and organization.admin_email == user.email %}
    <div class="align-left">
        <form class="delete-organization" method="POST" action="{% url 'organization-delete' pk=organization.id %}">
            {% csrf_token %}
            <button class="button button--borderless button--destructive delete-profile" type="submit">
                {% icon 'delete' %}
                Delete <span class="screen-reader-text">organizational profile</span>
            </button>
        </form>
    </div>
    {% endif %}
</li>
