{% load static %}
<li class="card__wrapper">
    <div class="card card--individual">
        <h3 class="card__title">
            <a class="card__link" href="/individuals/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a>
        </h3>
        <div class="card__meta card__roles">
            <span class="screen-reader-text">roles: </span>
            {% for role in user.roles.all %}
            <p class="card__role">
                <svg class="icon icon--{{ role.icon }}" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                    <use href="{% static 'maps/dist/images/'|add:role.icon|add:'.svg#'|add:role.icon %}" />
                </svg>
                {{ role }}
            </p>
            {% endfor %}
        </div>
        <div class="card__aside">
            {% if user.city or user.state or user.country %}
            <div class="card__meta">
                <span class="card__locality">
                    <span class="screen-reader-text">location: </span>
                    <svg class="icon icon--location" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                        <use href="{% static 'maps/dist/images/location.svg#location' %}" />
                    </svg>
                    {% if user.city %}{{ user.city }}, {% endif %}
                    {% if user.state %}{{ user.state }}{% if user.country %},{% endif %} {% endif %}
                    {% if user.country %}{{ user.country.name }}{% endif %}
                </span>
            </div>
            {% endif %}
            {% if user.languages %}
            <div class="card__meta">
                <span class="card__languages">
                    <span class="screen-reader-text">languages spoken: </span>
                    <svg class="icon icon--language-small" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                        <use href="{% static 'maps/dist/images/language-small.svg#language-small' %}" />
                    </svg>
                    {% for language in user.languages.all %}
                        {{ language }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="align-left">
        <button class="button button--borderless button--destructive remove-favorite" type="button">
            <svg class="icon icon--delete" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                <use href="{% static 'maps/dist/images/delete.svg#delete' %}" />
            </svg>
            Delete <span class="screen-reader-text">personal profile</span>
        </button>
    </div>
</li>
