{% load static %}
<li class="card__wrapper">
    <div class="card card--organization">
        <header>
            <h3 class="card__title">
                <a class="card__link" href="/organizations/{{ organization.id }}">{{ organization.name }}</a>
            </h3>
        </header>
        <p class="card__meta card__type">
            <span class="screen-reader-text">type: </span>
            {% if organization.type.name == 'Cooperative' %}
            <svg class="icon icon--cooperative" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                <use href="{% static 'maps/dist/images/cooperative.svg#cooperative' %}" />
            </svg>
            {% elif organization.type.name == 'Potential cooperative' %}
            <svg class="icon icon--converting" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                <use href="{% static 'maps/dist/images/converting.svg#converting' %}" />
            </svg>
            {% elif organization.type.name == 'Shared platform' %}
            <svg class="icon icon--converting" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                <use href="{% static 'maps/dist/images/converting.svg#converting' %}" />
            </svg>
            {% elif organization.type.name == 'Supporting organization' %}
            <svg class="icon icon--support-organization" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                <use href="{% static 'maps/dist/images/support-organization.svg#support-organization' %}" />
            </svg>
            {% endif %}
            {{ organization.type }}
        </p>
        <div class="card__aside">
            {% if organization.city or organization.state or organization.country %}
            <div class="card__meta">
                <span class="card__locality">
                    <span class="screen-reader-text">location: </span>
                    <svg class="icon icon--location" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                        <use href="{% static 'maps/dist/images/location.svg#location' %}" />
                    </svg>
                        {% if organization.city %}{{ organization.city }}, {% endif %}
                        {% if organization.state %}{{ organization.state }}{% if organization.country %},{% endif %} {% endif %}
                        {% if organization.country %}{{ organization.country.name }}{% endif %}
                </span>
            </div>
            {% endif %}
            {% if organization.working_languages %}
            <div class="card__meta">
                <span class="card__languages">
                    <span class="screen-reader-text">working languages: </span>
                    <svg class="icon icon--language-small" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                        <use href="{% static 'maps/dist/images/language-small.svg#language-small' %}" />
                    </svg>
                    {% for language in organization.languages %}{{ language }}{% endfor %}
                </span>
            </div>
            {% endif %}
            {% if organization.categories.all %}
            <div class="card__meta">
                <span class="card__subtypes">
                    <span class="screen-reader-text">{% if organization.type == 'Cooperative' %}cooperative{% else %}organization{% endif %} types: </span>
                    <svg class="icon icon--coop-type" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                        <use href="{% static 'maps/dist/images/coop-type.svg#coop-type' %}" />
                    </svg>
                    {% for type in organization.categories.all %}
                        {{ type }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}
            {% if organization.sectors.all %}
            <div class="card__meta">
                <span class="card__subtypes">
                    <span class="screen-reader-text">sectors: </span>
                    <svg class="icon icon--sector" aria-hidden="true" viewBox="0 0 24 24" focusable="false">
                        <use href="{% static 'maps/dist/images/sector.svg#sector' %}" />
                    </svg>
                    {% for sector in organization.sectors.all %}
                        {{ sector }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endif %}
        </div>
    </div>
    {% url 'my-profiles' as my_profiles_url %}
    {% if request.get_full_path == my_profiles_url and organization.admin_email == user.email %}
    <div class="align-left">
        <form class="delete-organization" method="POST" action="{% url 'organization-delete' pk=organization.id %}">
            {% csrf_token %}
            <button class="button button--borderless button--destructive delete-profile" type="submit">
                <svg class="icon icon--delete" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                    <use href="{% static 'maps/dist/images/delete.svg#delete' %}" />
                </svg>
                Delete <span class="screen-reader-text">organizational profile</span>
            </button>
        </form>
    </div>
    {% endif %}
</li>
