{% load maps_extras %}
{% load i18n %}
<li class="card__wrapper">
    <div class="card card--tool">
        <h3 class="card__title">
            <a class="card__link" href="https://tools.platform.coop/tools/{{ tool.name|slugify }}/">{{ tool.name }}</a>
        </h3>
        {% for niche in tool.niches.all %}
        <div class="card__meta card__niche">
            {{ niche.name }}
        </div>
        {% endfor %}
        {% if tool.use_count > 0 %}
        <div class="card__meta">
            {% if tool.use_count == 1 %}
            {% blocktrans with count=tool.use_count %}{{ count }} organization uses this{% endblocktrans %}
            {% else %}
            {% blocktrans with count=tool.use_count %}{{ count }} organizations use this{% endblocktrans %}
            {% endif %}
        </div>
        {% endif %}
        <div class="card__aside">
            <div class="card__meta">
                {% icon 'pricing' %} {% trans 'Pricing:' %} {{ tool.pricing|default:_('Not provided') }}
            </div>
            <div class="card__meta">
                {% icon 'licensing' %} {% trans 'License:' %} {{ tool.license|default:_('Not provided') }}
            </div>
            <div class="card__meta">
                {% icon 'language-small' %} {% trans 'Languages:' %} {% for language in tool.languages_supported.all %}
                {{ language.iso_name }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    {% trans 'None provided' %}
                {% endfor %}
            </div>
        </div>
    </div>
</li>
