fieldset > label {
  line-height: 3rem;
}

select.multiple {
  height: 10rem;
  overflow-y: auto;
}

/* Identifying required fields in forms. */
span.required {
  color: red;
}

label.required::after {
    content: ' *';
    color: red;
}
