

<div class="spacer"></div><div class="accordion">
	<div class="accordion__pane">
		<p class="accordion__heading">Rerum Qui Et</p>
		<div class="accordion__content">
			<p>Facere et ducimus suscipit labore voluptatem facilis nam consequuntur animi. In pariatur repellat ea. Earum possimus nihil non rem eum. Amet illo placeat aliquid sit asperiores ut laudantium quo aut. Reprehenderit pariatur non quis a. Sint praesentium enim in qui.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Facilis Ab Ut</p>
		<div class="accordion__content">
			<p>In non possimus ea aperiam pariatur error non voluptates accusantium. Sequi vero et sunt. Soluta aut placeat est.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Illo Dolores Consectetur</p>
		<div class="accordion__content">
			<p>Non odio perspiciatis nihil est eos quo soluta eum dolores. Consequatur ut eius earum tenetur voluptas quibusdam magnam veniam voluptatum. Qui totam aut accusantium voluptatem et voluptate nobis aut. Voluptate qui ea beatae ipsam rerum molestiae incidunt pariatur. Sint incidunt aut delectus reiciendis ratione corporis ratione.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Dolores Dolorem Vitae</p>
		<div class="accordion__content">
			<p>Non rerum esse. Sed consequuntur voluptatibus aperiam nihil ducimus nostrum et sit non. Sit molestiae atque perferendis nemo. Et reprehenderit voluptas asperiores vel laboriosam reprehenderit qui.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Sequi Nulla Aut</p>
		<div class="accordion__content">
			<p>Consequatur consequatur iste maiores non. Et dolorem quo. Libero optio architecto voluptatem culpa quo. Et enim et est inventore alias exercitationem. Et totam voluptatem labore quo reprehenderit ea. Rerum itaque minima possimus soluta ipsa sint dolore qui iusto.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Ipsa Commodi Dolore</p>
		<div class="accordion__content">
			<p>Unde recusandae sunt. Sint non sequi ducimus soluta mollitia reprehenderit. Sint placeat inventore cupiditate praesentium voluptates pariatur est. Blanditiis non eaque nobis a quam et unde repellendus omnis. Nam rem corrupti alias. Earum vel repellendus alias.</p>
		</div>
	</div>
</div>

