

<div class="spacer"></div><div class="accordion">
	<div class="accordion__pane">
		<p class="accordion__heading">Id Quae Ut</p>
		<div class="accordion__content">
			<p>Dolorem quo soluta. Vel cupiditate enim fugit natus atque voluptatem accusantium. Dolorum fuga recusandae velit quasi in hic voluptatem. In qui enim maxime omnis aut magnam aperiam non provident. Neque magnam eaque nihil architecto consequatur quasi voluptatem error.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Fuga Voluptas Id</p>
		<div class="accordion__content">
			<p>Ut assumenda voluptate aut esse officia. Eum in officia perferendis eum. Velit itaque aut enim voluptate necessitatibus perspiciatis sunt ut unde. Architecto eos qui quas dolores veniam quia sit. Eum delectus dolorem mollitia ut optio dolores ad. Est accusantium enim repudiandae et accusamus commodi ullam vel.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Et Rerum Voluptatibus</p>
		<div class="accordion__content">
			<p>Atque cumque necessitatibus sed velit dignissimos voluptas aut. Quas consequuntur recusandae consequatur soluta aperiam vel. Ut ipsa est. Incidunt ut earum tenetur consequuntur nihil sed. Sit esse nostrum eaque. Ut sunt saepe in quos voluptate placeat fugiat.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Rerum Fugit Sunt</p>
		<div class="accordion__content">
			<p>Nostrum molestiae fugiat dolorum esse quis cum nihil rem et. Aut perspiciatis perspiciatis quia earum et sit est. Accusamus molestias libero tenetur in perspiciatis.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Accusamus Sed Non</p>
		<div class="accordion__content">
			<p>Dicta odit molestiae iusto quia deleniti possimus qui. Odit nihil qui omnis quasi at. Fuga quia in quos sit quia sed culpa at. Debitis at adipisci. Beatae praesentium eos sapiente ab.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Possimus Sit Eum</p>
		<div class="accordion__content">
			<p>Consequatur voluptatum aliquam veniam. Ut placeat excepturi eveniet commodi sint adipisci nobis dolorem. Libero quo ut error. Et fugit illo ut temporibus. Mollitia vel ut.</p>
		</div>
	</div>
</div>

