

<div class="spacer"></div><div class="accordion accordion--inverse">
	<div class="accordion__pane">
		<p class="accordion__heading">Qui Consequatur Beatae</p>
		<div class="accordion__content">
			<p>Aperiam dolorum eum. Adipisci alias fuga. Autem saepe ea et voluptatem molestiae. Qui est perferendis. Doloribus illo natus rem magnam quam nesciunt qui nostrum.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Dolor Et Eligendi</p>
		<div class="accordion__content">
			<p>Delectus dolorem similique. Et nihil fuga voluptas explicabo animi placeat modi cumque pariatur. Est qui commodi et. Debitis totam similique perferendis voluptas temporibus culpa et numquam facilis. Nihil quia sed.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Facere Eius Consequatur</p>
		<div class="accordion__content">
			<p>Et eum provident sunt voluptatibus animi vitae earum. Laudantium accusantium nihil iusto vero in nobis delectus. Ipsum a dicta nesciunt omnis.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Amet Tempora Cum</p>
		<div class="accordion__content">
			<p>Nulla id delectus. Delectus nostrum eius. Modi repellendus voluptatibus rerum. Et aut dolor sunt dolorem nemo illum perferendis fugit. Officiis praesentium fuga laboriosam id officiis rerum rerum omnis. Harum quia ut qui voluptatem voluptatem saepe non.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Quo Iste Molestias</p>
		<div class="accordion__content">
			<p>Placeat et tempora. Blanditiis quam placeat et aperiam ipsa ut sapiente illo. Aut id architecto qui cum quam. Labore amet dolor.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Sint Dolor Ut</p>
		<div class="accordion__content">
			<p>Quos molestiae qui porro quas aut dolor et. Perspiciatis velit aut rerum. Aut dignissimos excepturi. Quod necessitatibus placeat non reprehenderit ex itaque aliquam. Mollitia omnis eligendi impedit veniam. Facere est magni nobis.</p>
		</div>
	</div>
</div>

