

<div class="spacer"></div><div class="accordion">
	<div class="accordion__pane">
		<p class="accordion__heading">A Blanditiis Voluptate</p>
		<div class="accordion__content">
			<p>Eum illo ratione non placeat corporis et labore optio illum. Praesentium repudiandae non et ea consequatur voluptas voluptatum. Quod harum eaque officia sint dignissimos autem fugit. Iste ex expedita.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Similique Reprehenderit Ex</p>
		<div class="accordion__content">
			<p>Sed placeat et eos. Dolorem nihil voluptatem quia eos natus harum harum non. Voluptatem sit unde quibusdam. Deserunt perspiciatis iusto corporis. Doloribus quo voluptatem debitis incidunt a blanditiis ut ad. Iste sed corrupti aut sequi inventore fugit hic quo at.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Animi Quam Dolorem</p>
		<div class="accordion__content">
			<p>Nostrum voluptatibus qui accusamus consequatur illo consequatur dignissimos occaecati dolore. Culpa velit adipisci saepe iste. In iusto officia. Sapiente ullam facilis possimus vitae quaerat deserunt ex aperiam et. Minus perferendis quis repellendus asperiores.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Magni Velit Totam</p>
		<div class="accordion__content">
			<p>Ipsam quas optio. Veritatis velit fugit aliquid non eum sed voluptatem itaque. Vel voluptatibus aliquid iusto aut dolore. Voluptas quis odio. Qui quis tempora reiciendis et expedita commodi laudantium.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Inventore Corrupti minus</p>
		<div class="accordion__content">
			<p>Ut pariatur saepe itaque dolor deleniti quia excepturi cumque officia. Totam et aut eos et occaecati deleniti deleniti illo sed. Nulla enim commodi nihil odit laudantium.</p>
		</div>
	</div>
	<div class="accordion__pane">
		<p class="accordion__heading">Explicabo Quo Dicta</p>
		<div class="accordion__content">
			<p>Deserunt earum sunt et aut maiores neque. Similique vitae ut ad. Temporibus id et laudantium eaque. Commodi nulla nihil eum.</p>
		</div>
	</div>
</div>

