

<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Data as a common in the sharing economy</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Carballa Smichowski Bruno</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span><span class="separator">.</span>
					<span class="card__publisher"><span class="screen-reader-text">publisher: </span>Centre d&rsquo;économie Paris Nord</span>
				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
France</span>
				</div>
				<div class="card__meta">
<svg
	class="icon icon--info"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/info.svg#info"/>
</svg>
<span class="card__language"><span class="screen-reader-text">language: </span>English</span><span class="separator">.</span>
<span class="card__date"><span class="screen-reader-text">date published: </span>2016</span>				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Commons
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Policy
					</div>
					<span class="overflow">
						+2 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
					<span class="card__favorite">
<svg
	class="icon icon--favorite-filled"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/favorite-filled.svg#favorite-filled"/>
</svg>
 Favorited
					</span>
				</div>
			</aside>
		</article>
	</li>
	</ul>

