

<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--project">
			<header>
				<h3 class="card__title" >
<span class="card__format">Project</span><span class="screen-reader-text">: </span><a class="card__link" href="https://github/platform-coop-toolkit">Platform Cooperative Development Kit</a>
				</h3>
			</header>
			<aside class="card__aside">
				<div class="card__description">An open source toolkit of software to support platform cooperatives.</div>
			</aside>
		</article>
	</li>
</ul>

