

<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--event">
			<header>
				<h3 class="card__title" >
<span class="card__format">Community Event</span><span class="screen-reader-text">: </span><a class="card__link" href="event">Toronto Platform Coop Meetup</a>
				</h3>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__date">
						<span class="screen-reader-text">event date: </span><svg
	class="icon icon--calendar"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/calendar.svg#calendar"/>
</svg>
Feb 23, 2019, 6:30-8:30PM
					</span>
				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
OCAD University, 100 McCaul Street</span>
				</div>
			</aside>
		</article>
	</li>
</ul>

