

<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--person">
			<figure class="card__image">

<img  src="/images/person.jpg" width="" height="" alt="Photograph of Trebor Scholz" />
			</figure>
			<header>
				<h3 class="card__title" >
<span class="card__format">Card</span><span class="screen-reader-text">: </span><a class="card__link" href="person">Trebor Scholz</a>
				</h3>
			</header>
			<aside class="card__aside">
				<div class="card__description">Founding Director, Institute for the Cooperative Digital Economy</div>
			</aside>
		</article>
	</li>
</ul>

