

<ul class="cards">
	<li class="card card--resource" data-format="article">
		<header>
				<span class="card__format">
<svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>			<span class="card__sep"> &middot; </span>
			<span class="card__language">English</span>
				<h2 class="card__title" >
					<a href="resource">Data as a common in the sharing economy</a>
				</h2>
		</header>
			<p class="card__byline">By Centre d&rsquo;économie Paris Nord</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
France</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Commons
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Policy
							</li>
					</ul>
					<p>+2 more</p>
				</div>
		</li>
	</ul>

