

<ul class="input-group input-group--inverse">
	<li><input id="unchecked" type="checkbox" name="unchecked" value="checkbox" />
<label for="unchecked">Initially unchecked</label>
</li>
	<li><input id="checked" type="checkbox" name="checked" value="checkbox" checked />
<label for="checked">Initially checked</label>
</li>
	<li><input id="disabled" type="checkbox" name="disabled" value="checkbox" disabled />
<label for="disabled">Disabled checkbox</label>
</li>
</ul>
<script type="text/javascript">
	document.getElementById('indeterminate').indeterminate = true;
</script>

