

<ul class="input-group ">
	<li><input id="checkbox" type="checkbox" name="checkbox[]" value="checkbox"  /><label for="checkbox">Checkbox</label></li>
	<li><input id="checkbox" type="checkbox" name="checkbox[]" value="checkbox"  checked /><label for="checkbox">Checkbox</label></li>
	<li><input id="indeterminate" type="checkbox" name="checkbox[]" value="indeterminate"  /><label for="indeterminate">Checkbox</label></li>
	<li><input id="checkbox" type="checkbox" name="checkbox[]" value="checkbox"  disabled /><label for="checkbox">Checkbox</label></li>
</ul>
<script type="text/javascript">
	document.getElementById('indeterminate').indeterminate = true;
</script>

