

<ul id="nested-checkboxes" class="input-group input-group__parent nested-checkboxes ">
	<li>
<input id="parent-item-1" type="checkbox" name="parent-item-1" value="parent-item-1" />
<label for="parent-item-1">Parent item 1</label>
			<ul class="input-group input-group__descendant">
				<li><input id="sub-item-1" type="checkbox" name="sub-item-1" value="sub-item-1" />
<label for="sub-item-1">Sub item 1</label>
</li>
				<li><input id="sub-item-2" type="checkbox" name="sub-item-2" value="sub-item-2" />
<label for="sub-item-2">Sub item 2</label>
</li>
				<li><input id="sub-item-3" type="checkbox" name="sub-item-3" value="sub-item-3" />
<label for="sub-item-3">Sub item 3</label>
</li>
			</ul>
	</li>
</ul>

