

<ul id="nested-checkboxes" class="input-group input-group__parent nested-checkboxes ">
	<li>
<input id="parent-item-1-(initially-unchecked)" type="checkbox" name="parent-item-1-(initially-unchecked)" value="parent-item-1-(initially-unchecked)" />
<label for="parent-item-1-(initially-unchecked)">Parent item 1 (initially unchecked)</label>
			<ul class="input-group input-group__descendant">
				<li><input id="sub-item-1" type="checkbox" name="sub-item-1" value="sub-item-1" />
<label for="sub-item-1">Sub item 1</label>
</li>
				<li><input id="sub-item-2" type="checkbox" name="sub-item-2" value="sub-item-2" />
<label for="sub-item-2">Sub item 2</label>
</li>
				<li><input id="sub-item-3" type="checkbox" name="sub-item-3" value="sub-item-3" />
<label for="sub-item-3">Sub item 3</label>
</li>
			</ul>
	</li>
	<li>
<input id="parent-item-2-(initially-mixed)" type="checkbox" name="parent-item-2-(initially-mixed)" value="parent-item-2-(initially-mixed)" />
<label for="parent-item-2-(initially-mixed)">Parent item 2 (initially mixed)</label>
			<ul class="input-group input-group__descendant">
				<li><input id="sub-item-4" type="checkbox" name="sub-item-4" value="sub-item-4" checked />
<label for="sub-item-4">Sub item 4</label>
</li>
				<li><input id="sub-item-5" type="checkbox" name="sub-item-5" value="sub-item-5" />
<label for="sub-item-5">Sub item 5</label>
</li>
				<li><input id="sub-item-6" type="checkbox" name="sub-item-6" value="sub-item-6" checked />
<label for="sub-item-6">Sub item 6</label>
</li>
			</ul>
	</li>
	<li>
<input id="parent-item-3-(initially-all-checked)" type="checkbox" name="parent-item-3-(initially-all-checked)" value="parent-item-3-(initially-all-checked)" />
<label for="parent-item-3-(initially-all-checked)">Parent item 3 (initially all checked)</label>
			<ul class="input-group input-group__descendant">
				<li><input id="sub-item-7" type="checkbox" name="sub-item-7" value="sub-item-7" checked />
<label for="sub-item-7">Sub item 7</label>
</li>
				<li><input id="sub-item-8" type="checkbox" name="sub-item-8" value="sub-item-8" checked />
<label for="sub-item-8">Sub item 8</label>
</li>
				<li><input id="sub-item-9" type="checkbox" name="sub-item-9" value="sub-item-9" checked />
<label for="sub-item-9">Sub item 9</label>
</li>
			</ul>
	</li>
</ul>

