

<div class="page-header">
	<p><div class="spacer"></div><a class="link--breadcrumb" href="/">Home</a>
</p>
	<h1>Favorites</h1>
</div>
<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-all-favorites">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove all</span></button>
</div>
<div class="resource-list">
	<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Iste Et Soluta Fugit Ex Omnis Omnis Ducimus Modi</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Labore Ex Beatae Consequatur</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--audio"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/audio.svg#audio"/>
</svg>
Audio</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Bolivia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>System Engine
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Open Architecture
					</div>
					<span class="overflow">
						+3 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Consequuntur Dolores Repellat Molestias</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Non Perferendis Et Adipisci</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--case-study"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
Case Study</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Georgia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Matrix
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Concept
					</div>
					<span class="overflow">
						+1 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Non Beatae Enim Qui Aspernatur Voluptatem Optio Quis Iusto Deleniti Odit</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Eligendi Qui Maxime</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--toolkit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
Toolkit</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Moldova</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Graphical User Interface
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Software
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Sed Voluptas Cumque Recusandae Reiciendis Assumenda Sequi Maiores Placeat</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Excepturi Et</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--educational-curriculum"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/educational-curriculum.svg#educational-curriculum"/>
</svg>
Educational Curriculum</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Chad</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>System Engine
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Intranet
					</div>
					<span class="overflow">
						+5 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Qui Nobis Tenetur Reiciendis Quasi Omnis Enim Molestias Tempora Voluptatem Illum</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Voluptate Vero Est Aspernatur</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--video"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/video.svg#video"/>
</svg>
Video</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Indonesia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Definition
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Utilisation
					</div>
					<span class="overflow">
						+1 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Sit Eum Sed Quas Neque Quod</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Architecto Hic</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Syrian Arab Republic</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Interface
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Attitude
					</div>
					<span class="overflow">
						+2 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Doloribus Cum Eos in Voluptas Ut Eos Beatae Reiciendis Neque Sit Velit</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Eum Nulla Voluptates</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--book"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/book.svg#book"/>
</svg>
Book</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Slovenia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Hierarchy
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Groupware
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Non Explicabo Voluptas Fuga Veniam Molestiae at</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Consectetur Quo</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--academic-paper"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/academic-paper.svg#academic-paper"/>
</svg>
Academic Paper</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Montenegro</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Capacity
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Circuit
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	</ul>
</div>

