

<div class="page-header">
	<div class="inside">
		<p><a class="link--breadcrumb" href="/">Home</a>
</p>
		<h1>Favorites</h1>
	</div>
</div>
<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-all-favorites">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove all</span></button>
</div>
<div class="resource-list">
	<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Expedita Dolorem Molestiae Culpa Est Nihil Sed Fugiat Iste Ea Dolor Nostrum</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Quidem Nisi Eius Tempora</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--audio"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/audio.svg#audio"/>
</svg>
Audio</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Georgia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Service Desk
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Paradigm
					</div>
					<span class="overflow">
						+2 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Deserunt Voluptatem Amet Maiores Non Sequi Fuga Qui Ut Sint</a>
				</h3>
				<p class="card__meta card__subscription"><svg
	class="icon icon--lock"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/lock.svg#lock"/>
</svg>
 <span aria-hidden="true">Subscription required</span><span class="screen-reader-text">Subscription required to access this resource</span></p>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Alias Natus Ratione</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--case-study"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
Case Study</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Christmas Island</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Standardization
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Capacity
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Vel Assumenda Nesciunt Repudiandae</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Qui Asperiores Est</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--toolkit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
Toolkit</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Ethiopia</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Parallelism
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Support
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Aut Deleniti Cupiditate Omnis Ut Doloremque Est Architecto</a>
				</h3>
				<p class="card__meta card__subscription"><svg
	class="icon icon--lock"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/lock.svg#lock"/>
</svg>
 <span aria-hidden="true">Subscription required</span><span class="screen-reader-text">Subscription required to access this resource</span></p>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Dolor Repellendus</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--curriculum"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/curriculum.svg#curriculum"/>
</svg>
Educational Curriculum</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Chad</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Concept
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Instruction Set
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Delectus Omnis Rerum Vitae Esse Aliquid Eligendi</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Labore Deleniti Ducimus Aut</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--video"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/video.svg#video"/>
</svg>
Video</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Slovakia (Slovak Republic)</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Graphic Interface
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Artificial Intelligence
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Laboriosam Veritatis Consequatur Hic Eos Et Natus Qui Est Eum Dolor</a>
				</h3>
				<p class="card__meta card__subscription"><svg
	class="icon icon--lock"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/lock.svg#lock"/>
</svg>
 <span aria-hidden="true">Subscription required</span><span class="screen-reader-text">Subscription required to access this resource</span></p>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Quo Velit Accusantium Odit</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Kyrgyz Republic</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Extranet
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Concept
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Repudiandae Eum Est Voluptates Dolores Maiores Ut Quos Aut</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Libero Molestiae Iste Et</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--book"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/book.svg#book"/>
</svg>
Book</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Montserrat</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Knowledge User
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>System Engine
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Iure Deleniti Delectus Nihil Tempora</a>
				</h3>
				<p class="card__meta card__subscription"><svg
	class="icon icon--lock"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/lock.svg#lock"/>
</svg>
 <span aria-hidden="true">Subscription required</span><span class="screen-reader-text">Subscription required to access this resource</span></p>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Aut Nostrum Quibusdam</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--academic"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/academic.svg#academic"/>
</svg>
Academic Paper</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Pakistan</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Hub
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Definition
					</div>
					<span class="overflow">
						+5 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
		<div class="align-right">
<button id="button" type="button" class="button button--borderless button--destructive remove-favorite">
<svg
	class="icon icon--delete"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/delete.svg#delete"/>
</svg>
<span class="button__label">Remove</span></button>
		</div>
	</li>
	</ul>
</div>

