

<div class="page-header">
	<h1><span class="pc-ff--sans pc-fw--normal">Platform Co-op</span><br /> Resource Library</h1>
	<p class="subhead">A place where you can learn and share knowledge about co-ops, platform co-ops, the digital economy, and more.</p>
</div>
<section class="home__search">
<form role="search" method="get" class="search-form search-form--inverse" action="/">
	<label>
		<span class="screen-reader-text">search</span>
		<input id="s" name="s" placeholder="Search resource name, publisher, or topic…"  type="search" />
	</label>
	<button type="submit" class="button button--search"><span class="screen-reader-text">submit search</span><svg
	class="icon icon--search"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/search.svg#search"/>
</svg>
</button>
</form>
	
</section>
<section class="home__browse">
	<h2>Browse by</h2>
<ul class="link-list link-list--inverse">
	<li class="link-list__item"><a href="/topics"><svg
	class="icon icon--topic"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/topic.svg#topic"/>
</svg>
Topics</a></li>
	<li class="link-list__item"><a href="/goals"><svg
	class="icon icon--goal"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/goal.svg#goal"/>
</svg>
Goals</a></li>
	<li class="link-list__item"><a href="/formats"><svg
	class="icon icon--format"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/format.svg#format"/>
</svg>
Formats</a></li>
	<li class="link-list__item"><a href="/sectors"><svg
	class="icon icon--sector"
	aria-hidden="true"
	viewBox="0 0 24 24"
	focusable="false"
>
	<use href="/images/sector.svg#sector"/>
</svg>
Sectors</a></li>
</ul>
	<p>
<a class="link--inverse" href="/browse-all">Browse all resources</a>
	</p>
</section>
<section class="home__feed">
	<header>
		<h2>My feed</h2>
		<a href="/customize">Customize feed</a>
	</header>
	<h3><a href="/most-viewed">Most viewed</a></h3>
	<div class="meta-card-wrapper">
		<div class="card-wrapper">
			<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Aspernatur Eos Facilis Quia Aspernatur Magnam Aliquid Nisi</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Quod Et Quia</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--audio"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/audio.svg#audio"/>
</svg>
Audio</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Gibraltar</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Collaboration
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Projection
					</div>
					<span class="overflow">
						+5 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Provident Non Et Consequatur Deserunt Molestiae Et Recusandae Inventore Voluptatem</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Quis Pariatur Non</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--case-study"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/case-study.svg#case-study"/>
</svg>
Case Study</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Fiji</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Protocol
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Throughput
					</div>
					<span class="overflow">
						+5 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Dignissimos Ad Sit Earum Et Rerum Beatae Dolor Commodi Saepe Similique</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Quisquam Et</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--toolkit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
Toolkit</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Antarctica (the territory South of 60 deg S)</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Capability
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Migration
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Ipsum Fugit Quia Dolores Architecto</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Debitis Nesciunt</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--educational-curriculum"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/educational-curriculum.svg#educational-curriculum"/>
</svg>
Educational Curriculum</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Albania</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Parallelism
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Approach
					</div>
					<span class="overflow">
						+4 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
			</ul>
		</div>
		<aside class="info-cards">
<div class="info-card">
<button id="button" type="button" class="button button--borderless">
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
<span class="button__label screen-reader-text">Close</span></button>
	<p class="info-card__title">
<svg
	class="icon icon--language"
	aria-hidden="true"
	viewBox="0 0 32 32"
	focusable="false"
>
	<use href="/images/language.svg#language"/>
</svg>
		Change language
	</p>
	<p class="info-card__description">Want to see resources in another language?</p>
	<p class="info-card__action">
		<a href="/settings/language">Add or change language</a>
	</p>
</div>
<div class="info-card">
<button id="button" type="button" class="button button--borderless">
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
<span class="button__label screen-reader-text">Close</span></button>
	<p class="info-card__title">
		Not sure how to use the library?
	</p>
	<p class="info-card__action">
		<a href="/settings/language">Learn how</a>
	</p>
</div>
		</aside>
	</div>
	<h3><a href="/most-recent">Recently published</a></h3>
	<div class="card-wrapper">
		<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">In Natus Ex Animi Ipsa Qui</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Quidem Eaque Fuga</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--video"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/video.svg#video"/>
</svg>
Video</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Nepal</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Middleware
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Access
					</div>
					<span class="overflow">
						+3 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Accusantium Quo Earum Est Ut Nostrum</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Eligendi Sunt Architecto</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Ghana</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Product
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>System Engine
					</div>
					<span class="overflow">
						+3 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">In Asperiores Reprehenderit Atque Temporibus Quaerat Voluptatem Porro Accusamus</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Pariatur Aut minus</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--book"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/book.svg#book"/>
</svg>
Book</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
French Southern Territories</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Model
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Matrices
					</div>
					<span class="overflow">
						+2 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Adipisci Et Rerum Pariatur Dignissimos Iusto Adipisci Mollitia Aut Et Nam</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Placeat Incidunt</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--academic-paper"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/academic-paper.svg#academic-paper"/>
</svg>
Academic Paper</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Saint Kitts and Nevis</span>
				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Firmware
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Intranet
					</div>
					<span class="overflow">
						+5 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
		</ul>
	</div>
</section>

