

<div class="spacer"></div><div class="notification notification--success" role="alert">
<button id="button" type="button" class="button">
<svg
	class="icon icon--close"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/close.svg#close"/>
</svg>
<span class="button__label screen-reader-text">Close notification</span></button>
	<p class="notification__title"><svg
	class="icon icon--success"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/success.svg#success"/>
</svg>
Success</p>
	<div class="notification__content">You have successfully saved this search. You can save 24 more. You can see this search in your <a href="/saved-searches">saved searches page</a>.</div>
</div>

