

<h1>Standard Paragraphs</h1>
<p>
	<strong>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</strong>
</p>
<p>Instead of optimizing the online economy for growth and short-term profits for the few, we need to optimize the digital economy for all people. Platform co-ops offer a near-future, alternative to platform capitalism based on cooperative principles such as democratic ownership and governance.</p>
<p>
	<small>Given that many gigs are performed by people who are invisible to customers in sectors such as home cleaning, especially women of color are seeing fewer benefits, lower pay, and hardly any opportunity for meaningful on-the-job skills training. Their rights as workers have stalled. Especially non-white workers remain unprotected against discrimination. The inequalities created by the gig economy are magnifying existing systemic injustice based on gender, ability, and race.</small>
</p>

<h1 class="has-grey-500-color">Alternate Paragraphs</h1>
<p class="has-grey-500-color">
	<strong>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</strong>
</p>
<p class="has-grey-500-color">Instead of optimizing the online economy for growth and short-term profits for the few, we need to optimize the digital economy for all people. Platform co-ops offer a near-future, alternative to platform capitalism based on cooperative principles such as democratic ownership and governance.</p>
<p class="has-grey-500-color">
	<small>Given that many gigs are performed by people who are invisible to customers in sectors such as home cleaning, especially women of color are seeing fewer benefits, lower pay, and hardly any opportunity for meaningful on-the-job skills training. Their rights as workers have stalled. Especially non-white workers remain unprotected against discrimination. The inequalities created by the gig economy are magnifying existing systemic injustice based on gender, ability, and race.</small>
</p>

