

<div class="niches radio-group" role="radiogroup">
	<button id="all" role="radio" type="button" aria-checked="true" class="button button--radio">All</button>
	<button id="collaboration" role="radio" type="button" aria-checked="false" class="button button--radio">Collaboration</button>
	<button id="communication" role="radio" type="button" aria-checked="false" class="button button--radio">Communication</button>
	<button id="customer-or-member-relations" role="radio" type="button" aria-checked="false" class="button button--radio">Customer or member relations</button>
	<button id="decision-making" role="radio" type="button" aria-checked="false" class="button button--radio">Decision making</button>
	<button id="developer-tools" role="radio" type="button" aria-checked="false" class="button button--radio">Developer tools</button>
	<button id="finance" role="radio" type="button" aria-checked="false" class="button button--radio">Finance</button>
	<button id="marketing" role="radio" type="button" aria-checked="false" class="button button--radio">Marketing</button>
	<button id="time-management" role="radio" type="button" aria-checked="false" class="button button--radio">Time management</button>
</div>

