

<h1>Repertoire</h1>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<blockquote>
<p>The problems of labor abuse and surveillance that have arisen with the “sharing economy”… have much in common with struggles on nineteenth-century factory floors. By considering the emerging platforms in light of well-hewn cooperative principles and practices, we find an optimistic vision for the future of work and life.</p>
</blockquote>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<ul>
	<li>Higher quality jobs</li>
	<li>Productivity benefits</li>
	<li>More resiliency than other business forms</li>
</ul>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<h2>How platform co-ops benefit you</h2>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<blockquote>
<p>The problems of labor abuse and surveillance that have arisen with the “sharing economy”… have much in common with struggles on nineteenth-century factory floors. By considering the emerging platforms in light of well-hewn cooperative principles and practices, we find an optimistic vision for the future of work and life.</p>
	<cite>Trebor Scholz</cite>
</blockquote>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<ol>
	<li>Higher quality jobs</li>
	<li>Productivity benefits</li>
	<li>More resiliency than other business forms</li>
</ol>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<h3>What is a platform co-op?</h3>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<h4>A tangible alternative</h4>
<p>In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>
<p class="p--small">In the face of widespread dissatisfaction with capitalism, it is time to ask, “What kind of new economy do we want to create?”</p>

