

<article class="resource">
	<div class="page-header resource__header">
		<p class="resource__format"><svg
	class="icon icon--toolkit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
 Toolkit</p>
		<h1>Co-op Creator</h1>
		<p class="resource__meta">
			<span class="resource__publisher">By <a rel="external" href="https://cooperativesfirst.com/what-we-do/resources/">Co-operatives First</a></span><br />
			<span class="resource__locality"><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
 Canada</span>
		</p>
	</div>
	<div class="resource__abstract">
		<h2>Summary</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="resource__tags">
		<ul class="tags">
	<li class="tag">
		<a class="tag__link" href="#growing-a-co-op">Growing a co-op</a>
	</li>
	<li class="tag">
		<a class="tag__link" href="#starting-a-co-op">Starting a co-op</a>
	</li>
	<li class="tag">
		<a class="tag__link" href="#governance">Governance</a>
	</li>
		</ul>
<button id="button" type="button" class="button">
<svg
	class="icon icon--edit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/edit.svg#edit"/>
</svg>
<span class="button__label">Suggest edits</span></button>
	</div>
	<div class="resource__cta">
<p class="wp-block-button">
	<a href="https://example.com/call-to-action" class="wp-block-button__link">View full resource
<svg
	class="icon icon--external"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/external.svg#external"/>
</svg>
	</a>
</p>
	</div>
	<div class="resource__actions">
<button id="button" type="button" class="button">
<svg
	class="icon icon--favorite"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/favorite.svg#favorite"/>
</svg>
<span class="button__label">Favorite</span></button>
<div class="menu-button">
	<h2 class="h3 menu-button__label"><svg
	class="icon icon--share"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/share.svg#share"/>
</svg>
Share</h2>
<ul class="link-list">
	<li class="link-list__item"><a href="">Twitter</a></li>
	<li class="link-list__item"><a href="">Facebook</a></li>
	<li class="link-list__item"><a href="">LinkedIn</a></li>
	<li class="link-list__item"><a href="">Email</a></li>
</ul>
</div>
<button id="button" type="button" class="button">
<span class="button__label">Report broken link</span></button>
<div class="menu-button">
	<h2 class="h3 menu-button__label">View alternate links</h2>
<ul class="link-list">
	<li class="link-list__item"><a href="">View on Perma.cc</a></li>
	<li class="link-list__item"><a href="">View on the Wayback Machine</a></li>
</ul>
</div>
	</div>
	<div class="resource__related">
		<h2>Related resources</h2>
		<ul class="cards">
	<li class="card card--resource" data-format="article">
		<header>
				<span class="card__format">
<svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>			<span class="card__sep"> &middot; </span>
			<span class="card__language">English</span>
				<h2 class="card__title" >
					<a href="resource">Data as a common in the sharing economy</a>
				</h2>
		</header>
			<p class="card__byline">By Centre d&rsquo;économie Paris Nord</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
France</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Commons
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Policy
							</li>
					</ul>
					<p>+2 more</p>
				</div>
		</li>
	<li class="card card--resource" data-format="article">
		<header>
				<span class="card__format">
<svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>			<span class="card__sep"> &middot; </span>
			<span class="card__language">English</span>
				<h2 class="card__title" >
					<a href="resource">Data as a common in the sharing economy</a>
				</h2>
		</header>
			<p class="card__byline">By Centre d&rsquo;économie Paris Nord</p>
				<p class="card__locality">
<svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
France</p>
				<div class="card__tags">
					<ul class="badges" >
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Commons
							</li>
							<li class="badge">
								<span class="screen-reader-text">Topic: </span>Policy
							</li>
					</ul>
					<p>+2 more</p>
				</div>
		</li>
		</ul>
	</div>
</article>

