

<article class="resource">
	<div class="page-header resource__header">
		<h1>Co-op Creator</h1>
		<p class="resource__meta resource__subscription"><svg
	class="icon icon--lock"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/lock.svg#lock"/>
</svg>
 <span aria-hidden="true">Subscription required</span><span class="screen-reader-text">Subscription required to access this resource</span></p>
		<div class="resource__meta resource__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Some Co-operator</div>
		<div class="resource__meta">
			<div class="resource__meta-group">
				<span class="resource__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--toolkit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/toolkit.svg#toolkit"/>
</svg>
Toolkit</span><span class="separator">.</span>
				<span class="resource__publisher">Published by <a rel="external" href="https://cooperativesfirst.ca">Cooperatives First</a></span>
			</div>
			<div class="resource__meta-group">
				<span class="resource__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
Canada</span>
			</div>
			<div class="resource__meta-group">
<svg
	class="icon icon--info"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/info.svg#info"/>
</svg>
<span class="resource__language"><span class="screen-reader-text">language: </span>English</span><span class="separator">.</span>
<span class="resource__date"><span class="screen-reader-text">date published: </span>2019</span>			</div>
		</div>
	</div>
	<div class="resource__abstract">
		<h2>Summary</h2>
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	</div>
	<div class="resource__tags stack">
		<div class="tags">
	<li class="tag"><a class="tag__link" href="#growing-a-co-op">Growing a co-op</a></li>
	<li class="tag"><a class="tag__link" href="#starting-a-co-op">Starting a co-op</a></li>
	<li class="tag"><a class="tag__link" href="#governance">Governance</a></li>
		</div>
		<div>
<button id="button" type="button" class="button button--borderless">
<svg
	class="icon icon--edit"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/edit.svg#edit"/>
</svg>
<span class="button__label">Suggest edits</span></button>
		</div>
	</div>
	<div class="resource__cta">
<p>
	<a href="https://example.com/call-to-action" class="cta">View full resource</a>
</p>
	</div>
	<div class="resource__actions">
<button id="button" type="button" class="button button--borderless">
<svg
	class="icon icon--favorite"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/favorite.svg#favorite"/>
</svg>
<span class="button__label">Favorite</span></button>
<div class="menu-button">
	<h2 class="h3 menu-button__label"><svg
	class="icon icon--share"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/share.svg#share"/>
</svg>
Share</h2>
<ul class="link-list">
	<li class="link-list__item"><a href="">Twitter</a></li>
	<li class="link-list__item"><a href="">Facebook</a></li>
	<li class="link-list__item"><a href="">LinkedIn</a></li>
	<li class="link-list__item"><a href="">Email</a></li>
</ul>
</div>
<button id="button" type="button" class="button button--borderless">
<svg
	class="icon icon--broken-link"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/broken-link.svg#broken-link"/>
</svg>
<span class="button__label">Report broken link</span></button>
<div class="menu-button">
	<h2 class="h3 menu-button__label">View alternate links</h2>
<ul class="link-list">
	<li class="link-list__item"><a href="">View on Perma.cc</a></li>
	<li class="link-list__item"><a href="">View on the Wayback Machine</a></li>
</ul>
</div>
	</div>
	<div class="resource__meta"><em>Added January 7, 2020</em></div>
	<div class="resource__related">
		<h2>Related resources</h2>
		<ul class="cards">
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Data as a common in the sharing economy</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Centre d&rsquo;économie Paris Nord</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
France</span>
				</div>
				<div class="card__meta">
<svg
	class="icon icon--info"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/info.svg#info"/>
</svg>
<span class="card__language"><span class="screen-reader-text">language: </span>English</span>				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Commons
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Policy
					</div>
					<span class="overflow">
						+2 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
	<li class="card__wrapper">
		<article class="card card--resource">
			<header>
				<h3 class="card__title" >
					<a class="card__link" href="resource">Data as a common in the sharing economy</a>
				</h3>
					<p class="card__byline"><svg
	class="icon icon--author"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/author.svg#author"/>
</svg>
 By Centre d&rsquo;économie Paris Nord</p>
			</header>
			<aside class="card__aside">
				<div class="card__meta">
					<span class="card__format"><span class="screen-reader-text">resource format: </span><svg
	class="icon icon--article"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/article.svg#article"/>
</svg>
Article</span>				</div>
				<div class="card__meta">
					<span class="card__locality"><span class="screen-reader-text">location of relevance: </span><svg
	class="icon icon--location"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/location.svg#location"/>
</svg>
France</span>
				</div>
				<div class="card__meta">
<svg
	class="icon icon--info"
	aria-hidden="true"
	viewBox="0 0 20 20"
	focusable="false"
>
	<use href="/images/info.svg#info"/>
</svg>
<span class="card__language"><span class="screen-reader-text">language: </span>English</span>				</div>
				<div class="card__tags tags">
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Commons
					</div>
					<div class="badge">
						<span class="screen-reader-text">Topic: </span>Policy
					</div>
					<span class="overflow">
						+2 more
					</span>
				</div>
				<div class="card__meta">
				    <span class="card__added">Added January 1, 2020</span>
				</div>
			</aside>
		</article>
	</li>
		</ul>
	</div>
</article>

