

<div class="spacer"></div><div class="saved-search">
	<h4><a href="/?s=Cooperative%20Economy">Cooperative economy paper</a></h4>
	<span class="disclosure-label" hidden>Show details</span>
	<div class="saved-search__details">
		<p><strong>Search term</strong><br />
		&ldquo;Cooperative Economy&rdquo;</p>
		<p><strong>Tags</strong></p>
		<div class="tags">
	<span class="badge">Lots of things to see here, probably will need to wrap</span>
	<span class="badge">Cooperative economy</span>
	<span class="badge">Cooperative economy</span>
	<span class="badge">Lots of things to see here, probably will need to wrap</span>
	<span class="badge">Australia</span>
	<span class="badge">Australia</span>
	<span class="badge">Lots of things to see here, probably will need to wrap</span>
	<span class="badge">Academic paper</span>
	<span class="badge">Academic paper</span>
		</div>
	</div>
</div>

