

<div class="input-group">
	<label for="select">Select</label>
	<select id="select" name="select">
		<option val="1">Option 1</option>
		<option val="2">Option 2</option>
		<option val="3">Option 3</option>
		<option val="4">Option 4</option>
		<option val="5">Option 5</option>
		<option val="6">Option 6</option>
		<option val="7">Option 7</option>
		<option val="8">Option 8</option>
		<option val="9">Option 9</option>
		<option val="10">Option 10</option>
	</select>
	<p class="input-group__description">Description for this select input.</p>
</div>

