

<div class="tabs">
	<div role="tablist" aria-labelledby="tabs-label">
		<span class="screen-reader-text" id="tabs-label">tab group</span>
		<a class="tab" href="#tab-1" id="tab-1-btn" role="tab" aria-controls="tab-1" aria-selected="true">Tab 1</a>
		<a class="tab" href="#tab-2" id="tab-2-btn" role="tab" aria-controls="tab-2" aria-selected="false">Tab 2</a>
		<a class="tab" href="#tab-3" id="tab-3-btn" role="tab" aria-controls="tab-3" aria-selected="false">Tab 3</a>
	</div>
	<div id="tab-1" role="tabpanel" aria-labelledby="tab-1-btn">
		Tab one content.
	</div>
	<div id="tab-2" role="tabpanel" aria-labelledby="tab-2-btn">
		Tab two content.
	</div>
	<div id="tab-3" role="tabpanel" aria-labelledby="tab-3-btn">
		Tab three content.
	</div>
</div>

