

<div class="page-header">
	<div class="inside">
		<p><a class="link--breadcrumb" href="/">Home</a>
</p>
		<h1>Co-op Types</h1>
	</div>
</div>
<ul class="link-list">
	<li class="link-list__item"><a href="agriculture">Agriculture</a></li>
	<li class="link-list__item"><a href="art-fashion-design">Art, fashion, design</a></li>
	<li class="link-list__item"><a href="accounting-and-finance">Accounting and Finance</a></li>
	<li class="link-list__item"><a href="advertising-and-marketing">Advertising and marketing</a></li>
	<li class="link-list__item"><a href="consulting">Consulting</a></li>
	<li class="link-list__item"><a href="co-op-development">Co-op development</a></li>
	<li class="link-list__item"><a href="community-organizing">Community organizing</a></li>
	<li class="link-list__item"><a href="construction">Construction</a></li>
	<li class="link-list__item"><a href="environment">Environment</a></li>
	<li class="link-list__item"><a href="education">Education</a></li>
	<li class="link-list__item"><a href="energy-and-mining">Energy and mining</a></li>
	<li class="link-list__item"><a href="entertainment">Entertainment</a></li>
	<li class="link-list__item"><a href="food">Food</a></li>
	<li class="link-list__item"><a href="healthcare">Healthcare</a></li>
	<li class="link-list__item"><a href="hospitality-and-tourism">Hospitality and tourism</a></li>
	<li class="link-list__item"><a href="legal">Legal</a></li>
	<li class="link-list__item"><a href="manufacturing">Manufacturing</a></li>
	<li class="link-list__item"><a href="media-and-communications">Media and communications</a></li>
	<li class="link-list__item"><a href="maintenance-and-repair">Maintenance and repair</a></li>
	<li class="link-list__item"><a href="protective-services-and-defense">Protective services and defense</a></li>
	<li class="link-list__item"><a href="personal-care-and-services">Personal care and services</a></li>
	<li class="link-list__item"><a href="public-and-social-services">Public and social services</a></li>
	<li class="link-list__item"><a href="property-and-real-estate">Property and real estate</a></li>
	<li class="link-list__item"><a href="recycling-and-waste-management">Recycling and waste management</a></li>
	<li class="link-list__item"><a href="sales-and-retail">Sales and retail</a></li>
	<li class="link-list__item"><a href="science-and-engineering">Science and engineering</a></li>
	<li class="link-list__item"><a href="sports-fitness-and-recreation">Sports fitness and recreation</a></li>
	<li><h2>Technology</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="technology">Technology</a></li>
	<li class="link-list__item"><a href="electronics-and-computer-manufacturing">Electronics and computer manufacturing</a></li>
	<li class="link-list__item"><a href="software-and-hardware-enginereeing">Software and hardware enginereeing</a></li>
	<li class="link-list__item"><a href="web-service-providers">Web service providers</a></li>
	<li class="link-list__item"><a href="data-processing">Data processing</a></li>
	<li class="link-list__item"><a href="misc-technology">Misc technology</a></li>
	</ul></li>
	<li class="link-list__item"><a href="transportation-and-logistics">Transportation and logistics</a></li>
	<li class="link-list__item"><a href="translation">Translation</a></li>
	<li class="link-list__item"><a href="utilities">Utilities</a></li>
</ul>

