

<div class="page-header">
	<div class="inside">
		<p><a class="link--breadcrumb" href="/">Home</a>
</p>
		<h1>Sectors</h1>
	</div>
</div>
<ul class="link-list">
	<li><h2>Cooperative essentials</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="cooperative-essentials">Cooperative essentials</a></li>
	<li class="link-list__item"><a href="governance">Governance</a></li>
	<li class="link-list__item"><a href="ownership">Ownership</a></li>
	<li class="link-list__item"><a href="cooperative-best-practices">Cooperative best practices</a></li>
	<li class="link-list__item"><a href="diversity-and-inclusion">Diversity and inclusion</a></li>
	<li class="link-list__item"><a href="bylaws">Bylaws</a></li>
	</ul></li>
	<li><h2>Business operations</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="business-operations">Business operations</a></li>
	<li class="link-list__item"><a href="human-resources">Human resources</a></li>
	<li class="link-list__item"><a href="marketing">Marketing</a></li>
	<li class="link-list__item"><a href="social-media">Social media</a></li>
	<li class="link-list__item"><a href="incorporation">Incorporation</a></li>
	<li class="link-list__item"><a href="business-model">Business model</a></li>
	<li class="link-list__item"><a href="income-benefits-and-compensation">Income, benefits, and compensation</a></li>
	</ul></li>
	<li><h2>Technology &amp; Platforms</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="technology-and-platforms">Technology &amp; Platforms</a></li>
	<li class="link-list__item"><a href="software-development">Software development</a></li>
	<li class="link-list__item"><a href="platforms">Platforms</a></li>
	<li class="link-list__item"><a href="design">Design</a></li>
	<li class="link-list__item"><a href="free-software">Free software</a></li>
	<li class="link-list__item"><a href="data">Data</a></li>
	<li class="link-list__item"><a href="algorithms">Algorithms</a></li>
	<li class="link-list__item"><a href="automation">Automation</a></li>
	<li class="link-list__item"><a href="blockchain">Blockchain</a></li>
	<li class="link-list__item"><a href="search-engines">Search engines</a></li>
	</ul></li>
	<li><h2>Law &amp; Policy</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="law-and-policy">Law &amp; Policy</a></li>
	<li class="link-list__item"><a href="anti-trust">Anti-trust</a></li>
	<li class="link-list__item"><a href="labor-law">Labor law</a></li>
	<li class="link-list__item"><a href="policy">Policy</a></li>
	<li class="link-list__item"><a href="co-op-law">Co-op law</a></li>
	</ul></li>
	<li><h2>Fair labour</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="fair-labour">Fair labour</a></li>
	<li class="link-list__item"><a href="unions">Unions</a></li>
	<li class="link-list__item"><a href="workplace-safety">Workplace safety</a></li>
	<li class="link-list__item"><a href="social-security">Social security</a></li>
	</ul></li>
	<li><h2>Platform co-op theory</h2></li>
	<li><ul class="link-list">
	<li class="link-list__item"><a href="platform-co-op-theory">Platform co-op theory</a></li>
	<li class="link-list__item"><a href="platform-cooperativism">Platform cooperativism</a></li>
	<li class="link-list__item"><a href="platform-capitalism">Platform capitalism</a></li>
	<li class="link-list__item"><a href="gig-economy">Gig economy</a></li>
	<li class="link-list__item"><a href="sharing-economy">Sharing economy</a></li>
	<li class="link-list__item"><a href="solidarity-economy">Solidarity economy</a></li>
	<li class="link-list__item"><a href="information-economy">Information economy</a></li>
	<li class="link-list__item"><a href="peer-to-peer">Peer-to-peer</a></li>
	</ul></li>
</ul>

