{% extends "lockdown/base.html" %}

{% block title %}Coming soon…{% endblock %}

{% block content %}
<div id="lockdown" style="font-family: sans-serif">
  <h2>Coming soon…</h2>

  <p>This site is not publicly available yet.</p>

  {% if form %}
  <form class="form" action="" method="post" novalidate>{% csrf_token %}
      <label for="user">User: </label>
      <input id="user" type="text"/>
    {{ form.as_p }}
    <p><input type="submit" value="But I was invited!" /></p>
  </form>
  {% endif %}

</div>
{% endblock %}
