{% load static %}
<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <title>
      {% block title %}{{ title }}{% endblock %}
  </title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
  <script src="{% static 'maps/scripts/pinecone.umd.js' %}"></script>
  <link href="{% static 'maps/styles/pinecone.css' %}" rel="stylesheet">
  <link href="{% static 'surveys/css/surveys.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'maps/images/favicon.png' %}" type="image/x-icon">
</head>
<body class="home page">
{% include 'surveys/header.html' %}
  <div class="wrap container" role="document">
    <div class="content">
      <main>
{% block content %}{% endblock %}
      </main>
    </div>
  </div>
{% include 'maps/footer.html' %}
</body>
</html>
