{% extends 'surveys/base.html' %}
{% load static %}
{% load i18n %}
{% load maps_extras %}
{% block title %}{{ '2020 Ecosystem Survey'|titlify }}{% endblock %}
{% block content %}
    <div class="page-header">
      <h1><span class="pc-ff--sans pc-fw--normal">Platform Co-op</span><br/> Directory</h1>
      <p class="subhead">2020 Survey of the International Cooperative Digital Ecosystem</p>
    </div>
    <h3>Do you need funding for your cooperative digital project?</h3>
    <p>No matter at which stage of development, potential funders, the International Cooperative Alliance, and supportive policymakers need to know that you exist!!</p>

<p>Whether your project just launched or is already fully operational and growing, prospective supporters need to understand the significance of your project!</p>

    <p>They need to grasp that you matter. FOR THAT, THEY NEED DATA!</p>

    <p>We need to provide funders and all supporters with reliable information about your project!! Without it, you may be dismissed and remain invisible.</p>

    <p><strong>Please help us to help you.</strong></p>

    <p>The survey has been prepared by Prof. Trebor Scholz and Angela Difede at The New School’s Institute for the Cooperative Digital Economy. Please feel free to contact us directly with any questions.</p>

    <p>WE WILL ADD THE INFORMATION THAT YOU PROVIDE HERE TO A *PUBLIC INDEX* ON HTTP://PLATFORM.COOP</p>

    <p>
        Our email:<br />
        info@platform.coop
    </p>
    <p>
        Mail:<br />
        Institute for the Cooperative Digital Economy<br />
        The New School<br />
        79 5th Avenue, Room 1601<br />
        New York, NY, 10003<br />
        USA
    </p>

    <div class="spacer"></div>
    <form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <fieldset>
            <legend><strong>Your contact information</strong></legend>
            <p>Please provide the contact information for the best person to reach out to should we have follow-up questions about the answers you have provided to the short form of our survey. This contact information will not be part of the index. It will not be published online.</p>
            <div class="spacer"></div>
            {{ user_form }}
            <ul class="input-group">
            <strong>{{ role_form.role.label }}</strong>
            {% for radio in role_form.role %}
                <li>{{ radio.tag }}
                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                </li>
            {% endfor %}
            </ul>

        </fieldset>

        <div class="spacer"></div>
        <fieldset>
            <legend><strong>About your enterprise or project</strong></legend>
            {{ organization_form }}
            <ul class="input-group">
{% comment %}            {% for sn in socialnetworks_form.socialnetworks %}
                <li>{{ sn.tag }}:
{#                  <label for="{{ sn.id_for_label }}"> {{ sn.organization }}</label>#}
                </li>
            {% endfor %}{% endcomment %}
            </ul>

            <ul class="input-group">
            <strong>{{ legal_status_form.legal_status.label }}</strong>
            {% for checkbox in legal_status_form.legal_status %}
                <li>{{ checkbox.tag }}
                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </li>
            {% endfor %}
            </ul>

            <ul class="input-group">
            <strong>{{ stage_form.stage.label }}</strong>
            {% for radio in stage_form.stage %}
                <li>{{ radio.tag }}
                    <label for="{{ radio.id_for_label }}">{{ radio.choice_label }}</label>
                </li>
            {% endfor %}
            </ul>

            <ul class="input-group">
            <strong>{{ category_form.categories.label }}</strong>
            {% for checkbox in category_form.categories %}
                <li>{{ checkbox.tag }}
                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </li>
            {% endfor %}
            </ul>

            <ul class="input-group">
            <strong>{{ sector_form.sectors.label }}</strong>
            {% for checkbox in sector_form.sectors %}
                <li>{{ checkbox.tag }}
                    <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
                </li>
            {% endfor %}
            </ul>

        </fieldset>

        <div class="spacer"></div>
        <button id="button" type="submit" class="button">
            <span class="button__label">{% trans "Submit" %}</span>
        </button>
    </form>

{% endblock %}
