{% extends 'maps/base.html' %}
{% load static %}
{% load i18n %}
{% block bodyclass %}account{% endblock %}
{% block content %}
    <div class="page-header">
        <p><a class="link--breadcrumb" href="{% url 'index' %}">{% trans "Home" %}</a></p>
        <h1>{% trans 'Account settings' %}</h1>
    </div>
    <div class="stack">
        <p><strong>{% trans 'Email' %}</strong></p>
        <div class="box">
            {{ user.email }}<br />
            <a href="{% url 'account_email' %}">{% trans 'Manage email addresses' %}</a>
        </div>
        <p><strong>{% trans 'Password' %}</strong></p>
        <div class="box">
            *******<br />
            <a href="{% url 'account_change_password' %}">{% trans 'Change password' %}</a>
        </div>
    </div>
{% endblock %}
