{% load static %}
<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8" />
  <title>
      {% block title %}{{ title }}{% endblock %}
  </title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet"/>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script>document.documentElement.classList.remove('no-js');</script>
  <link href="{% static 'maps/dist/css/app.css' %}" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'maps/dist/images/favicon.png' %}" type="image/x-icon">
</head>
{% url 'index' as home_url %}
<body class="{% block bodyclass %}{{ bodyclass }}{% endblock %}">
{% include 'maps/global_nav.html' %}
{% include 'maps/header.html' %}
  <div class="wrap container" role="document">
    <div class="content">
      <main>
      {% block content %}{% endblock %}
      </main>
    </div>
  </div>
{% include 'maps/footer.html' %}
{% block extra_body %}{% endblock %}
</body>
</html>
