{% load maps_extras %}
{% load static %}
  <footer class="content-info has-dark-mint-500-background-color">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a class="logo link--inverse" rel="external" href="https://platform.coop/">
            {% icon 'logo' class_override='logo__image' viewbox='0 0 282.08 78.75' %}
            <span class="screen-reader-text">Platform Cooperativism Consortium</span>
          </a>
          <div class="nav">
            <p><a class="link--inverse" href="{% url 'privacy_policy' %}">Our privacy policy</a></p>
            <p><a class="link--inverse" href="{% url 'terms_of_service' %}">Our terms of service</a></p>
          </div>
        </div>
        <div class="column">
          <div class="h4"><a rel="external" class="link--inverse" href="https://platform.coop/contact-us/">Contact us</a></div>
              <div>
            <strong>Email</strong><br>
                  <a class="link--inverse" href="mailto:pcc@newschool.edu" rel="external">pcc@newschool.edu</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
<script src="{% static 'maps/dist/js/app.js' %}"></script>
