{% load static %}
  <footer class="content-info">
    <div class="container">
      <div class="columns">
        <div class="column">
          <a class="logo link--inverse" rel="external" href="https://platform.coop/">
            <svg class="logo__image" viewBox="0 0 282.08 78.75" aria-hidden="true" focusable="false">
                <use href="{% static 'maps/images/logo.svg#logo' %}" />
            </svg>
          <span class="screen-reader-text">Platform Cooperativism Consortium</span>
          </a>
          <div class="nav">
            <p><a class="link--inverse" href="{% url 'privacy_policy' %}">Our privacy policy</a></p>
            <p><a class="link--inverse" href="{% url 'terms_of_service' %}">Our terms of service</a></p>
          </div>
        </div>
        <div class="column">
          <div class="h4"><a rel="external" class="link--inverse" href="https://platform.coop/contact-us/">Contact us</a></div>
              <div>
            <strong>Email</strong><br>
                  <a class="link--inverse" href="mailto:info@platform.coop" rel="external">info@platform.coop</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
<script src="{% static 'maps/dist/js/site.js' %}"></script>
<script>
  const menu = document.querySelector('.menu');
  const menuToggle = document.querySelector('.menu-toggle');

  if (menu && menuToggle) {
    new Pinecone.Menu(menu, menuToggle);
  }
</script>
