{% load static %}
    <nav class="global-nav" aria-labelledby="global-nav-label">
      <span id="global-nav-label" class="screen-reader-text">global navigation</span>
      <ul class="global-nav__list">
        <li class="global-nav__list-item global-nav__list-item--first">
          <a class="global-nav__link" rel="external" href="https://platform.coop">
            <svg
                class="icon icon--pcc"
                aria-hidden="true"
                viewBox="0 0 32 32"
                focusable="false"
            >
              <use href="{% static 'maps/images/pcc.svg#pcc' %}" />
            </svg>
            Platform Cooperativism Consortium</a>
        </li>
        <li class="global-nav__list-item">
            <a class="global-nav__link" aria-current="true" rel="home" href="/">Directory</a>
        </li>
        <li class="global-nav__list-item">
          <a class="global-nav__link" rel="external" href="https://resources.platform.coop/">Resource
            Library</a>
        </li>
      </ul class="global-nav__list">
    </nav>
