{% load static %}
  <div class="banner-pattern"></div>
  <header role="banner">
    <div class="container">
      <a class="link link--brand" aria-current="page" href="{% url 'index' %}">
        <svg class="icon icon--pcc icon--lg" viewBox="0 0 32 32" aria-hidden="" focusable="">
            <use href="{% static 'maps/images/pcc.svg#pcc' %}" />
        </svg>
        <span class="brand__title screen-reader-text">Platform Cooperatives Worldwide</span></a>
      <div class="inner">
        <nav aria-labelledby="menu-primary-label">
          <button class="button button--borderless menu-toggle" aria-expanded="false">
            <svg class="icon icon--open" viewBox="0 0 20 20" focusable="false" aria-hidden="true">
             <use href="{% static 'maps/images/menu.svg#menu' %}" />
            </svg>
            <svg class="icon icon--close" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
              <use href="{% static 'maps/images/close.svg#close' %}" />
            </svg>
            <span id="menu-primary-label" class="menu-toggle__label">Menu</span>
          </button>
          <ul id="menu-primary-menu-english" class="menu menu--home">
            {% if user.is_authenticated %}
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                href="#" class="menu__item">{{ user.email }}</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                href="{% url 'profile-branch' %}" class="menu__item">My profiles</a></li>
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                href="/accounts/logout/" class="menu__item">Logout</a></li>
            {% else %}
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                href="/accounts/login/" class="menu__item">Login</a></li>
            {% endif %}
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                href="#" class="menu__item">About</a></li>
            <li class="menu-item menu-item--languages menu__submenu-wrapper">
              <button class="menu__item" aria-expanded="false">

                <span class="menu__label">Language</span>
                <svg class="icon icon--language icon--lg" viewBox="0 0 30 30" aria-hidden="true" focusable="false">
                  <use href="{% static 'maps/images/language.svg#language' %}" />
                </svg>
                <svg class="icon icon--chevron-down" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
                  <use href="{% static 'maps/images/chevron-down.svg#chevron-down' %}" />
                </svg>
              </button>

              <ul class="menu__submenu">
                <li class="menu-item"><a aria-current="true" href="https://stage.commons.platform.coop/en/welcome/"
                                         class="menu__item">English</a></li>
                <li class="menu-item"><a href="https://stage.commons.platform.coop/de/wilkommen/" class="menu__item">Deutsch</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
