{% load static %}
  <div class="banner-pattern"></div>
  <header role="banner">
    <div class="container">

      <a class="link link--brand" aria-current="page" href="{% url 'index' %}">
        <svg class="icon icon--pcc icon--lg" viewBox="0 0 32 32" aria-hidden="" focusable="">
            <use href="{% static 'maps/images/pcc.svg#pcc' %}" />
        </svg>
        <span class="brand__title screen-reader-text">Platform Cooperatives Worldwide</span></a>

      <div class="inner">
        <nav class="nav" aria-labelledby="menu-primary-label">
          <button class="button button--borderless menu-toggle" aria-expanded="false">
            <svg class="icon icon--open" viewBox="0 0 20 20" focusable="false" aria-hidden="true">
             <use href="{% static 'maps/images/menu.svg#menu' %}" />
            </svg>
            <svg class="icon icon--close" viewBox="0 0 20 20" aria-hidden="true" focusable="false">
              <use href="{% static 'maps/images/close.svg#close' %}" />
            </svg>
            <span id="menu-primary-label" class="menu-toggle__label">Menu</span>
          </button>

          <ul id="menu-primary-menu-english" class="menu menu--home">
            {% if user.is_authenticated %}
              <li class="menu-item menu-item-type-post_type menu-item-object-page"><span
                  class="menu__item">{{ user.email }}</span></li>

            <li class="menu__submenu-wrapper">
                <a class="menu__item" href="#">My profiles</a>
                <ul class="menu__submenu">
                    <li>
                      <p><strong>Personal</strong></p>
                      {% if not user.has_profile %}
                      <p>You do not have a profile in the directory</p>
                      <a class="menu__item" href="{% url 'individual-profile' %}">Create personal profile</a>
                      {% else %}
                      <a class="menu__item" href="{% url 'individual-detail' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                      {% endif %}
                      <hr class="is-style-hairline has-blue-500-background-color" />
                    </li>

                    <li>
                      <p><strong>Organisations</strong></p>
                      <p>You have not created any organisational profiles</p>
                      <a class="menu__item" href="#">Create organisational profile</a>
                    </li>
                </ul>
            </li>

            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                href="/accounts/logout/" class="menu__item">Logout</a></li>
            {% else %}
            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                href="/accounts/login/" class="menu__item">Login</a></li>
            {% endif %}

            <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                href="#" class="menu__item">About</a></li>

            <li class="menu-item menu-item--languages menu__submenu-wrapper">
              <a class="menu__item" href="/en/settings/language/">
                <span class="menu__label">Language</span>
                <svg
                    class="icon icon--language icon--lg"
                    aria-hidden="true"
                    viewBox="0 0 30 30"
                    focusable="false"
                >
                  <use href="{% static 'maps/images/language.svg#language' %}" />
                </svg>
              </a>
              <ul class="menu__submenu">
                <li class="menu-item"><a aria-current="true" href="/en/" class="menu__item">English</a></li>
                <li class="menu-item"><a href="#" class="menu__item">Português</a></li>
                <li class="menu-item"><a href="#" class="menu__item">Svenska</a></li>
                <li class="menu-item"><a href="#" class="menu__item">Italiano</a></li>
                <li class="menu-item"><a href="#" class="menu__item">Español</a></li>
                <li class="menu-item"><a href="#" class="menu__item">Français</a></li>
                <li class="menu-item"><a href="#" class="menu__item">Deutsch</a></li>
              </ul>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </header>
