<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Platform Cooperatives Worldwide</title>
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
  <script src="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet"/>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    ;
  </style>
</head>
<body>
<div id="map"></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZXJpY3RoZWlzZSIsImEiOiJjazVvNGNmM2wxaGhjM2pvMGc0ZmIyaXN3In0.Jrt9t5UrY5aCbndSpq5JWw';
  var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [-74.5, 40], // starting position [lng, lat]
    zoom: 4
  });

  let nav = new mapboxgl.NavigationControl();
  map.addControl(nav, 'bottom-left');

  map.on('load', function () {
    map.addSource('coops', {
      type: 'geojson',
      data: '/organizations/'
    });
    map.addLayer({
      'id': 'coops',
      'type': 'symbol',
      'source': 'coops',
      'layout': {
        'icon-image': ['concat', ['get', 'icon'], '-15'],
        'text-field': ['get', 'name'],
        'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
        'text-offset': [0, 0.6],
        'text-anchor': 'top'
      }
    });

    let popup = new mapboxgl.Popup({
      closeButton: false,
      closeOnClick: false
    });

    map.on('mouseover', 'active-accounts-with-gps', function (e) {
      map.getCanvas().style.cursor = 'pointer';
      let
        htmlString = '<b>' + e.features[0].properties.Account + '</b><br />' +
          e.features[0].properties.Address + '<br />' +
          e.features[0].properties.City;

      popup.setLngLat(e.features[0].geometry.coordinates)
        .setHTML(htmlString)
        .addTo(map);
    });

    map.on('mouseleave', 'active-accounts-with-gps', function () {
      map.getCanvas().style.cursor = '';
      popup.remove();
    })

  });
</script>

</body>
</html>
