{% extends 'maps/base.html' %}
{% load maps_extras %}
{% block title %}{{ 'Welcome' | titlify }}{% endblock %}
{% block bodyclass %}page home{% endblock %}
{% block content %}
        <div class="banner-pattern"></div>
        <div class="page-header">
          <h1><span class="pc-ff--sans pc-fw--normal">Platform Co-op</span><br/> Directory</h1>
          <p class="subhead">The Platform Co-op Directory is a place where you can search for and connect with co-operatives and other members of the co-operative community.</p>
        </div>
        {% include 'maps/partials/messages.html' %}
        {% include 'maps/search--home.html' %}
        <div id="main-map"></div>
        {% include 'maps/filters.html' %}
        <div id="visibles"></div>
{% endblock %}
