{% extends 'maps/base.html' %}
{% load static %}
{% load i18n %}
{% load maps_extras %}
{% block title %}{{ user.last_name|add:', '|add:user.first_name|titlify }}{% endblock %}
{% block content %}
    <div class="page-header">
        <p><a class="link--breadcrumb" href="{% url 'index' %}">{% trans "Home" %}</a></p>
        <h1><span class="pc-ff--sans pc-fw--normal">Platform Co-op</span><br/> Directory</h1>
    </div>
    {% include 'maps/search.html' %}
    {% if user.url %}
    <h1><a rel="external" href="{{ user.url }}">{{ user.last_name }}, {{ user.first_name }}</a></h1>
    {% else %}
    <h1>{{ user.last_name }}, {{ user.first_name }}</h1>
    {% endif %}

    <div class="spacer"></div>
    <span>
        <span class="screen-reader-text">location </span>
        <svg class="icon icon--location" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
            <use href="{% static 'maps/dist/images/location.svg#location' %}"/>
        </svg>
        {% if user.city or user.state or user.country %}
            {% if user.city %}{{ user.city }}, {% endif %}
            {% if user.state %}{{ user.state }} {% endif %}
            {% if user.country %}{{ user.country }}<br />{% endif %}
        {% endif %}
    </span>

    <span>
        <span class="screen-reader-text">languages </span>
        <svg class="icon icon--location" aria-hidden="true" viewBox="0 0 32 32" focusable="false">
            <use href="{% static 'maps/dist/images/language.svg#language' %}"/>
        </svg>
        {% if user.languages.count > 0 %}
            {% for l in user.languages.all %}
            {{ l.iso_name }}
            {% endfor %}
        {% endif %}
    </span>

    <div>
        <span class="screen-reader-text">roles </span>
        {% if user.roles.count > 0 %}
            {% for r in user.roles.all %}
        <span class="badge">Role: {{ r.name }}</span><br />
            {% endfor %}
        {% endif %}
    </div>

    <h2>About me</h2>
    {% if user.bio %}
    <p>{{ user.bio }}</p>
    {% else %}
    <p>{% lorem %}</p>
    {% endif %}


    <h2>Challenges</h2>
    {% if user.challenges.count > 0 %}
        {% for c in user.challenges.all %}
    <span class="badge">Challenge: {{ c.name }}</span><br />
        {% endfor %}
    {% else %}
    <p>{% lorem %}</p>
    {% endif %}


    <h2>Services provided</h2>
    {% if user.services.count > 0 %}
        {% for s in user.services.all %}
    <span class="badge">Service: {{ s.name }}</span><br />
        {% endfor %}
    {% else %}
    <p>{% lorem %}</p>
    {% endif %}


    <h2>Contact</h2>
    {% if user.address or user.city or user.state or user.country or user.postal_code %}
        {% if user.address %}{{ user.address }}<br />{% endif %}
        {% if user.city %}{{ user.city }}, {% endif %}
        {% if user.state %}{{ user.state }} {% endif %}
        {% if user.postal_code %}{{ user.postal_code }} {% endif %}
        {% if user.country %}{{ user.country }}<br />{% endif %}
    {% endif %}
    {% if user.phone %}T: {{ user.phone }}<br />{% endif %}
    E: {{ user.email }}<br />

    {% if user.socialnetworks %}
    <h2>Follow</h2>
        <ul>
        {% for sn in user.usersocialnetwork_set.all %}
            {% if sn.socialnetwork.format == 'handle' %}
                <li class="no-bullet"><i class="fab fa-{{ sn.socialnetwork.font_awesome }}"></i><span class="screen-reader-text">{{ sn.socialnetwork.name }}</span> <a rel="external" href="{{ sn.socialnetwork.base_url }}{{ sn.identifier|cut:'@' }}">{{ sn.identifier }}</a></li>
            {% else %} {# sn.socialnetwork.format == 'url' #}
                <li class="no-bullet"><i class="fab fa-{{ sn.socialnetwork.font_awesome }}"></i><span class="screen-reader-text">{{ sn.socialnetwork.name }}</span> <a rel="external" href="{{ sn.identifier }}">{{ sn.identifier }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    <div class="spacer"></div>
    <small>
        Last updated: {{ user.updated_at }}<br />
        Date joined: {{ user.date_joined }}
    </small>

{% endblock %}
