{% extends 'maps/base.html' %}
{% load static %}
{% load maps_extras %}
{% block title %}{{ 'My profiles' |titlify }}{% endblock %}
{% block bodyclass %}my-profiles{% endblock %}
{% block content %}
    <div class="page-header">
        <p><a class="link--breadcrumb" href="/">Home</a></p>
        <h1>My profiles</h1>
    </div>
    {% if messages %}
        {% for message in messages %}
        {% include 'maps/partials/notification.html' %}
        {% endfor %}
    {% endif %}
    <h2>Personal profile</h2>
    {% if user.has_profile %}
    <ul class="cards">
        {% include 'maps/partials/card_individual.html' %}
    </ul>
    {% else %}
    <p>None created.</p>
    <p><a href="{% url 'individual-profile' %}">Create individual profile</a></p>
    {% endif %}
    <h2>Organizational profiles</h2>
    {% if user_orgs %}
    <ul class="cards">
        {% for org in user_orgs %}
        {% include 'maps/partials/card_organization.html' %}
        {% endfor %}
    </ul>
    <div class="spacer"></div>
    <p><a href="{% url 'organization-profile' %}">Create another organizational profile</a></p>
    {% else %}
    <p>None created.</p>
    <p><a href="{% url 'organization-profile' %}">Create organizational profile</a></p>
    {% endif %}
{% endblock %}
