{% extends 'maps/base.html' %}
{% load static %}
{% load i18n %}
{% load maps_extras %}
{% block title %}{{ organization.name|titlify }}{% endblock %}
{% block bodyclass %}profile profile--organization{% endblock %}
{% block content %}
  <div class="page-header">
      <p><a class="link--breadcrumb" href="{% url 'index' %}">{% trans "Home" %}</a></p>
      <h1>{{ organization.name }}</h1>
      {% if organization.url %}
      <div class="profile__meta">
          <a rel="external" href="{{ organization.url }}">{% trans 'Visit website' %}</a>
      </div>
      <div class="spacer"></div>
      {% endif %}
      <div class="profile__meta">
        <span class="screen-reader-text">{% trans 'location:' %} </span>
          <svg class="icon icon--location" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
              <use href="{% static 'maps/dist/images/location.svg#location' %}"/>
          </svg> {{ organization.city }}, {% if organization.state %}{{ organization.state }}, {% endif %}{{ organization.country.name }}
      </div>
      <div class="profile__meta">
          <span class="screen-reader-text">{% trans 'languages:' %} </span>
          <svg class="icon icon--language-small" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
              <use href="{% static 'maps/dist/images/language-small.svg#language-small' %}"/>
          </svg>
          {% if organization.languages.count > 0 %}
              {% for l in organization.languages.all %}
              {{ l.iso_name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
          {% endif %}
      </div>
  </div>
  <div class="tabs">
  <div role="tablist" aria-labelledby="tabs-label">
    <span class="screen-reader-text" id="tabs-label">{% trans 'tab group' %}</span>
    <a class="tab" href="#overview" id="overview-btn" role="tab" aria-controls="overview" aria-selected="true">{% trans 'Overview' %}</a>
    {# TODO: Members, Tools, Contact #}
  </div>
  <div id="overview" role="tabpanel" aria-labelledby="overview-btn">
    <div class="panel__sidebar">
      <h2>{% trans 'At a glance' %}</h2>
      {% if organization.type.name == 'Cooperative' %}
        <h3 class="h4">{% trans 'Co-op types' %}</h3>
      {% elif organization.type.name == 'Supporting organization' %}
        <h3 class="h4">{% trans 'Organization types' %}</h3>
      {% endif %}
      {# Potential co-ops and shared platforms don't get this section at the moment. #} 
      {% if organization.type.name == 'Cooperative' or organization.type.name == 'Supporting organization' %}
        <div class="tags">
        {% for category in organization.categories.all %}
          <span class="badge">{{ category.name }}</span>
        {% empty %}
          <span class="badge">{% trans 'Unknown' %}</span>
        {% endfor %}
        </div>
      {% endif %}
      <h3 class="h4">{% trans 'Sectors' %}</h3>
        <div class="tags">
        {% for sector in organization.sectors.all %}
          <span class="badge">{{ sector.name }}</span>
        {% empty %}
          <span class="badge">{% trans 'Unknown' %}</span>
        {% endfor %}
        </div>          
      {% if organization.type.name == 'Cooperative' %}
      <h3 class="h4">{% trans 'Stage of development' %}</h3>
      <div class="tags">
        <span class="badge">{{ organization.stage|default:'Unknown' }}</span>
      </div>
      {% endif %}
      {% if organization.type.name != 'Supporting organization' %}
      <h3 class="h4">{% trans 'Number of workers' %}</h3>
      <div class="profile__meta">
        {{ organization.num_workers|default:'Unknown' }}
      </div>
      <h3 class="h4">{% trans 'Worker distribution' %}</h3>
      <div class="profile__meta">
        {{ organization.worker_distribution_to_s|default:'Unknown' }}
      </div>
      {% endif %}
      {% if organization.type.name == 'Cooperative' %}
      <h3 class="h4">{% trans 'Number of members' %}</h3>
      <div class="profile__meta">
        {{ organization.num_members|default:'Unknown' }}
      </div>
      {% endif %}
      <h3 class="h4">{% trans 'Date founded' %}</h3>
      <div class="profile__meta">
      
      </div>
      <h3 class="h4">{% trans 'Legal status' %}</h3>
      <div class="tags">
        {% for status in organization.legal_status.all %}
          <span class="badge">{{ status.name }}</span>
        {% empty %}
          <span class="badge">{% trans 'Unknown' %}</span>
        {% endfor %}
        </div>
        {# TODO: Scope and impact #}
    </div>
    <div class="panel__content">
      <h2>{% trans 'Description' %}</h2>
      {% if organization.description %}
      <p>{{ organization.description }}</p>
      {% else %}
      <p>{% trans 'No description provided.' %}</p>
      {% endif %}
      <h2>{% trans 'Challenges' %}</h2>
      {% for c in organization.challenges.all %}
        <h3>{{ c.name }}</h3>
        <p>{{ c.description }}</p>
      {% empty %}
        <p>{% trans 'No challenges identified.' %}</p>
      {% endfor %}
      {# TODO: Members #}
      {# TODO: Tools #}
      {# TODO: Source code #}
      <p>
        <small>
          {% trans 'Last updated:' %} {{ organization.updated_at }}
        </small>
      </p>
    </div>
  </div>
{% endblock %}
