{% extends 'maps/base.html' %}
{% load i18n %}
{% load maps_extras %}
{% block title %}{{ organization.name|titlify }}{% endblock %}
{% block bodyclass %}profile profile--organization{% endblock %}
{% block content %}
  <div class="page-header">
      <p>
        {% if organization.type.icon %}{% icon organization.type.icon %}{% endif %}
        {{ organization.type }}
      </p>
      <h1>{{ organization.name }}</h1>
      <div class="profile__meta">
        <span class="screen-reader-text">{% trans 'location:' %} </span>
          {% icon 'location' %} {% if organization.city or organization.country %}
            {{ organization.city }}, {% if organization.state %}{{ organization.state }}, {% endif %}{{ organization.country.name }}
          {% else %}
            {% trans 'Not provided' %}
          {% endif %}
      </div>
      {% if organization.languages.count > 0 %}
      <div class="profile__meta">
          <span class="screen-reader-text">{% trans 'languages:' %} </span>
          {% icon 'language-small' %}
              {% for l in organization.languages.all %}
              {{ l.iso_name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
      </div>
      {% endif %}
      {% if organization.url %}
      <div class="spacer"></div>
      <p>
          <a rel="external" href="{{ organization.url }}">{% trans 'Visit website' %}</a>
      </p>
      {% endif %}
      {% if organization.admin_email == user.email %}
      <div class="align-right">
          <a href="{% url 'edit-basic-info' pk=organization.id %}">{% icon 'edit' %}{% trans 'Edit basic information' %}</a>
      </div>
      {% endif %}
  </div>
  {% include 'maps/partials/messages.html' %}
  <div class="tabs">
  <div role="tablist" aria-labelledby="tabs-label">
    <span class="screen-reader-text" id="tabs-label">{% trans 'tab group' %}</span>
    <a class="tab" href="#overview" id="overview-btn" role="tab" aria-controls="overview" aria-selected="true">{% trans 'Overview' %}</a>
    {% if organization.type.name == 'Cooperative' and members|length > 4 or founders|length > 4 %}
    <a class="tab" href="#founders-and-members" id="founders-and-members-btn" role="tab" aria-controls="founders-and-members" aria-selected="false">{% trans 'Founders and members' %}</a>
    {% endif %}
    {% if organization.type.name == 'Cooperative' and organization.tools.all|length > 4 %}
    <a class="tab" href="#tools" id="tools-btn" role="tab" aria-controls="tools" aria-selected="false">{% trans 'Tools used' %}</a>
    {% endif %}
    {% if organization.email or organization.city or organization.country %}
    <a class="tab" href="#contact" id="contact-btn" role="tab" aria-controls="contact" aria-selected="false">{% trans 'Contact' %}</a>
    {% endif %}
  </div>
  <div id="overview" role="tabpanel" aria-labelledby="overview-btn">
    <div class="panel__sidebar">
      <h2>{% trans 'At a glance' %}</h2>
      {% if organization.type.name == 'Cooperative' %}
        <h3 class="h4">{% trans 'Co-op types' %}</h3>
      {% elif organization.type.name == 'Supporting organization' %}
        <h3 class="h4">{% trans 'Organization types' %}</h3>
      {% endif %}
      {% if organization.type.name == 'Cooperative' or organization.type.name == 'Supporting organization' %}
        {% for category in organization.categories.all %}
        {% if forloop.first %}
        <div class="tags">
        {% endif %}
          <span class="badge">{{ category.name }}</span>
        {% if forloop.last %}
        </div>
        {% endif %}
        {% empty %}
        <div class="profile__meta profile__meta--empty">{% trans 'None provided.' %}</div>
        {% endfor %}
      {% endif %}
      <h3 class="h4">{% trans 'Sectors' %}</h3>
        {% for sector in organization.sectors.all %}
        {% if forloop.first %}
        <div class="tags">
        {% endif %}
          <span class="badge">{{ sector.name }}</span>
        {% if forloop.last %}
        </div>
        {% endif %}
        {% empty %}
        <div class="profile__meta profile__meta--empty">{% trans 'None provided.' %}</div>
        {% endfor %}
      {% if organization.type.name == 'Cooperative' %}
      <h3 class="h4">{% trans 'Stage of development' %}</h3>
      {% if organization.stage %}
      <div class="tags">
        <span class="badge">{{ organization.stage }}</span>
      </div>
      {% else %}
        <div class="profile__meta profile__meta--empty">{% trans 'Not provided.' %}</div>
      {% endif %}
      {% endif %}
      {% if organization.type.name != 'Supporting organization' %}
      <h3 class="h4">{% trans 'Number of workers' %}</h3>
      <div class="profile__meta{% if not organization.num_workers %} profile__meta--empty{% endif %}">
        {{ organization.num_workers|default:_('Not provided.') }}
      </div>
      <h3 class="h4">{% trans 'Worker distribution' %}</h3>
      <div class="profile__meta{% if not organization.worker_distribution %} profile__meta--empty{% endif %}">
        {{ organization.worker_distribution_to_s|default:_('Not provided.') }}
      </div>
      {% endif %}
      {% if organization.type.name == 'Cooperative' %}
      <h3 class="h4">{% trans 'Number of members' %}</h3>
      <div class="profile__meta{% if not organization.num_members %} profile__meta--empty{% endif %}">
        {{ organization.num_members|default:_('Not provided.') }}
      </div>
      {% endif %}
      <h3 class="h4">{% trans 'Years in operation' %}</h3>
      <div class="profile__meta{% if not organization.years_operating %} profile__meta--empty{% endif %}">
        {{ organization.years_operating|default:_('Not provided.') }}
      </div>
      {% if organization.type.name == 'Cooperative' %}
      <h3 class="h4">{% trans 'Legal status' %}</h3>
      {% for status in organization.legal_status.all %}
        {% if forloop.first %}
        <div class="tags">
        {% endif %}
        <span class="badge">{{ status.name }}</span>
        {% if forloop.last %}
        </div>
        {% endif %}
        {% empty %}
        <div class="profile__meta profile__meta--empty">{% trans 'None provided.' %}</div>
      {% endfor %}
      <h2>{% trans 'Scope and impact' %}</h2>
      <h3 class="h4">{% trans 'Geographical scope of users/clients' %}</h3>
      <div class="profile__meta{% if not organization.geo_scope %} profile__meta--empty{% endif %}">
        {{ organization.geo_scope|default:_('Not provided.') }}
      </div>
      <h3 class="h4">{% trans 'Number of people impacted' %}</h3>
      <div class="profile__meta{% if not organization.impacted_exact_number %} profile__meta--empty{% endif %}">
        {{ organization.impacted_exact_number|default:_('Not provided.') }}
      </div>
      {% endif %}
    </div>
    <div class="panel__content">
      {% if organization.admin_email == user.email %}
      <div class="edit align-right">
          <a href="{% url 'edit-overview' pk=organization.id %}">{% icon 'edit' %}{% trans 'Edit overview' %}</a>
      </div>
      {% endif %}
      <h2>{% trans 'Description' %}</h2>
      {% if organization.description %}
      <p>{{ organization.description }}</p>
      {% else %}
      <p class="--empty">{% trans 'Not provided.' %}</p>
      {% endif %}
      {% if organization.type.name == 'Cooperative' %}
      <h2>{% trans 'Challenges' %}</h2>
      {% for c in organization.challenges.all %}
        <h3>{{ c.name }}</h3>
        {% if c.description %}
        <p>{{ c.description }}</p>
        {% endif %}
      {% empty %}
        <p class="--empty">{% trans 'None provided.' %}</p>
      {% endfor %}
      <h2>{% trans 'Founders and members' %}</h2>
          <h3>{% trans 'Founders' %}</h3>
          {% for individual in founders|slice:":4" %}
          {% if forloop.first %}
          <ul class="cards">
          {% endif %}
              {% include 'maps/partials/card_individual.html' %}
          {% if forloop.last %}
          </ul>
          {% endif %}
          {% empty %}
          <p class="--empty">{% trans 'None provided.' %}</p>
          {% endfor %}
          {% if founders|length > 4 %}
          <p>
              <button class="button button--borderless" id="founders-btn" type="button">{% blocktrans with cooperative=organization.name %}Show more<span class="screen-reader-text"> founders of {{ cooperative }}</span>{% endblocktrans %}</button>
          </p>
          {% endif %}
          <h3>{% trans 'Members' %}</h3>
          {% for individual in members|slice:":4" %}
          {% if forloop.first %}
          <ul class="cards">
          {% endif %}
              {% include 'maps/partials/card_individual.html' %}
          {% if forloop.last %}
          </ul>
          {% endif %}
          {% empty %}
          <p class="--empty">{% trans 'None provided.' %}</p>
          {% endfor %}
          {% if members|length > 4 %}
          <p>
              <button class="button button--borderless" id="members-btn" type="button">{% blocktrans with cooperative=organization.name %}Show more<span class="screen-reader-text"> members of {{ cooperative }}</span>{% endblocktrans %}</button>
          </p>
          {% endif %}
      <h2>{% trans 'Tools used' %}</h2>
        {% for tool in organization.tools.all|slice:":4" %}
        {% if forloop.first %}
        <ul class="cards">
        {% endif %}
        {% include 'maps/partials/card_tool.html' %}
        {% if forloop.last %}
        </ul>
        {% endif %}
        {% empty %}
        <p class="--empty">{% trans 'None provided.' %}</p>
        {% endfor %}
         {% if organization.tools.all|length > 4 %}
          <p>
              <button class="button button--borderless" id="more-tools-btn" type="button">{% blocktrans with cooperative=organization.name %}Show more<span class="screen-reader-text"> tools used by {{ cooperative }}</span>{% endblocktrans %}</button>
          </p>
          {% endif %}
      {% endif %}
      <h2>{% trans 'Source code' %}</h2>
      {% if organization.code_url %}
      <p><a rel="external" href="{{ organization.code_url }}">{{ organization.code_url }}</a></p>
      {% else %}
      <p class="--empty">{% trans 'Not provided.' %}</p>
      {% endif %}
      <div class="spacer"></div>
      <p>
        <small>
          {% trans 'Last updated:' %} {{ organization.updated_at|date:"F j, Y" }}
        </small>
      </p>
    </div>
  </div>
  {% if organization.type.name == 'Cooperative' and members|length > 4 or founders|length > 4 %}
  <div id="founders-and-members" role="tabpanel" aria-labelledby="founders-and-members-btn">
    <h2>{% trans 'Founders' %}</h2>
    {% for individual in founders %}
    {% if forloop.first %}
    <ul class="cards">
    {% endif %}
        {% include 'maps/partials/card_individual.html' %}
    {% if forloop.last %}
    </ul>
    {% endif %}
    {% empty %}
    <p class="--empty">{% trans 'None provided.' %}</p>
    {% endfor %}
    <h2>{% trans 'Members' %}</h2>
    {% for individual in members %}
    {% if forloop.first %}
    <ul class="cards">
    {% endif %}
        {% include 'maps/partials/card_individual.html' %}
    {% if forloop.last %}
    </ul>
    {% endif %}
    {% empty %}
    <p class="--empty">{% trans 'None provided.' %}</p>
    {% endfor %}
  </div>
  {% endif %}
  {% if organization.type.name == 'Cooperative' and organization.tools.all|length > 4 %}
  <div id="tools" role="tabpanel" aria-labelledby="tools-btn">
  <h2>{% trans 'Tools used' %}</h2>
  <ul class="cards">
    {% for tool in organization.tools.all %}
      {% include 'maps/partials/card_tool.html' %}
    {% endfor %}
  </ul>
  </div>
  {% endif %}
  {% if organization.email or organization.city or organization.country %}
  <div id="contact" role="tabpanel" aria-labelledby="contact-btn">
    {% if organization.admin_email == user.email %}
    <div class="edit align-right">
        <a href="{% url 'edit-contact' pk=organization.id %}">{% icon 'edit' %}{% trans 'Edit contact information' %}</a>
    </div>
    {% endif %}
    <h2>{% trans 'Contact' %}</h2>
    <div class="columns">
    {% if organization.email or organization.phone %}
    <div class="column">
    {% if organization.email %}
    <h3>{% trans 'Email' %}</h3>
    <p><a rel="external" href="mailto:{{ organization.email }}">{{ organization.email }}</a></p>
    {% endif %}
    {% if organization.phone %}
    <h3>{% trans 'Phone' %}</h3>
    <p>{{ organization.phone }}</p>
    {% endif %}
    </div>
    {% endif %}
    <div class="column">
    <h3>{% trans 'Business address' %}</h3>
    <p>
    {% if organization.address %}{{ organization.address }}<br />{% endif %}
    {{ organization.city }}{% if organization.state %}, {{ organization.state }}{% endif %}{% if organization.postal_code %} {{ organization.postal_code }}{% endif %}<br />
    {{ organization.country.name }}
    </p>
    </div>
    {% if organization.organizationsocialnetwork_set.all|length > 0 %}
    <div class="column">
    <h3>{% trans 'Social media' %}</h3>
    {% for sn in organization.organizationsocialnetwork_set.all %}
      {% if sn.socialnetwork.format == 'handle' %}
      <p>
          {% icon sn.socialnetwork.icon %} <a rel="external" href="{{ sn.socialnetwork.base_url }}{{ sn.identifier|cut:'@' }}">{% blocktrans with name=organization.name network=sn.socialnetwork %}{{ name }}’s {{ network }}{% endblocktrans %}</a>
      </p>
      {% else %}
      <p>
          {% icon sn.socialnetwork.icon %} <a rel="external" href="{{ sn.identifier }}">{% blocktrans with name=organization.name network=sn.socialnetwork %}{{ name }}’s {{ network }}{% endblocktrans %}</a>
      </p>
      {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    </div>
  </div>
  {% endif %}
{% endblock %}
