{% extends 'maps/base.html' %}
{% load static %}
{% load i18n %}
{% load maps_extras %}
{% block title %}{{ organization.name|titlify }}{% endblock %}
{% block bodyclass %}page{% endblock %}
{% block content %}
    <div class="page-header">
        <p><a class="link--breadcrumb" href="{% url 'index' %}">{% trans "Home" %}</a></p>
        <h1><span class="pc-ff--sans pc-fw--normal">Platform Co-op</span><br/> Directory</h1>
    </div>
    {% if organization.url %}
    <h1><a rel="external" href="{{ organization.url }}">{{ organization.name }}</a></h1>
    {% else %}
    <h1>{{ organization.name }}</h1>
    {% endif %}

    <div class="spacer"></div>
    <span>
        <span class="screen-reader-text">location: </span>
        <svg class="icon icon--location" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
            <use href="{% static 'maps/dist/images/location.svg#location' %}"/>
        </svg> {{ organization.city }}, {{ organization.country }}
    </span>

    <div class="spacer"></div>
    <div class="tags">
      <table width="100%">
        <tr><td><strong>Sectors:</strong> {{ organization.sectors_to_s }}</td></tr>
        <tr><td><strong>Type:</strong> {{ organization.type|default:'Unknown' }}</td></tr>
        <tr><td><strong>Years in operation:</strong> {{ organization.years_operating }}</td></tr>
        <tr><td><strong>Number of members:</strong> {{ organization.num_workers|default:'Unknown' }}</td>
        <tr><td>
          <strong>Development stage:</strong> {{ organization.stage|default:'Unknown' }}
          <svg class="icon icon--info" aria-hidden="" viewBox="0 0 20 20" focusable="false">
            <use href="{% static 'maps/dist/images/info.svg#info' %}"/>
          </svg>
      </td></tr>
      {% if organization.legal_status %}
      <tr><td>
        <strong>Legal status:</strong> {{ organization.legal_status_to_s }}
        <svg class="icon icon--info" aria-hidden="" viewBox="0 0 20 20" focusable="false">
          <use href="{% static 'maps/dist/images/info.svg#info' %}"/>
        </svg>
      </td></tr>
      {% endif %}
      </table>
    </div>

    <h2>Description</h2>
    {% if organization.description %}
    <p>{{ organization.description }}</p>
    {% else %}
    <p>{% lorem %}</p>
    {% endif %}

    <h2>Challenges</h2>
    {% if organization.challenges.count > 0 %}
      <ul>
      {% for c in organization.challenges.all %}
        <li class="no-bullet">
          <span class="badge">
            {{ c.name }}
             <svg class="icon icon--author" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                <use href="{% static 'maps/dist/images/author.svg#author' %}"/>
            </svg>
          </span>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p>Unknown</p>
    {% endif %}

    <h2>Contact</h2>
    <p>
        {{ organization.address }}<br />
        {{ organization.city }}, {{ organization.country }}<br />
        T: +1 555 555 1212 {# organization.phone #}<br />
        E: {{ organization.email }}<br />
    </p>

    {% if organization.socialnetworks %}
    <h2>Follow</h2>
        <ul>
        {% for sn in organization.organizationsocialnetwork_set.all %}
            {% if sn.socialnetwork.format == 'handle' %}
            <li class="no-bullet"><svg class="icon icon--{{ sn.socialnetwork.icon }}" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                <use href="{% static 'maps/dist/images/'|add:sn.socialnetwork.icon|add:'.svg#'|add:sn.socialnetwork.icon %}"/>
            </svg><span class="screen-reader-text">{{ sn.socialnetwork.name }}</span> <a rel="external"href="{{ sn.socialnetwork.base_url }}{{ sn.identifier|cut:'@' }}">{{ sn.identifier }}</a></li>
            {% else %} {# sn.socialnetwork.format == 'url' #}
            <li class="no-bullet"><svg class="icon icon--{{ sn.socialnetwork.icon }}" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
                <use href="{% static 'maps/dist/images/'|add:sn.socialnetwork.icon|add:'.svg#'|add:sn.socialnetwork.icon %}"/>
            </svg><span class="screen-reader-text">{{ sn.socialnetwork.name }}</span> <a rel="external"href="{{ sn.identifier }}">{{ sn.identifier }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    <h2>Notes</h2>
    {% if organization.notes %}
    <p>{{ organization.notes }}</p>
    {% else %}
    <p>{% lorem %}</p>
    {% endif %}

    <div class="spacer"></div>
    <small>Last updated: {{ organization.updated_at }}</small>

{% endblock %}
