<section class="home__search">
<form role="search" method="get" class="search-form search-form--inverse" action="/">
    <label>
        <span class="screen-reader-text">search</span>
        <input id="s" name="s" placeholder="Search resource name, publisher, or topic…" type="search">
    </label>
    <button type="submit" class="button button--search" disabled><span class="screen-reader-text">submit search</span><svg viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" class="icon icon--search" aria-hidden="true" focusable="true"><path id="search" d="m12 2a6 6 0 0 0 -4.83 9.54l-4.88 4.87a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l4.89-4.89a6 6 0 1 0 3.4-10.94zm0 10a4 4 0 0 1 -2.66-1 .75.75 0 0 0 -.07-.12 1 1 0 0 0 -.17-.11 4 4 0 0 1 -1.1-2.77 4 4 0 1 1 4 4z" fill="currentColor"></path></svg>

</button>
</form>
    
</section>
