{% extends "maps/base.html" %}
{% load static %}
{% load i18n %}
{% load maps_extras %}
{% block bodyclass %}form-wizard{% endblock %}
{% block title %}{{ 'Select role'|titlify }}{% endblock %}}

{% block content %}
    <form class="form" action="" method="post" novalidate>
        <div class="page-header">
            {% include 'maps/profiles/back.html' %}
            <h1>Create a profile: Individual</h1>
            {% include 'maps/profiles/steps.html' %}
        </div>
        {% if form.errors  %}
        {{ form.errors }}
        {% endif %}
        {% csrf_token %}
        {{ wizard.management_form }}
        <div class="form__content">
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
        {% include 'maps/profiles/footer.html' %}
        </div>
    </form>
    {% include 'maps/profiles/cancel.html' %}
{% endblock %}

