{% load i18n %}
{% load static %}

            {% if wizard.steps.prev %}
            <p>
  <button class="button button--secondary button--auto" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"><svg class="icon icon--chevron-left" aria-hidden="true" viewBox="0 0 20 20"  focusable="false"><use href="{% static 'maps/dist/images/chevron-left.svg#chevron-left' %}" /></svg>{% trans "Previous" %}</button>
            </p>
            {% endif %}
            <p class="align-right">Page {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
