{% load maps_extras %}
{% load i18n %}
{% for field in form %}
    {% if field.errors %}
    <div class="notification notification--error" role="alert">
        <button id="button" type="button" class="button button--borderless">{% icon 'close' %}
        <span class="button__label screen-reader-text">{% trans 'Close notification' %}</span></button>
        <p class="notification__title">{% icon 'error' %}{{ field.label | safe }}</p>
        <div class="notification__content">
            {% for error in field.errors %}
            {{ error | escape }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endfor %}
