{% load static %}
{% load maps_extras %}
{% load i18n %}
{% for field in form %}
    {% if field.errors %}
    <div class="notification notification--error" role="alert">
        <button id="button" type="button" class="button button--borderless"><svg class="icon icon--close" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
            <use href="{% static 'maps/dist/images/close.svg#close' %}" />
        </svg>
        <span class="button__label screen-reader-text">{% trans 'Close notification' %}</span></button>
        <p class="notification__title"><svg class="icon icon--error" aria-hidden="true" viewBox="0 0 20 20" focusable="false">
            <use href="{% static 'maps/dist/images/error.svg#error' %}" />
        </svg>{{ field.label | safe }}</p>
        <div class="notification__content">
            {% for error in field.errors %}
            {{ error | escape }}
            {% endfor %}
        </div>
    </div>
    {% endif %}
{% endfor %}
