{% load static %}
  <header role="banner">
    <div class="container">
      <a class="link link--brand" aria-current="page" href="#">
        <svg class="icon icon--pcc icon--lg" viewBox="0 0 32 32" aria-hidden="" focusable="">
            <use href="{% static 'maps/dist/images/pcc.svg#pcc' %}" />
        </svg>
        <span class="brand__title screen-reader-text">2020 Survey of the International Cooperative Digital Ecosystem</span></a>
      <div class="inner">
        2020 Survey of the International Cooperative Digital Ecosystem
      </div>
    </div>
  </header>
