{% extends 'surveys/ecosystem_2020/base.html' %}
{% load static %}
{% load i18n %}
{% load maps_extras %}
{% block title %}{{ '2020 Ecosystem Survey'|titlify }}{% endblock %}
{% block content %}
    <div class="page-header">
      <div class="inside">
          <h1>Welcome</h1>
      </div>
    </div>

  <form class="form" action="" method="post" novalidate>
    {% csrf_token %}
    <h3>Do you need funding for your cooperative digital project?</h3>
    <p>No matter at which stage of development, potential funders, the International Cooperative Alliance, and
      supportive policymakers need to know that you exist!!</p>

    <p>Whether your project just launched or is already fully operational and growing, prospective supporters need to
      understand the significance of your project!</p>

    <p>They need to grasp that you matter. FOR THAT, THEY NEED DATA!</p>

    <p>We need to provide funders and all supporters with reliable information about your project!! Without it, you may
      be dismissed and remain invisible.</p>

    <p><strong>Please help us to help you.</strong></p>

    <p>The survey has been prepared by Prof. Trebor Scholz and Angela Difede at The New School’s Institute for the
      Cooperative Digital Economy. Please feel free to contact us directly with any questions.</p>

    <p>WE WILL ADD THE INFORMATION THAT YOU PROVIDE HERE TO A *PUBLIC INDEX* ON HTTP://PLATFORM.COOP</p>

    <p>
      Our email:<br/>
      <a rel="external" href="mailto:pcc@newschool.edu">pcc@newschool.edu</a>
    </p>

    <p>
      Mail:<br/>
      Institute for the Cooperative Digital Economy<br/>
      The New School<br/>
      79 5th Avenue, Room 1601<br/>
      New York, NY, 10003<br/>
      USA
    </p>

    <div class="spacer"></div>
    <button id="button" type="submit" class="button">
      <span class="button__label">{% trans "Let's begin" %}</span>
    </button>

  </form>

{% endblock %}
