{% extends "maps/base.html" %}
{% load static %}
{% load i18n %}
{% load maps_extras %}

{% block title %}{{ 'Social media'|titlify }}{% endblock %}}

{% block content %}
        <div class="page-header">
          <h1><span class="pc-ff--sans pc-fw--normal">2020 Ecosystem Survey </span><br/> Social media</h1>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {% if form.errors  %}
            {{ form.errors }}
            {% endif %}
            {{ wizard.management_form }}
{% include 'maps/profiles/back_and_steps.html' %}
            {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
              <p><strong>What are the associated social media handles of your enterprise or project?</strong></p>
              <div class="spacer"></div>

            {% for form in wizard.form.forms %}
                <label>{{ form.initial.name }}
                  {{ form.identifier }}
                  {{ form.socialnetwork }}
                </label>
            {% endfor %}
            {% else %}

            {% endif %}

{% include 'maps/profiles/footer.html' %}
        </form>

{% endblock %}
